In [1]:
import pandas as pd
import numpy as np

In [2]:
ports_df = pd.read_csv('ports.csv')

In [3]:
ports_df.head()

,Unnamed: 0,PORT_NAME,INDEX_NO,coords
0,49159,Terminal Pesquero Cta. Quiane,NaN,"((-70.31722387298942, -18.513597026467323),)"
1,49164,Oil Berth,NaN,"((-61.86886473007713, 17.150384410999997),)"
2,16,Port of Basamuk,NaN,"((146.14295817405977, -5.53913255687803),)"
3,26,Victoria,NaN,"((-123.32715191091728, 48.402783083729446),)"
4,34,NaN,NaN,"((126.50786074843957, 36.333661512471735),)"

In [8]:
ports_df.shape

(2913, 4)

In [4]:
distance_df = pd.read_csv('distances.csv')

In [5]:
distance_df.head()

   Unnamed: 0  trip_count  prev_port  next_port    distance  frequency
0        7682     1984063       4410       3658  460.638148        1.0
1        7062     1948666       3658       7083  372.753814        1.0
2        2712     1287366       7083       7084   26.578906        1.0
3        7248     1950728       7084       2814    9.200892        1.0
4        9021     2408140       2814       4035  345.511726        1.0

In [9]:
distance_df.shape

(56154, 6)

In [6]:
routes_df = pd.read_csv('routes.csv')

In [7]:
routes_df.head()

,Unnamed: 0,trip_count,prev_port,next_port,lat,lon,frequency
0,7641,1984063,4410,3658,45.764835,-87.053288,1.0
1,7642,1984063,4410,3658,45.608533,-87.038217,1.0
2,7643,1984063,4410,3658,45.560133,-87.034233,1.0
3,7644,1984063,4410,3658,45.481033,-87.015850,1.0
4,7645,1984063,4410,3658,45.352150,-86.985267,1.0

In [10]:
routes_df.shape

(10882101, 7)