In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
%cd '/content/gdrive/My Drive/pdf'

/content/gdrive/My Drive/pdf

In [ ]:
#!pip install pdfplumber
#!pip install fitz
#!pip install PyMuPDF

In [ ]:
import numpy as np

In [ ]:
#infosys-ar-20.pdf
ls1=[]
import pdfplumber
pdf =   .open("infosys-ar-20.pdf")
import pandas as pd
for page in pdf.pages:
    tables=page.extract_tables({"vertical_strategy": "text", 
                                "horizontal_strategy": "lines_strict"})
    for table in tables:        
        df=pd.DataFrame(table)
        ##df=df.dropna()
        ##df=pd.DataFrame(table[1:],columns=table[0])
        #try:
        #  if '\n' in df.iloc[1][1]:
        #    continue
        #except (TypeError, KeyError,IndexError):
        #  continue
        df=df.replace(r'^\s*$', np.nan, regex=True)
        df=df.dropna(how='all')
        if len(df.index) <= 1: # or len(df.columns) == 1:
          continue
        display(df)
        print(page)
        a=str(page)
        a=a.replace('<','')
        a=a.replace('>','')
        a=a.replace(':','')
        a=a.replace('Page','')
        a=int(a)
        if a in ls1:
          continue
        ls1.append(a)


# \n characters \n

                                                   0  ...                                                  7
0  Banking (for Fi\nBanking T\nfor Best Use o\nIn...  ...                  IBS Gl\n Innova\nwards \nimplemen
1  Digital services\nEnterp\nin BFS\nEnterp\nAppl...  ...  ces \nrvice Prov\nProviders,\ntice deve\n in t...

[2 rows x 8 columns]

<Page:17>

                                                   0  ...                               2
0  2016 2017\nNet profit(1)(2)(3\n(in ` crore)\n3...  ...            2019\n4\n0\n4\n5,\n1
1  2016 2017\nFree cash flow\n(in ` crore)\n3\n0\...  ...            2019\n9\n9\n3\n3,\n1
2  2016 2017\nBasic earnings\n(in `)\n0\n4\n1 1.\...  ...  2019\nare(1)(2)(3\n4\n4\n5.\n3

[3 rows x 3 columns]

<Page:18>

                         0  ...                  3
0  20\nN\n(in\n2\n5\n0\n2,  ...  2019\n9\n9\n1\n2,
1     20\nO\n(in\n0\n5.\n2  ...     2019\n8\n2.\n2
2  20\nD\n(in\n3\n1\n2.\n1  ...  2019\n0\n5\n1.\n2
3                       20  ...               2019

[4 rows x 4 columns]

<Page:18>

                                                   0  ...                        2
0  2018 2019\nReturn on Equ\n(in %)\n7\n2.\n2\n4\...  ...   )(3)(4)(5)(6\n7\n2.\n2
1      2016 2017\nNumber of cli\n2\n6\n92 1,1\n0\n1,  ...        2019\n9\n7\n2\n1,
2  2016 2017\nUtilization (ex\n(in %)\n7\n1.\n8\n...  ...  2019\n traine\n3\n4.\n8

[3 rows x 3 columns]

<Page:19>

                                                   0  ...                               2
0     2016 2017\nNumber of em\n4\n94,044 2,00,36\n1,  ...  2019\ns(2)\n3\n2\n1\n8,\n2\n2,
1                2016 2017\nNumber of US\n9\n1\n4\n1  ...            2019\nillion+ \n5\n2
2  2016 2017\nRevenue per e\n(in US$)\n5\n7\n45 1...  ...     2019\nee(4)\n8\n3\n0\n4,\n5

[3 rows x 3 columns]

<Page:19>

     0                     1            2   ...      11   12      13
0   NaN                   NaN          NaN  ...  2019 G  row  th (%)
1    Fi      nancial performa          nce  ...     NaN  NaN     NaN
2   NaN              Revenues          NaN  ...  82,675  NaN     9.8
3   NaN          Gross profit          NaN  ...  28,808  NaN     4.3
4   NaN      Operating profit          NaN  ...  18,880  NaN     2.6
5   NaN  Profit after tax(1)(           2)  ...  15,410  NaN     8.0
6   NaN    Profit attributabl     e to own  ...  15,404  NaN     7.7
7   NaN      Earnings per sha    re (par v  ...   35.44  NaN    10.0
8   NaN                   NaN          NaN  ...   35.38  NaN    10.0
9    Fi      nancial position          NaN  ...     NaN  NaN     NaN
10  NaN      Cash and cash eq     uivalent  ...  19,568  NaN   (4.7)
11  NaN       Current investm         ents  ...   6,627  NaN  (29.8)
12  NaN     Net current asset            s  ...  34,240  NaN   (1.5)
13  NaN     Property, plant a     nd equip  ...  12,867  NaN     4.1
14  NaN      Goodwill and int      angible  ...   4,231  NaN    69.8
15  NaN     Right-of-use asse         t(3)  ...       –  NaN       –
16  NaN       Other non-curre    nt assets  ...  14,762  NaN   (8.9)
17  NaN          Total assets          NaN  ...  84,738  NaN     9.5
18  NaN  Lease liabilities(3)          NaN  ...       –  NaN       –
19  NaN       Other non-curre  nt liabilit  ...   1,094  NaN    87.8
20  NaN    Total equity attri    butable t  ...  64,948  NaN     0.8
21  NaN       Non-controlling    interests  ...      58  NaN   579.3
22  NaN      Total equity and   liabilitie  ...  84,738  NaN     9.5

[23 rows x 14 columns]

<Page:20>

     0                      1        2   ...     11     12     13
0   NaN                    NaN      NaN  ...   2019  Growt  h (%)
1    Fi    nancial performance      NaN  ...    NaN    NaN    NaN
2   NaN               Revenues      NaN  ...  1,799    NaN    8.3
3   NaN           Gross profit      NaN  ...  4,112    NaN    2.8
4   NaN       Operating profit      NaN  ...  2,696    NaN    1.0
5   NaN       Net profit(1)(2)      NaN  ...  2,200    NaN    6.3
6   NaN  Net profit attributab    le to  ...  2,199    NaN    6.0
7   NaN   Earnings per share (    par v  ...   0.51    NaN    7.8
8   NaN                    NaN      NaN  ...   0.51    NaN    7.8
9    Fi       nancial position      NaN  ...    NaN    NaN    NaN
10  NaN    Cash and cash equiv    alent  ...  2,829      (  12.9)
11  NaN    Current investments      NaN  ...    958      (  35.8)
12  NaN     Net current assets      NaN  ...  4,951      (  10.0)
13  NaN    Property, plant and    equip  ...  1,931    NaN  (6.3)
14  NaN     Goodwill and intan    gible  ...    612    NaN   55.2
15  NaN  Right-of-use asset(3)      NaN  ...      –    NaN      –
16  NaN    Other non-current a   ssets(  ...  2,065      (  15.9)
17  NaN           Total assets      NaN  ...  2,252    NaN    0.1
18  NaN   Lease liabilities(3)      NaN  ...      –    NaN      –
19  NaN    Other non-current l  iabilit  ...    159    NaN   71.1
20  NaN  Total equity attribut   able t  ...  9,391    NaN  (7.9)
21  NaN    Non-controlling int   erests  ...      9    NaN  511.1
22  NaN  Total equity and liab   ilitie  ...  2,252    NaN    0.1

[23 rows x 14 columns]

<Page:21>

                                       0  ...       10
0                            Particulars  ...      ted
1                                   None  ...  rch 31,
2                                   None  ...     2019
3                        Revenue from op  ...   82,675
4                          Cost of sales  ...   53,867
5                           Gross profit  ...   28,808
6                        Operating expen  ...      NaN
7                         Selling and ma  ...    4,473
8                         General and ad  ...    5,455
9                      Total operating e  ...    9,928
10                      Operating profit  ...   18,880
11                     Reduction in fair  ...    (270)
12  Adjustment in re\non reclassificatio  ...    (451)
13                          Finance cost  ...        –
14                       Other income, n  ...    2,882
15                     Profit before tax  ...   21,041
16                        Tax expense(3)  ...    5,631
17                      Profit after tax  ...   15,410
18                    Profit attributabl  ...   15,404
19                       Non-controlling  ...        6
20                        Other comprehe  ...      NaN
21                     Items that will n  ...       48
22                     Items that will b  ...       86
23                      Total other comp  ...      134
24       Total comprehen\nof the Company  ...   15,538
25                       Non-controlling  ...        6
26                      Earnings per sha  ...      NaN
27                                 Basic  ...    35.44
28                               Diluted  ...    35.38

[29 rows x 11 columns]

<Page:22>

              0                                 1  ...      7          8
0         Parti                            culars  ...   date          d
1          None                              None  ...  rch 3         1,
2          None                              None  ...    NaN       2019
3          Cash                     and cash equi  ...    NaN     19,568
4          Curr                    ent investment  ...    NaN      6,627
5         Net c                     urrent assets  ...    NaN     34,240
6   Prop\n(incl  erty, plant and\nuding capital w  ...    NaN     12,867
7         Right                   -of-use assets(  ...    NaN          –
8          Good                              will  ...    NaN      3,540
9          Othe                   r intangible as  ...    NaN        691
10         Othe                     r non-current  ...    NaN     14,762
11        Total                            assets  ...    NaN     84,738
12        Lease                    liabilities(3)  ...    NaN          –
13         Othe                     r non-current  ...    NaN      1,094
14        Retai                    ned earnings –  ...    NaN     58,477
15           Ad                               d :  ...    NaN        NaN
16          Pro                   fit for the yea  ...    NaN     15,404
17      Tra\nRe    nsfer from Sp\nserve on utiliz  ...    NaN      1,430
18          Les                               s :  ...    NaN        NaN
19           Im                    pact of adopti  ...    NaN          –
20           Di                    vidends includ  ...    NaN   (13,712)
21           Bu                    yback of equit  ...    NaN          –
22      Eff\npa     ect of modifica\nyment awards  ...    NaN          –
23          Tra                    nsfer to gener  ...    NaN    (1,615)
24      Tra\nRe          nsfer to Speci\nserve(2)  ...    NaN    (2,417)
25          Tra                    nsferred to ot  ...    NaN        (1)
26          Fin                  ancial liability  ...    NaN          –
27        Retai                    ned earnings –  ...    NaN     57,566
28        Equit                    y share capita  ...    NaN      2,170
29         Othe                    r reserves and  ...    NaN      4,309
30         Othe                     r comprehensi  ...    NaN        903
31         Non-                   controlling int  ...    NaN         58
32        Total                         equity(1)  ...    NaN     65,006
33        Total                    equity and lia  ...    NaN     84,738
34          Num                   ber of equity s  ...   433,  59,54,462

[35 rows x 9 columns]

<Page:23>

              0  ...     14
0           Par  ...    NaN
1          None  ...    (%)
2            Re  ...    8.1
3            Gr  ...    2.1
4           Sel  ...    4.2
5            Ge  ...    7.1
6            Op  ...    0.5
7           Pro  ...    2.8
8            Ne  ...    5.7
9            Ea  ...    NaN
10            B  ...    8.0
11           Su  ...  e dat
12          Par  ...    NaN
13         None  ...    (%)
14           Re  ...    9.8
15           Gr  ...    4.3
16          Sel  ...    5.3
17           Ge  ...    9.5
18           Op  ...    2.6
19          Pro  ...    4.6
20           Ne  ...    8.0
21          Pro  ...    7.7
22           Ea  ...    NaN
23            B  ...   10.0
24  (1)  R\nBas  ...     %)
25         None  ...   None
26         None  ...   None
27         None  ...   None
28         None  ...   None

[29 rows x 15 columns]

<Page:24>

                0  ...                           8
0             NaN  ...                           9
1            None  ...  idend payout\n(in ` crore)
2   Interim divid  ...                       3,680
3   Final dividen  ...                       5,446
4   Special divid  ...                       2,107
5   Total dividen  ...                         NaN
6  Payout ratio (  ...                         NaN

[7 rows x 9 columns]

<Page:26>

                0
0     ze the core
1  d localization

<Page:27>

                       0  ...                       16
0   Anne\nPursua\nList o  ...              xchange rat
1              Sl. \nNo.  ...       % of\nshareholding
2                      1  ...                    99.99
3                      2  ...                   100.00
4                      3  ...                    99.99
5                      4  ...                   100.00
6                      5  ...                   100.00
7                      6  ...                   100.00
8                      7  ...                    75.00
9                      8  ...                    99.99
10                     9  ...                   100.00
11                    10  ...                    60.00
12                    11  ...                   100.00
13                    12  ...                   100.00
14                    13  ...                   100.00
15            14\n15\n16  ...  81.00\n 100.00\n 100.00

[16 rows x 17 columns]

<Page:34>

                     0  ...                                         16
0            Sl. \nNo.  ...                         % of\nshareholding
1                   17  ...                                      99.99
2                   18  ...                                     100.00
3                   19  ...                                     100.00
4                   20  ...                                      99.99
5                   21  ...                                     100.00
6                   22  ...                                      53.99
7                   23  ...                                     100.00
8                   24  ...                                     100.00
9                   25  ...                                     100.00
10                  26  ...                                      99.99
11                  27  ...                                     100.00
12                  28  ...                                     100.00
13                  29  ...                                     100.00
14  30\n31\n32\n33\n34  ...  100.00\n 75.00\n 100.00\n 100.00\n 100.00

[15 rows x 17 columns]

<Page:35>

                 0  ...                                 17
0        Sl. \nNo.  ...                 % of\nshareholding
1               35  ...                             100.00
2               36  ...                             100.00
3               37  ...                              99.90
4               38  ...                             100.00
5               39  ...                             100.00
6               40  ...                             100.00
7               41  ...                             100.00
8               42  ...                              99.99
9               43  ...                             100.00
10              44  ...                             100.00
11              45  ...                             100.00
12              46  ...                              75.00
13              47  ...                             100.00
14  48\n49\n50\n51  ...  100.00\n 100.00\n 100.00\n 100.00
15              52  ...                             100.00

[16 rows x 18 columns]

<Page:36>

                                                   0  ...                                                 16
0                                          Sl. \nNo.  ...                                 % of\nshareholding
1                                             53\n54  ...                                    100.00\n 100.00
2  55\n56\n57\n58\n59\n60\n61\n62\n63\n64\n65\n66...  ...  100.00\n 100.00\n 100.00\n 100.00\n 100.00\n 1...

[3 rows x 17 columns]

<Page:37>

                                                   0  ...                               23
0                                    Sl.  Name \nNo.  ...               % of\nshareholding
1  71 Simp\nLtd.(2\n72 Simp\nLtd.(2\n73 Brillia\n...  ...         100.00\n 100.00\n 100.00
3  (1)  Converte\n(2)  Wholly-o\n(3)  Wholly-o\n(...  ...  er 29, 2018, \nubsidiary of \n.
4                                                NaN  ...                             None
7                                                NaN  ...                             None

[5 rows x 24 columns]

<Page:38>

            0                   1   ...   10                 11
0      Name of       related party  ...  (in  Amount\n ` crore)
1    Nature of            contract  ...  NaN                NaN
2     Investme  nt in equity instr  ...  NaN                NaN
3      Infosys     Consulting Ltda  ...  NaN                140
4      Infosys      BPM Limited(2)  ...  NaN                  1
5          NaN                 NaN  ...  NaN                141
6     Purchase         of services  ...  NaN                NaN
7      Infy Co      nsulting Compa  ...  NaN                552
8      Infosys         BPM Limited  ...  NaN                422
9      Infosys       Management Co  ...  NaN                 61
10     Infosys     Technologies (C  ...  NaN                 46
11      Panaya                Ltd.  ...  NaN                 54
12     Infosys     Technologies S.  ...  NaN                 45
13     Infosys    Public Services,  ...  NaN                 21
14     Infosys      McCamish Syste  ...  NaN                  4
15    Brillian    t Basics Limited  ...  NaN                 62
16         NaN                 NaN  ...  NaN              1,267
17    Purchase   of shared service  ...  NaN                NaN
18     Infosys         BPM Limited  ...  NaN                  2
19    Brillian    t Basics Limited  ...  NaN                  4
20         NaN                 NaN  ...  NaN                  6
21  Sale of se              rvices  ...  NaN                NaN
22     Infosys    Public Services,  ...  NaN                409
23      EdgeVe     rve Systems Lim  ...  NaN                347

[24 rows x 12 columns]

<Page:39>

                                                 0  ...                 10
0                             ame of related party  ...  Amount\n ` crore)
1                                 Infosys McCamish  ...                192
2                               Infosys BPM Limite  ...                 72
3                               Infy Consulting Co  ...                 27
4                               Infosys Technologi  ...                 13
5                               Infosys Technologi  ...                 18
6                                              NaN  ...              1,078
7                             le of shared service  ...                NaN
8                               Infosys BPM Limite  ...                 15
9                                      Panaya Ltd.  ...                 18
10                               EdgeVerve Systems  ...                 21
11                                             NaN  ...                 54
12  Appropriate approvals \nRepresents purchase of  ...                le.

[13 rows x 11 columns]

<Page:40>

                    0       1   ...        14   15
0                 Name     NaN  ...  fiscal 2  020
1      Nandan M. Nilek  ani(2)  ...       NaN    –
2      Kiran Mazumdar-    Shaw  ...       NaN    –
3       Roopa Kudva(3)     NaN  ...       NaN    –
4     Dr. Punita Kumar  -Sinha  ...       NaN    –
5      D.N. Prahlad(4)     NaN  ...       NaN    –
6          D. Sundaram     NaN  ...       NaN    –
7     Michael Gibbs(5)     NaN  ...       NaN    –
8      Salil Parekh(6)     NaN  ...    3,53,8   07
9   U.B. Pravin Rao(7)     NaN  ...    1,12,3   05
10     Nilanjan Roy(8)     NaN  ...      76,7   07
11    A.G.S. Manikanth    a(9)  ...       5,3   70

[12 rows x 16 columns]

<Page:41>

                                                    0  ...                  15
0                   There has been no c\nfiscal 2020.  ...            ) during
1                                    On the recommend  ...                 NaN
2                               i)  the grant of 1,77  ...                 NaN
3                               ii) the grant of 41,7  ...                 NaN
4          iii) the grant of 1,34\ncriteria as laid o  ...              rmance
5                                 These RSUs will ves  ...                 NaN
6   The Board, on Apr\nperformance-based \nPlan. T...  ...  grant of \nhe 2019
7            There has been no c\nduring fiscal 2020.  ...             88 RSUs
8                                    On the recommend  ...                 NaN
9                               i)  the grant of 58,6  ...                 NaN
10           ii) the grant of 53,\ncriteria as laid o  ...              rmance
11                                These RSUs will ves  ...                 NaN
12  The Board, on Apri\nperformance-based \nat the...  ...   annual \net price
13                                   On the recommend  ...                 NaN
14                              i)  the grant of 23,9  ...                 NaN
15                              ii) the grant of 10,2  ...                 NaN
16                             iii) the grant of 22,4  ...                 NaN
17             iv) the grant of 20,0\nout in the 2019  ...           a as laid
18                                These RSUs will ves  ...                 NaN
19  The Board, on Apri\nperformance-based \nof tra...  ...   annual \nhe close
20                                 Remuneration inclu  ...                 NaN
21                                   On the recommend  ...                 NaN
22                              i)  the grant of 1,37  ...                 NaN
23             ii) the grant of 4,00\nout in the 2019  ...           a as laid
24                                These RSUs will ves  ...                 NaN

[25 rows x 16 columns]

<Page:42>

            0                        1   ...        17             18
0         Empl                oyee name  ...      nt a             nd
1        Salil                   Parekh  ...      ctor        General
2         Ravi                 Kumar S.  ...      tion              ,
3         Mohi                  t Joshi  ...        k,        Manager
4  Inder\nU.B.  preet Sawhn\nPravin Rao  ...  ce \nnse  President \nl
5         Mark               Livingston  ...   Con\nnt        sulting
6        Scott                  Sorokin  ...       , C           hief
7   Karm\nVasw            esh Gul \nani  ...       r M         anager
8         Char              les Salameh  ...  , V\nPur   P GM \nsuits
9         Davi                 d Wilson  ...       ent              –

[10 rows x 19 columns]

<Page:43>

                      0  ...               7
0             s and Exc  ...    tions, 2011;
1             s and Exc  ...             NaN
2             s and Exc  ...             NaN
3   s and Exc\n Compani  ...  ulations, 1993
4             s and Exc  ...   ations, 2015;
5             s and Exc  ...             NaN
6           able specif  ...             NaN
7             ion Techn  ...             NaN
8               conomic  ...             NaN
9             hnology P  ...             NaN
10            opy Right  ...             NaN
11           Act, 1970;  ...             NaN
12          arks Act, 1  ...             NaN

[13 rows x 8 columns]

<Page:45>

                                                   0  ...                                                  9
0                                   a) The Securitie  ...                                              ; and
1                                   b) The Securitie  ...                                                NaN
2                      c) The Securiti\nrequiring co  ...                                 Regulations, 2018,
3  I further report\nmaintenance of f\nto review ...  ...  indirect tax laws and\name have been subject\n...
4              Place : Bengaluru\nDate : April 20, 2  ...  Sd/-\nP.G. Hegde\nHegde & Hegde\nCompany Secre...

[5 rows x 10 columns]

<Page:46>

                             0  ...                    7
0                         None  ...                1 1 5
2                 Registration  ...                  NaN
4                  Name of the  ...                  NaN
6                Category / su  ...                  NaN
8                Address of th  ...                s.com
10                Listed compa  ...                  NaN
12  Name, addre\ntransfer agen  ...            y Fintech
13               II. Principal  ...                  NaN
14                  Name and d  ...  l turnover\nCompany
15      Computer p\nactivities  ...                  100

[10 rows x 8 columns]

<Page:48>

                                           0  ...               5
0                         Name of the partie  ...  g as at\n 2020
1                       Brilliant Basics (ME  ...             100
2                       Brilliant Basics Hol  ...             100
3                       Brilliant Basics Lim  ...             100
4                          EdgeVerve Systems  ...             100
5                           Fluido Denmark A  ...             100
6                            Fluido Newco AB  ...             100
7                          Fluido Norway A/S  ...             100
8                                  Fluido Oy  ...             100
9                       Fluido Slovakia s.r.  ...             100
10                          Fluido Sweden AB  ...             100
11                        Infosys (Czech Rep  ...           99.99
12                        Infosys Americas I  ...             100
13                        Infosys Arabia Lim  ...              70
14                 Infosys Austria Gm\nGmbH)  ...             100
15                        Infosys BPM Limite  ...           99.99
16                         Infosys BPO Ameri  ...           99.99
17                         Infosys Chile SpA  ...             100
18                         Infosys Compaz Pt  ...              60
19                        Infosys Consulting  ...           99.90
20  Infosys Consulting\nConsultants Co. Ltd.  ...             100
21                        Infosys Consulting  ...             100
22                        Infosys Consulting  ...             100
23                        Infosys Consulting  ...             100
24                        Infosys Consulting  ...             100
25                        Infosys Consulting  ...             100
26                        Infosys Consulting  ...             100
27                        Infosys Consulting  ...             100
28                        Infosys Consulting  ...             100
29                         Infosys Luxembour  ...             100
30                          Infosys Manageme  ...             100
31                          Infosys McCamish  ...           99.99
32                        Infosys Middle Eas  ...             100
33                        Infosys Nova Holdi  ...             100
34                        Infosys Poland Sp.  ...           99.99

[35 rows x 6 columns]

<Page:49>

                   0  ...               5
0     Name of the pa  ...  g as at\n 2020
1     Infosys Public  ...             100
2     Infosys Techno  ...             100
3     Infosys Techno  ...             100
4     Infosys Techno  ...             100
5     Infosys Techno  ...             100
6    Infy Consulting  ...             100
7    Infy Consulting  ...             100
8      Kallidus Inc.  ...             100
9      Lodestone Man  ...             100
10       Panaya GmbH  ...             100
11       Panaya Inc.  ...             100
12       Panaya Ltd.  ...             100
13    Portland Group  ...           99.99
14   Infosys Consult  ...             100
15     Skava Systems  ...             100
16         WDW Commu  ...             100
17       WongDoody H  ...             100
18     WongDoody, In  ...             100
19    Infosys Canada  ...             100
20    Infosys CIS LL  ...             100
21   Infosys South A  ...             100
22    HIPUS Co., Ltd  ...              81
23    Stater N.V.(3)  ...              75
24     HypoCasso B.V  ...              75
25   Stater Duitslan  ...              75
26   Stater Nederlan  ...              75
27  Stater Participa  ...              75
28   Stater XXL B.V.  ...              75
29   Stater Deutschl  ...              75
30   Stater Deutschl  ...              75
31    Stater Belgium  ...           53.99
32    Infosys Consul  ...           99.99
33     Outbox System  ...             100
34     Simplus ANZ P  ...             100
35     Simplus Europ  ...             100
36     Simplus North  ...             100
37    Simplus Philip  ...             100

[38 rows x 6 columns]

<Page:50>

   0              1   ...                                          14           15
0   N  ame of the pa  ...  Holding / Subsidiary  % holding\nMarch 31,  as at\n2020
1  Si  mplus Ireland  ...                                  Subsidiary          100
2  Si  mplus U.K., L  ...                                  Subsidiary          100
3  Si  mplus Austral  ...                                  Subsidiary          100
4  Sq   ware Peg Dig  ...                                  Subsidiary          100

[5 rows x 16 columns]

<Page:51>

             0        1   ...                        12                       13
0   Categ\ncode      ory  ...  % \nf total \nares (2) t  change\nduring\nhe year
1          None     None  ...                      None                     None
2           (I)      NaN  ...                       (X)                     (XI)
3           (A)    Promo  ...                       NaN                      NaN
4           (1)   Indian  ...                       NaN                      NaN
5           NaN      (a)  ...                     13.15                     0.31
6           NaN      (b)  ...                         –                        –
7           NaN      (c)  ...                         –                        –
8           NaN      (d)  ...                         –                        –
9           NaN      (e)  ...                         –                        –
10          NaN      (f)  ...                         –                        –
11          NaN   Sub-to  ...                     13.15                     0.31
12          (2)   Foreig  ...                       NaN                      NaN
13          NaN   Sub-to  ...                         –                        –
14        Total    share  ...                     13.15                     0.31
15          (B)   Public  ...                       NaN                      NaN
16          (1)  Institu  ...                       NaN                      NaN
17          NaN      (a)  ...                     13.66                     0.25
18          NaN      (b)  ...                      0.13                     0.01
19          NaN      (c)  ...                         –                        –
20          NaN      (d)  ...                         –                        –
21          NaN      (e)  ...                         –                        –
22          NaN      (f)  ...                     10.73                     1.53
23          NaN      (g)  ...                     31.01                   (3.03)
24          NaN      (h)  ...                         –                        –
25          NaN      (i)  ...                       NaN                      NaN
26          NaN      NaN  ...                      0.16                        –
27          NaN   Sub-to  ...                     55.69                   (1.24)
28          (2)    Non-i  ...                       NaN                      NaN
29          NaN      (a)  ...                      0.95                   (0.83)
30          NaN      (b)  ...                       NaN                      NaN
31          NaN      NaN  ...                      4.86                     0.39
32          NaN      NaN  ...                      5.06                     0.02
33          NaN      (c)  ...                       NaN                      NaN
34          NaN      NaN  ...                      0.05                     0.03
35          NaN      NaN  ...                         –                   (0.03)
36          NaN      NaN  ...                      0.66                     0.06
37          NaN      NaN  ...                      1.40                     0.22
38          NaN      NaN  ...                      0.01                     0.01

[39 rows x 14 columns]

<Page:52>

                                                    0  ...                        20
0                                     Category \ncode  ...   change\nduring\nhe year
1                                                None  ...                      None
2                                                 (I)  ...                      (XI)
3                                                 NaN  ...                      0.81
4                                              Sub-to  ...                      0.68
5                                        Total public  ...                    (0.56)
6                                         Total (A+B)  ...                    (0.25)
7                                         (C)  Shares  ...                      0.25
8                                         Grand total  ...                         –
9   (1)  Percentag\n(3)  Includes 2\nshares as \ni...  ...              year\n00,000
10                                         Name of th  ...  nge in \nolding \ne year
11                                               None  ...                      None
12                                          Sudha Gop  ...                      0.05
13                                          Rohan Mur  ...                      0.04
14                                        S. Gopalakr  ...                      0.02
15                                          Nandan M.  ...                      0.02
16                                         Akshata Mu  ...                      0.02
17                                         Asha Dines  ...                      0.03
18                                         Sudha N. M  ...                      0.02
19                                        Rohini Nile  ...                      0.02
20                                        Dinesh Kris  ...                      0.02
21                                        Shreyas Shi  ...                      0.02
22                                        Shruti Shib  ...                         –
23                                        S.D. Shibul  ...                         –
24                                         N.R. Naray  ...                      0.01
25                                        Nihar Nilek  ...                      0.01
26                                        Janhavi Nil  ...                      0.01
27                                         Kumari Shi  ...                      0.01
28                                         Divya Dine  ...                         –
29                                         Deeksha Di  ...                         –
30                                          Meghana G  ...                         –
31                       (1)  Percentag\nii)(b)  Shar  ...                      year
32                                         Name of th  ...  nge in \nolding \ne year
33                                               None  ...                      None
34                                          Gaurav Ma  ...                         –
35                                        Milan Shibu  ...                      0.01
36                                        Bhairavi Ma  ...                         –

[37 rows x 21 columns]

<Page:53>

                    0  ...                        11
0             Name of  ...                 lding \nr
1                None  ...  total shares\nCompany(2)
2   Nandan \nindepend  ...                       NaN
3              At the  ...                       NaN
4              (+) ES  ...                      0.96
5             (+) Pur  ...                      0.96
6            (-) Sale  ...                      0.96
7              At the  ...                      0.96
8          Salil Pare  ...                       NaN
9              At the  ...                       NaN
10             (+) ES  ...                      0.01
11            (+) Pur  ...                      0.01
12           (-) Sale  ...                         –
13             At the  ...                         –
14          U.B. Prav  ...                       NaN
15             At the  ...                       NaN
16             (+) ES  ...                      0.03
17            (+) Pur  ...                      0.03
18           (-) Sale  ...                      0.03
19             At the  ...                      0.03
20           D.N. Pra  ...                       NaN
21             At the  ...                       NaN
22             (+) ES  ...                      0.05
23            (+) Pur  ...                      0.05
24           (-) Sale  ...                      0.04
25             At the  ...                      0.04
26           A.G.S. M  ...                       NaN
27             At the  ...                       NaN
28             (+) ES  ...                         –
29            (+) Pur  ...                         –
30           (-) Sale  ...                         –
31             At the  ...                         –
32           Inderpre  ...                       NaN
33             At the  ...                       NaN
34             (+) ES  ...                         –
35            (+) Pur  ...                         –
36           (-) Sale  ...                         –
37             At the  ...                         –
38           Krishnam  ...                       NaN
39             At the  ...                       NaN
40             (+) ES  ...                         –
41            (+) Pur  ...                         –
42           (-) Sale  ...                         –
43             At the  ...                         –
44           Mohit Jo  ...                       NaN
45             At the  ...                       NaN
46             (+) ES  ...                         –
47            (+) Pur  ...                         –
48           (-) Sale  ...                         –
49             At the  ...                         –

[50 rows x 12 columns]

<Page:54>

      0                      1   ...           10                             11
0      N          ame of the sh  ...  hare\nhe ye                   holding \nar
1   None                   None  ...  % of t\nthe  otal shares of\nCompany(2)(3)
2     Li           fe Insurance  ...          NaN                            NaN
3    NaN           At the begin  ...          NaN                            NaN
4    NaN            Purchase(s)  ...          NaN                           6.55
5    NaN                Sale(s)  ...          NaN                           6.62
6    NaN           At the end o  ...          NaN                           6.62
7     SB            I Mutual Fu  ...          NaN                            NaN
8    NaN           At the begin  ...          NaN                            NaN
9    NaN            Purchase(s)  ...          NaN                           3.52
10   NaN                Sale(s)  ...          NaN                           2.56
11   NaN           At the end o  ...          NaN                           2.56
12     H             DFC Mutual  ...          NaN                            NaN
13   NaN           At the begin  ...          NaN                            NaN
14   NaN  Purchase(s) \nSale(s)  ...          NaN                     3.14\n2.50
15   NaN           At the end o  ...          NaN                           2.50
16     I           CICI Prudent  ...          NaN                            NaN
17   NaN           At the begin  ...          NaN                            NaN
18   NaN            Purchase(s)  ...          NaN                           3.45
19   NaN                Sale(s)  ...          NaN                           1.86
20   NaN           At the end o  ...          NaN                           1.86
21     G           overnment of  ...          NaN                            NaN
22   NaN           At the begin  ...          NaN                            NaN
23   NaN            Purchase(s)  ...          NaN                           2.20
24   NaN                Sale(s)  ...          NaN                           1.64
25   NaN           At the end o  ...          NaN                           1.64
26    IC           ICI Prudenti  ...          NaN                            NaN
27   NaN           At the begin  ...          NaN                            NaN
28   NaN            Purchase(s)  ...          NaN                           1.76
29   NaN                Sale(s)  ...          NaN                           1.54
30   NaN           At the end o  ...          NaN                           1.54
31    Va           nguard Total  ...          NaN                            NaN
32   NaN           At the begin  ...          NaN                            NaN
33   NaN            Purchase(s)  ...          NaN                           1.57
34   NaN                Sale(s)  ...          NaN                           1.52
35   NaN           At the end o  ...          NaN                           1.52
36    Va             nguard Eme  ...          NaN                            NaN
37   NaN           At the begin  ...          NaN                            NaN
38   NaN            Purchase(s)  ...          NaN                           1.38
39   NaN                Sale(s)  ...          NaN                           1.27
40   NaN           At the end o  ...          NaN                           1.27

[41 rows x 12 columns]

<Page:55>

                                                    0  ...                                                 10
0                                         Name of the  ...                                       holding \nar
1                                                None  ...                      otal shares of\nCompany(2)(3)
2                                          Government  ...                                                NaN
3                                          At the beg  ...                                                NaN
4                                          Purchase(s  ...                                               1.27
5                                             Sale(s)  ...                                               1.20
6                                          At the end  ...                                               1.20
7                                          UTI Mutual  ...                                                NaN
8                                          At the beg  ...                                                NaN
9                                          Purchase(s  ...                                               1.37
10                                            Sale(s)  ...                                               1.20
11                                         At the end  ...                                               1.20
12  Note : The date\nwww.info\n(1) Based on\n(2) P...  ...                       on our website\nr\nin ` cror
13                                      Particulars o  ...                                       Total amount
14                                               None  ...                                                NaN
15                                       Gross salary  ...                                                NaN
16                              Salary as \nIncome-ta  ...                                              24.94
17                                         Value of p  ...                                                  –
18                                      Profits in li  ...                                                  –
19                                       Stock option  ...                                              19.36
20                                       Sweat equity  ...                                                  –
21                                         Commission  ...                                                  –
22                                          Others(4)  ...                                               0.57
23                                          Total (A)  ...                                              44.87
24                                      Ceiling as pe  ...                                              2,065
25                                               None  ...                 incentives only \nis not included.
26                                               None  ...                                                NaN
27                                               None  ...                                     agreement, the
28                                               None  ...                                                NaN
29                                               None  ...                                                 20
30                                               None  ...                                  . These will vest
31                                               None  ...                                                NaN
32                                               None  ...  e with the terms\nr the 2015 Plan.\nSUs under ...
33                                               None  ...                                                NaN
34                                               None  ...                                   t agreement, the
35                                               None  ...                                                NaN
36                                               None  ...                                  . These will vest
37                                               None  ...                                                NaN

[38 rows x 11 columns]

<Page:56>

           0  ...                                                 11
0       None  ...                           e terms\ne 2019\nlose of
1       None  ...                                             ` cror
2      Parti  ...                                              Total
3       None  ...                                               None
4       Gros  ...                                                NaN
5   Sal\nthe  ...                                              33.97
6   Val\nInc  ...                                                  –
7   Pro\nInc  ...                                                  –
8      Stock  ...                                              18.00
9       Swea  ...                                                  –
10       Com  ...                                                  –
11      Othe  ...                                               2.70
12     Total  ...                                              54.67
13      None  ...  nt, the \nrms of\ne RSUs \n, 2020.\nent, th\n ...
14      None  ...                                                NaN

[15 rows x 12 columns]

<Page:57>

                                                    0  ...             15
0                                  Particulars of rem  ...  Total\nAmount
1                                                None  ...           None
2                                    Independent dire  ...            NaN
3                                   Fee for attending  ...              –
4                                          Commission  ...        7.41\n–
5                                   Others, please sp  ...           None
6                                            Total(1)  ...           7.41
7                                    Other non-execut  ...            NaN
8                                   Fee for attending  ...              –
9                                          Commission  ...              –
10                                  Others, please sp  ...              –
11                                           Total(2)  ...              –
12                                         Total(1+2)  ...           7.41
13                                 Total managerial r  ...           7.41
14                                 Overall ceiling as  ...            207
15  Notes : The details in t\n(1) Nandan M. Nil\n(...  ...            NaN
16                                               Type  ...           ils)
17                                         A. Company  ...            NaN
18                                        Compounding  ...            NaN
19                                               None  ...           None
20                                               None  ...           None
21                                               None  ...           None

[22 rows x 16 columns]

<Page:58>

                     0                   1   ...                 11              12
0                  Type  Section \nof the C  ...  Appeal \nif any (  made,\ngive de
1          B. Directors                 NaN  ...                NaN             NaN
2           Compounding             Section  ...                NaN              No
3                  None             Section  ...               None            None
4                  None             Section  ...               None            None
5                  None             Section  ...               None            None
6   C. Other officers i            n defaul  ...                NaN             NaN
7           Compounding             Section  ...                NaN              No
8                  None             Section  ...               None            None
9                  None             Section  ...               None            None
10                 None             Section  ...               None            None

[11 rows x 13 columns]

<Page:59>

                         0                  1  ...             4       5
0              Particulars                NaN  ...           NaN  Amount
1  Average net profit of t     he Company for  ...           ars  17,978
2     Prescribed CSR expen   diture (2% of th  ...  puted above)     NaN
3    Total amount to be sp  ent for the finan  ...           NaN  359.56
4             Amount spent                NaN  ...           NaN  359.94
5           Amount unspent                NaN  ...           NaN       –

[6 rows x 6 columns]

<Page:60>

                                     0  ...                                                  6
0                     eme-based CSR pr  ...  Cumulative\nexpenditure\nup to the\nreporting\...
1           Expenditure on\nFoundation  ...                                                NaN
2                    estitute care and  ...                                                NaN
3                      COVID-19 relief  ...                                              50.00
4                      COVID-19 relief  ...                                              22.62
5                     Infosys Asha Niv  ...                                              24.42
6   Infosys Foundati\nMedical Sciences  ...                                              13.24
7                      Construction of  ...                                              13.19
8                   Flood relief effor  ...                                              10.41
9                      Smart highway p  ...                                               7.01
10                   Relief to martyrs  ...                                               5.10
11                     Indian Red Cros  ...                                               1.40
12                     omoting educati  ...                                                NaN
13                    Data Security Co  ...                                              20.12
14                    Indian Institute  ...                                              19.19
15                      Ramakrishna Mi  ...                                               5.00
16                    Aarohan Social I  ...                                               4.27
17                    Public Health Fo  ...                                               3.32
18                      Ramakrishna Mi  ...                                               3.77
19                    Parivaar Educati  ...                                               1.00
20                      Avanti Fellows  ...                                               1.00
21                     omoting healthc  ...                                                NaN
22                      Kidwai Memoria  ...                                              20.00
23         Sri Jayadeva Inst\nResearch  ...                                              13.63
24                    Infant and Mater  ...                                              10.50
25                  Vittala Internatio  ...                                               2.40
26                     ral development  ...                                                NaN
27                    Road constructio  ...                                              31.09
28                   Visakha Jilla Nav  ...                                               6.04
29                    Agastya Internat  ...                                               2.50
30                     Sadguru Seva Sa  ...                                               5.00
31                     Saraswathi Educ  ...                                               2.00
32                      Ramakrishna Mi  ...                                               1.00
33                      Shivganga Sama  ...                                               1.00
34                     Maitreyee Guruk  ...                                               1.00

[35 rows x 7 columns]

<Page:61>

                                                    0  ...                                                 11
0                                     Theme-based CSR  ...  Cumulative\nexpenditure\nup to the\nreporting\...
1                                     Environmental s  ...                                                NaN
2                                      Infrastructure  ...                                              41.01
3                                              Others  ...                                              14.68
4                                    (ii) Expenditure  ...                                                NaN
5                                     Promoting educa  ...                                                NaN
6                                      Infosys Scienc  ...                                              35.00
7                                    Tata Institute o  ...                                               4.00
8                                     Environmental s  ...                                                NaN
9                                      Rejuvenation o  ...                                              73.24
10                                     Biogas Project  ...                                              19.66
11                                     Biogas Project  ...                                               5.05
12                                       Improved coo  ...                                              21.62
13                   (iii) Overhead\nAdministrative e  ...                                               1.15
14                                               None  ...                                             516.63
15  Notes : 1. A few of th\n 2. CSR spend \n(1) An...  ...                              rms part o\nSR throug
16                                               None  ...                                         unt in US$
17                                               None  ...                                          31,76,713
18                                               None  ...                                           5,05,000
19                                               None  ...                                           1,00,000
20                                               None  ...                                             48,531
21                                               None  ...                                           1,18,116
22                                               None  ...                                          39,48,360
25                         Bengaluru \nApril 20, 2020  ...                                             er and

[24 rows x 12 columns]

<Page:62>

                                                   0  ...                                                  3
0                                                NaN  ...  LEED Platinum \n certification for \nBengaluru...
1  million sq. ft. A\nprojects are cur\nAll our n...  ...  ft. of our ongoing\nding certification.\nndard...
2                                                NaN  ...  We continue to \nminimizing waste\nganic waste...

[3 rows x 4 columns]

<Page:63>

                                                    0  ...                                                  7
0            Revenue expenditure\nCapital expenditure  ...                                   458\n416\n12\n35
3                                               Total  ...                                           470\n451
4                               R&D expenditure / rev  ...                                           0.6\n0.6
7   Future plan of a\nWe will continue \ninternati...  ...  l and\nology\ncreate\ntwork\ne and\nketing\nli...
8                               Earnings\nExpenditure  ...                     77,974\n71,719\n44,254\n39,467
11                               Net foreign exchange  ...                                     33,720\n32,252
14                                 NFE / earnings (%)  ...                                         43.2\n45.0
17                                               None  ...                                                NaN
18                                               None  ...                                                NaN
19                                               None  ...                                                NaN

[10 rows x 8 columns]

<Page:65>

                                              0  ...                                                  9
0                                Name of the po  ...                                                NaN
1  Whistleblower \n(Policy on vigil\nmechanism)  ...              d in \nrading) \nling \nf \nn (UPSI).
2                         Code of Condu\nEthics  ...                                        amended \nn
3                      Capital Allocati\nPolicy  ...                              nded to \n cash \nred
4                       Dividend Distri\nPolicy  ...                                 amended \n Capital
5                               Insider Trading  ...  d in \nrading) \nkey \ninformant \nding \nacti...
6             Corporate Polic\nInvestor Relatio  ...                                 tions was \ndates.

[7 rows x 10 columns]

<Page:66>

                                                   0  ...                                                  8
0                                 Name of the policy  ...                                                NaN
1  Policy for Determining \nMateriality for \nDis...  ...  ateriality for\ninter alia, \n Personnel (K\nm...
2                                  Recoupment Policy  ...                                        the policy.
3               Nomination and \nRemuneration Policy  ...  ration Policy\nause on stock\nc to any plan\nd...
4           Corporate Social \nResponsibility Policy  ...                      sibility Policy\ne on committ
5  Policy on Material \nSubsidiaries\nRelated Par...  ...  diaries was \nuirements of \n Disclosure \n Re...

[6 rows x 9 columns]

<Page:67>

                  0              1              2
0         2015 Plan            NaN  Fiscal 2020 F
1      RSU and ESOP            NaN            NaN
2   KMP * (Refer to   Notes 1 & 2)       5,07,896
3     Employees oth    er than KMP      33,46,280
4               NaN            NaN      38,54,176
5   Incentive units  -cash-settled            NaN
6               KMP            NaN       1,80,400
7     Employees oth    er than KMP       4,75,740
8               NaN            NaN       6,56,140
9      Total grants            NaN      45,10,316
11        2019 Plan            NaN  Fiscal 2020 F
12   Equity-settled            RSU            NaN
13  KMP * (Refer to   Notes 1 & 2)       3,56,793
14    Employees oth    er than KMP      17,34,500
15     Total grants            NaN      20,91,293

<Page:74>

                       0            1                 2               3
0             Subsidiary          NaN  In foreign curre  ncy In ` crore
1  WongDoody\nCompany In  Holding \nc       US$ 1.3 mil          lion 9
2      Infosys Nova\nLLC     Holdings     US$ 180.0 mil      lion 1,335
3   Infosys Cons\nLtd(1)   ulting Pte     SGD 249.2 mil      lion 1,318

<Page:76>

                          0        1           2    3
0               Particulars      NaN  Standalone  Con
1                      None     None   2020 2019  202
2               Opening bal     ance     521 401   62
3   Impairment \nrecognized     loss     127 176   16
4               Amount writ  ten off   (89) (67)  (10
5  Translation \ndifference      NaN       21 11    1
6              Closing bala      nce     580 521   70

<Page:78>

                                                    0  ...                                                  6
0                                         Particulars  ...                                          solidated
1                                                None  ...                                             0 2019
2                                         Non-current  ...                                                NaN
3                                        Loans to sub  ...                                                – –
4                                        Loans to emp  ...                                               1 19
5                                             Current  ...                                                NaN
6                                        Loans to sub  ...                                                – –
7                                        Loans to emp  ...                                              9 241
8                                               Total  ...                                              0 260
9   We  provide \nmployees. O\niven to emp\necover...  ...  vances  to\n` 260 crore\n39 crore is\nudes ` 2...
10                                        Particulars  ...                                           olidated
11                                               None  ...                                             0 2019
12                                        Non-current  ...                                                NaN
13                                       Security dep  ...                                               0 52
14                                       Rental depos  ...                                              1 193
15       Net investme\nsub-lease of r\nof-use asset(1  ...                                                8 –
16                                      Restricted de  ...                                               5 67
17                                             Others  ...                                                3 –
18                                            Current  ...                                                NaN
19                                       Security dep  ...                                                8 4
20                                       Rental depos  ...                                               7 15
21                                      Restricted de  ...                                            5 1,671
22                                       Unbilled rev  ...                                            6 2,093
23                             Interest accr\nnot due  ...                                              4 905
24              Foreign curr\nforward and \ncontracts  ...                                              2 336
25         Escrow and o\ndeposits pert\nto buyback(2)  ...                                              – 257
26         Net investme\nsub-lease of r\nof-use asset  ...                                                5 –
27                                          Others(3)  ...                                              0 224
28                                              Total  ...                                            4 5,817

[29 rows x 7 columns]

<Page:78>

                                       0       1       2    3           4
0                            Particulars     NaN  Standa    l    one Cons
1                                   None    None    2020  NaN    2019 202
2                            Non-current     NaN     NaN  NaN         NaN
3                       Capital advances     NaN     310  NaN      486 31
4                       Prepaid gratuity     NaN     143  NaN       25 15
5               Deferred contract \ncost     NaN      10  NaN      226 10
6                       Prepaid expenses     NaN      51  NaN        95 8
7          Withholding taxes\nand others     NaN     759  NaN      908 77
8   Advance \nfor business \ncombination     NaN       –  NaN           –
9                                Current     NaN     NaN  NaN         NaN
10  Payment to vendo\nfor supply of good  rs \ns     129  NaN       94 14
11              Deferred contract \ncost     NaN      11  NaN        52 3
12                      Prepaid expenses     NaN     736  NaN      580 96
13                     Unbilled revenues     NaN   3,856  NaN  2,904 4,32
14         Withholding taxes\nand others     NaN   1,356  NaN  1,290 1,58
15                     Other receivables     NaN       –  NaN         – 2
16                                 Total     NaN   7,361  NaN  6,660 8,50

<Page:79>

                                                    0  ...                                                  4
0                                         Particulars  ...                                         nsolidated
1                                                None  ...                                            20 2019
2                                  Deferred tax \nnet  ...                                           44 1,372
3                      Deferred tax \nliabilities, ne  ...                                             68 672
4   Deferred tax \nproperty, plan\nabsences, allo\...  ...  red taxes on\ncompensated\nits related to\nins...
5                                         Particulars  ...                                         nsolidated
6                                                None  ...                                           020 2019
7                                       Income tax as  ...                                          391 6,743
8                                Income tax li\n(net)  ...                                          490 1,567
9   Our net profi\nand other se\ncountry where\nco...  ...  development\no tax in the\n taxes paid in\ncre...
10                                        Particulars  ...                                         nsolidated
11                                               None  ...                                            20 2019
12                                        Non-current  ...                                                NaN
13                   Accrued \ncompensatio\nemployees  ...                                              22 15
14                               Compensate\nabsences  ...                                              38 44
15          Financial liab\nunder option\narrangement  ...                                               21 –
16  Payable for \nacquisition \nof business –\nCon...  ...                                              21 88

[17 rows x 5 columns]

<Page:79>

                                                    0           1  ...       5     6
0                                         Particulars         NaN  ...    Cons  olid
1                                                None        None  ...    2020   NaN
2                                       Rental deposi           t  ...       –   NaN
3                                       Other payable           s  ...       5   NaN
4                                             Current         NaN  ...     NaN   NaN
5                                       Trade payable           s  ...   2,852   NaN
6                                       Unpaid divide         nds  ...      30   NaN
7                   Accrued \ncompensation\nemployees          to  ...   2,958   NaN
8                                        Accrued expe        nses  ...   3,921   NaN
9                                        Retention mo        nies  ...      72   NaN
10  Payable for \nacquisition \nof business – \nCo...         NaN  ...     219   NaN
11                                     Capital credit         ors  ...     280   NaN
12                              Compensated\nabsences         NaN  ...   1,832   NaN
13            Foreign curre\nforward and o\ncontracts  ncy \nptio  ...     491   NaN
14                    Financial liabi\nrelating to bu  lity\nybac  ...       –   NaN
15                        Payable by \ncontrolled tru         sts  ...     188   NaN
16                                      Other payable           s  ...     490   NaN
17                                              Total         NaN  ...  14,140   NaN

[18 rows x 7 columns]

<Page:80>

                              0                     1  ...          4           5
0                     Particula                    rs  ...      ne Co  nsolidated
1                          None                  None  ...    2019 20     20 2019
2                       Non-cur                  rent  ...        NaN         NaN
3   Deferred\ngovernm\nland use  inco\nent gr\nrights  ...          –       43 42
4                      Deferred                  rent  ...        140       – 174
5           Accrued \nfund liab          provi\nility  ...        – 1        85 –
6                       Accrued                gratui  ...          –       28 30
7                      Deferred                  inco  ...         29       21 29
8                        Others                   NaN  ...          –         2 –
9                       Current                   NaN  ...        NaN         NaN
10                      Unearne                d reve  ...  2,094 2,9    90 2,809
11                    Client de                posits  ...         19       18 26
12            Withhol\nand othe            ding t\nrs  ...  1,168 1,7    59 1,487
13          Accrued \nfund liab          provi\nility  ...          –        64 –
14  Deferred\ngovernm\nland use  inco\nent gr\nrights  ...          –         2 1
15                      Accrued                gratui  ...          –         3 2
16                     Deferred                  rent  ...       54 (      1)– 63
17                       Others                   NaN  ...          –         6 –
18                        Total                   NaN  ...  3,504 5,1    21 4,663

[19 rows x 6 columns]

<Page:80>

                                                    0  ...      9
0                                         Particulars  ...   None
1                                       Benefit oblig  ...   None
2                                       Fair value of  ...   None
3                                        Funded statu  ...   None
4                                        Prepaid grat  ...   None
5                                        Accrued grat  ...   None
6   Further, we \nemployees of\nCompany has\nbetwe...  ...   None
7                                         Particulars  ...    NaN
8                                                None  ...      %
9                                         Revenue fro  ...  100.0
10                                      Cost of sales  ...   64.8
11                                       Gross profit  ...   35.2
12                                       Operating ex  ...    NaN
13                                        Selling and  ...    5.0
14                                        General and  ...    5.8
15                                      Total operati  ...   10.8
16                                       Operating pr  ...   24.4
17                                       Reduction in  ...  (0.4)
18                        Adjustment i\nrecoverable a  ...  (0.6)
19                                       Finance cost  ...      –
20                                        Other incom  ...    3.9
21                                      Profit before  ...   27.3
22                                        Tax expense  ...    7.2
23                                     Profit for the  ...   20.1

[24 rows x 10 columns]

<Page:81>

                                                    0  ...                                                 12
0                                         Particulars  ...                                                NaN
1                                                None  ...                                                  %
2                                     Revenue from op  ...                                              100.0
3                                       Cost of sales  ...                                               65.2
4                                        Gross profit  ...                                               34.8
5                                    Operating expens  ...                                                NaN
6                                    Selling and mark  ...                                                5.4
7                                     General and adm  ...                                                6.6
8                                  Total operating ex  ...                                               12.0
9                                    Operating profit  ...                                               22.8
10                                   Reduction in the  ...                                              (0.3)
11                Adjustment in res\nrecoverable amou  ...                                              (0.5)
12                                       Finance cost  ...                                                  –
13                                   Other income, ne  ...                                                3.5
14                                  Profit before tax  ...                                               25.5
15                                        Tax expense  ...                                                6.9
16                                   Profit after tax  ...                                               18.6
17                                  Non-controlling i  ...                                                  –
18                                Profit attributable  ...                                               18.6
19                      1. Revenue\nThe growth in our  ...                                          n ` crore
20                                        Particulars  ...                                                NaN
21                                               None  ...                                              hange
22                                            Revenue  ...                                                9.8
23  The increase in \nan increase in la\nmost of t...  ...  97.3%,\n, which\nuted to\n, 2020,\ns 2.6%\n Ma...
24                                        Particulars  ...                                               None
25                                               None  ...                                               None
26                                    Digital revenue  ...                                               None
27                                       Core revenue  ...                                               None
28                                               None  ...                                                NaN
29                                               None  ...                                               2019
30                                               None  ...                                               67.3
31                                               None  ...                                                5.0
32                                               None  ...                                               11.9
33                                               None  ...                                                7.9
34                                               None  ...                                                7.9
35                                               None  ...                                              100.0

[36 rows x 13 columns]

<Page:82>

                                                    0  ...                                                 9
0                                                None  ...                                               NaN
1                                                None  ...                                              2019
2                                                None  ...                                              28.6
3                                                None  ...                                              71.4
4                                                None  ...                                             100.0
5                                                None  ...  mploye\n for IT\nonths t\nistrativ\nervice\nin %
6                                                None  ...                                               NaN
7                                                None  ...                                              2019
8                                                None  ...                                              80.1
9                                                None  ...                                              84.3
10                                               None  ...              service\nes  and\nessiona\nin ` cror
11                                        Particulars  ...                                              None
12                                      Onsite revenu  ...                                              None
13                                      Offshore reve  ...                                             dated
14                                              Total  ...                                              2019
15  The proportion\nsites varies fro\nonsite typic...  ...                                            78,359
16                                               None  ...                                             4,316
17                                               None  ...                                            82,675
18                                               None  ...            port fo\n in fisca\n basis.\nin ` cror
19                                        Particulars  ...                                            owth %
20                                           Revenues  ...                                               8.1
21                                      Cost of sales  ...                                               NaN
22                                       Salaries and  ...                                              10.9
23                                       Cost of tech  ...                                              10.5
24                                       Travelling c  ...                                              24.0
25                                       Cost of soft  ...                                               2.5
26                               Third-party\nclients  ...                                             (1.3)
27                                           Communic  ...                                              38.6
28                                         Short-term  ...                                                 –
29                                        Operating l  ...                                                 –

[30 rows x 10 columns]

<Page:83>

                      0         1  ...      7           8
0           Particulars       NaN  ...      %    Growth %
1   Provisions\nsupport   / (reve  ...      –    (166.67)
2            Depreciati    on and  ...    2.2        34.1
3            Repairs an    d main  ...    0.3        16.8
4                Others       NaN  ...      –           –
5         Total cost of     sales  ...   64.8        11.4
6         Cost of sales    – cons  ...    NaN  in ` crore
7           Particulars       NaN  ...      %    Growth %
8              Revenues       NaN  ...  100.0         9.8
9         Cost of sales       NaN  ...    NaN         NaN
10          Salaries an    d bonu  ...   49.0        12.3
11          Cost of tec    hnical  ...    7.3        11.3
12           Travelling      cost  ...    2.1        15.6
13          Cost of sof   tware p  ...    1.1        11.5
14  Third-part\nclients   y items  ...    2.0         2.7
15            Consultan    cy and  ...    0.1         8.7
16              Communi  cation c  ...    0.3        26.1
17           Short-term    leases  ...      –           –
18            Operating   lease p  ...    0.4           –
19           Provisions   for pos  ...      –           –
20           Depreciati    on and  ...    2.4        43.9
21           Repairs an    d main  ...    0.5        35.4
22               Others       NaN  ...      –           –
23        Total cost of     sales  ...   65.2        12.7

[24 rows x 9 columns]

<Page:84>

                                     0  ...                  3
0                          Particulars  ...  o be  Total\ncash
1  1. Construction \nacquisition of an  ...                – –
2    2. On purposes \nother than (1) a  ...              3 360

[3 rows x 4 columns]

<Page:85>

              0   1   2   3  ...              5      6           7           8
0   Particulars NaN NaN NaN  ...         dalone    NaN  Consolidat          ed
1          None NaN NaN NaN  ...  2019 % change   2020         201  9 % change
2  Other income NaN NaN NaN  ...    2,852 (5.3)  2,803        2,88     2 (2.7)
3  Finance cost NaN NaN NaN  ...            – –    170         NaN         – –

[4 rows x 9 columns]

<Page:86>

                                                    0  ...             9
0                                         Particulars  ...          None
1                                                None  ...          None
2                         Income tax ex\n(in ` crore)  ...          None
3                             Effective tax r\n(in %)  ...          None
4   On a standalon\nbefore tax) dec\nto 26.2% in f...  ...          None
5                                         Particulars  ...             d
6                                                None  ...  ) % increase
7                                               Basic  ...        4 10.0
8                                             Diluted  ...        8 10.0
9                                      The weighted a  ...           NaN
10                                        Particulars  ...           ted
11                                               None  ...          2019
12                                              Basic  ...  34,71,30,157
13                                            Diluted  ...  35,34,20,772

[14 rows x 10 columns]

<Page:87>

                               0          1   ...               11             12
0                     Particulars  Fina\nSer  ...  All oth\nsegmen  er  Total\nts
1                    Segmental re       venu  ...              NaN            NaN
2                            2020         28  ...              2,4      71 90,791
3                            2019         26  ...              2,2      94 82,675
4                        Growth %        NaN  ...                7         .7 9.8
5                    Segmental op       erat  ...              NaN            NaN
6                            2020          7  ...              NaN      64 22,316
7                            2019          6  ...                1      16 20,907
8                        Growth %        NaN  ...             (44.         5) 6.7
9                    Segmental op       erat  ...              NaN            NaN
10                           2020        NaN  ...                2        .6 24.6
11                           2019        NaN  ...                5        .1 25.3
12                  The following        gra  ...             None           None
13              Segmental revenue          s  ...             None           None
14  50,038\n10,647\n2,048\n19,942       2\n8  ...             None           None
15                    Growth in %        NaN  ...             None           None
16    North Americ\nEurope - 9.9%     a - 11  ...             None           None

[17 rows x 13 columns]

<Page:88>

                                                    0  ...                                                  9
0                                         Particulars  ...                                                ted
1                                                None  ...                                               2019
2                                      Net cash gener  ...                                             14,841
3                                      Net cash (used  ...                                              (575)
4                                     Net cash used i  ...                                           (14,512)
5   Our cash flows \nincreased from \ncrore in fis...  ...  2.23 to the\neport.\net date\ner the Balance\n...
6                                         Particulars  ...                                              dated
7                                                None  ...                                               2019
8                                     Market capitali  ...                                                3.9
9                                    Price / Earnings  ...                                               21.0
10                                    Days sales outs  ...                                                 66
11                                   Liquid cash(2) a  ...                                               36.2
12                                      Revenue growt  ...                                               17.2
13                                     Operating marg  ...                                               22.8
14                                    Net profit marg  ...                                               18.6
15                                      Basic EPS (`)  ...                                              35.44
16  (1) The Company d\n(2) Includes cash and\nRati...  ...                                               None
17                                        Particulars  ...                                               None
18                                               None  ...                                               None
19                          Return on net \nworth (%)  ...                                               None

[20 rows x 10 columns]

<Page:89>

                      0   1    2
0               Clients NaN   20
1  100 million dollar + NaN  NaN
2   50 million dollar + NaN  NaN
3   10 million dollar + NaN    2
4    1 million dollar + NaN    7

<Page:96>

                   0  ...                                                  8
0           Criteria  ...                                                NaN
1             Fields  ...                                      on its Board.
2             Skills  ...                       fications and \nd experience
3  Qualification and  ...                                       xpertise and
4   Company-specific  ...                                      s relevant to
5          Age limit  ...  emuneration \nby passing a \ne, indicating \n ...

[6 rows x 9 columns]

<Page:99>

                                                 0  ...                                                  7
0                                         Criteria  ...                                                NaN
1                                    Membership te  ...  odically shares\nlicable statutes.\nrotation e...
2    Key Board qu\nhe table below\nandidates to se  ...                   hile nominatin\nard of Directors
3                                   Definitions of  ...                                                NaN
4                                        Financial  ...  prise, resulting\nncial reporting\npal account...
5                                        Diversity  ...                      at expand the\nrs, employees,
6                                    Global busine  ...                       understanding\ny frameworks,
7                                       Leadership  ...               understanding\nrated strengths\nowth
8                                       Technology  ...                               e technological\nels
9                                    Mergers and a  ...            tions, with the\npany’s strategy\nplans
10                      Board service \ngovernance  ...                     d management \nnance practices
11                                   Sales and mar  ...                                      awareness and
12  Sustainability, \nEnvironment, \nGovernance (E  ...                                   ble to integrate

[13 rows x 8 columns]

<Page:100>

                                                   0                                 1
0                                        Nationality                            Indian
1                                                Age                                64
2                                Date of appointment                   August 24, 2017
3                                    Tenure on Board                         2.6 years
4                                   Term ending date                                NA
5                                       Shareholding         4,07,83,162 shar\n(0.96%)
6                           Board memberships – Indi                   an listed compa
7                                    Infosys Limited  Non-executive a\nindependent dir
8                               Global directorships                                 5
9  Committee \ndetails as per \nRegulation 26 of ...    Member : Nil\nChairperson : Ni

<Page:101>

                                                   0  ...                         2
0                                        Nationality  ...                    Indian
1                                                Age  ...                        55
2                                     Date of appoin  ...               January 02,
3                                      Tenure on Boa  ...                 2.2 years
4                                      Term ending d  ...               January 01,
5                                       Shareholding  ...     2,03,278 sha\n(0.00%)
6                                        Board membe  ...             an listed com
7                                    Infosys Limited  ...              Executive di
8                                     Global directo  ...                         2
9  Committee \ndetails as per \nRegulation 26 \nL...  ...  Member : Ni\nChairperson

[10 rows x 3 columns]

<Page:101>

                                                   0             1
0                                        Nationality           NaN
1                                                Age           NaN
2                                     Date of appoin         tment
3                                     Tenure on Boar             d
4                                     Retirement dat             e
5                                       Shareholding           NaN
6                                       Board member  ships – Indi
7                                    Infosys Limited           NaN
8                                    Global director         ships
9  Committee \ndetails as per \nRegulation 26 o\n...      f \nions

<Page:102>

                                                    0  ...                 3
0                                         Nationality  ...               NaN
1                                                 Age  ...               NaN
2                                      Date of appoin  ...                 4
3                                       Tenure on Boa  ...               NaN
4                                       Term ending d  ...               NaN
5                                        Shareholding  ...               NaN
6                                         Board membe  ...              nies
7                                      Biocon Limited  ...               tor
8                                     Infosys Limited  ...           irector
9                              Narayana Hrud\nLimited  ...  and non\nirector
10                            Syngene Intern\nLimited  ...  and non\nirector
11                                     United Breweri  ...           irector
12                                     Global directo  ...               NaN
13  Committee \ndetails as per \nRegulation 26 \nL...  ...               NaN

[14 rows x 4 columns]

<Page:102>

                                                   0
0                                                Age
1                                Date of appointment
2                                    Tenure on Board
3                                   Term ending date
4                                       Shareholding
5                           Board memberships – Indi
6                                    Infosys Limited
7                               Global directorships
8  Committee \ndetails as per \nRegulation 26 of ...

<Page:103>

                                                   0  ...    3
0                                                Age  ...  NaN
1                                     Date of appoin  ...  NaN
2                                      Tenure on Boa  ...  NaN
3                                       Resigned on*  ...  NaN
4                                       Shareholding  ...  NaN
5                                        Board membe  ...    s
6                                    Infosys Limited  ...  tor
7                                     Global directo  ...  NaN
8  Committee \ndetails as per \nRegulation 26 \nL...  ...  NaN

[9 rows x 4 columns]

<Page:103>

                                                    0             1
0                                         Nationality           NaN
1                                                 Age           NaN
2                                     Date of appoint          ment
3                                     Tenure on Board           NaN
4                                     Term ending dat             e
5                                        Shareholding           NaN
6                                       Board members  hips – India
7                                         ACC Limited           NaN
8            Crompton Greav\nConsumer Electr\nLimited    es \nicals
9                    GlaxoSmithKline\nPharmaceuticals       Limited
10                                    Infosys Limited           NaN
11                                  TVS Electronics L        imited
12                                   Global directors          hips
13  Committee \ndetails as per \nRegulation 26 o\n...       f \nons

<Page:104>

                                                    0  ...         3
0                                         Nationality  ...       NaN
1                                                 Age  ...       NaN
2                                      Date of appoin  ...       016
3                                       Tenure on Boa  ...       NaN
4                                       Term ending d  ...       021
5                                        Shareholding  ...       NaN
6                                         Board membe  ...     anies
7                                     Infosys Limited  ...  director
8                                     JSW Steel Limit  ...  director
9                                    Rallis India Lim  ...  director
10                   SREI Infrastruct\nFinance Limite  ...  director
11                                     Global directo  ...       NaN
12  Committee \ndetails as per \nRegulation 26 \nL...  ...         2

[13 rows x 4 columns]

<Page:104>

                                                   0  ...                                                  2
0                                        Nationality  ...                                            Israeli
1                                                Age  ...                                                 55
2                                      Date of appoi  ...                                     April 20, 2020
3                                      Term ending d  ...                                     April 19, 2023
4                                       Shareholding  ...                                                Nil
5                                        Board membe  ...                                    an listed compa
6                                    Infosys Limited  ...                    Additional and \nIndependent di
7                                     Global directo  ...                                                 11
8  Committee \ndetails as per \nRegulation 26\nLi...  ...                      Member : Nil\nChairperson : N
9  Areas of expe\nDiversity G\nMergers &  \nAcqui...  ...  Leadership\nSales & \nmarketing\n/www.infosys....

[10 rows x 3 columns]

<Page:105>

                                                    0
0   Name of director No. of training \nhours atten...
1                                Nandan M. Nilekani 9
2                                      Salil Parekh 9
3                                   U.B. Pravin Rao 9
4                             Kiran Mazumdar-Shaw 6.5
5                                      Roopa Kudva  5
6                            Dr. Punita Kumar-Sinha 7
7                                      D.N. Prahlad 9
8                                       D. Sundaram 9
9                                     Michael Gibbs 9
10                                   Total hours 72.5

<Page:106>

                                                    0  ...                                                  9
0                                         Particulars  ...                                             in US$
1                                          Fixed Boar  ...                                             75,000
2                                         Board / com  ...                                             25,000
3                                          Non-execut  ...                                           1,50,000
4                                          Chairperso  ...                                             30,000
5                                           Members –  ...                                             20,000
6                                          Chairperso  ...                                             20,000
7                                           Members –  ...                                             10,000
8                                        Travel fee (  ...                                             10,000
9                                        Incidental f  ...                                              1,000
10  Notes :1 US$ =\n)  The Compa\nand the AG\n)  F...  ...  rd meeting\nll have to b\nduring thei\nunerati...
11                                         Name of di  ...                                              Total
12                                               None  ...                                               None
13                                         Non-execut  ...                                                NaN
14                                             Nandan  ...                                                  –
15                                        Executive d  ...                                                NaN
16                                         Salil Pare  ...                                              34.27
17                                          U.B. Prav  ...                                              10.60
18                                         Independen  ...                                                NaN
19                                           Kiran Ma  ...                                               1.13
20                                            Roopa K  ...                                               0.99
21                                          Dr. Punit  ...                                               1.74
22                                           D.N. Pra  ...                                               1.06
23                                           D. Sunda  ...                                               1.13
24                                            Michael  ...                                               1.36

[25 rows x 10 columns]

<Page:108>

                                                   0  ...                                          9
0                            Name of the  \ndirector  ...                                        NaN
1  Salil Parekh,  \nChief Executive \nOfficer and...  ...   rs/\nexecutive-\nf \nrs/reports-\n19.pdf
2  U.B. Pravin Rao, \nChief Operating \nOfficer a...  ...  rs/\n-executive-\nf \nrs/reports-\n19.pdf

[3 rows x 10 columns]

<Page:109>

                                                    0  ...                                                 10
0                                                None  ...                                               None
1                                                 NaN  ...          100\n88\n100\n100\n100\n100\n88\n100\n100
2                                                 NaN  ...                                     of attendance)
3   (1)\n(2)\nA\nT\ni\nm\na\ni\na\nS\na\nS\nm\nm\n...  ...  tions\nlated party\nps between\nsubsidiaries\n...
4                                                None  ...                                         iscal 2019
5                                                None  ...                                                 11
6                                                None  ...                                                  2
7                                                None  ...                                                  1
8                                                None  ...                                                 14
9                                                None  ...                            ers\np\numar-Sinha\nRao
10                                               None  ...                                               None
11                                               None  ...                                               None

[12 rows x 11 columns]

<Page:110>

                                                   0  ...                                               3
0  Ensurin\nfunction\nadequac\nintended\nefficien...  ...  t inter\nce rega\nols and \nets, effe\n and ti
1                      Meeting\ndiscuss k\nfor the r  ...                                time t\nancial s
2                       Providin\nfor the \nthe Inde  ...                                    comm\nnal au

[3 rows x 4 columns]

<Page:112>

    0  ...          4
0 NaN  ...  on, \nrs,
1 NaN  ...   es, \ned
2 NaN  ...         20
3 NaN  ...        NaN

[4 rows x 5 columns]

<Page:112>

                                                   0  ...                   7
0                                               None  ...                None
1  D. Sundaram\nDr. Punita Kuma\nMichael Gibbs(1)...  ...  100\n100\n100\n100
2                                           Attended  ...                 NaN

[3 rows x 8 columns]

<Page:113>

                                                    0  ...          7
0                                    Activities of th  ...  Frequency
1   The Manageme\nAccounting Sta\nrules thereunde\...  ...          Q
2   Discussed with\nManagement) \njudgment on t\ns...  ...          Q
3                                      Undertook an a  ...          A
4                       Reviewed with \nengagement to  ...          A
5                                      Reviewed the M  ...          A
6                                      Helped the Boa  ...          P
7                      Discussed with\n(PCAOB) Auditi  ...          A
8        Recommended\nAuditors in acco\nappointment o  ...          P
9     Besides discuss\nand other regu\nCompany’s lega  ...          Q
10                   Reviewed  the \nfinancial assets  ...          P
11                                    Reviewed the si  ...          Q
12                       Granted omnib\nCompany durin  ...          A
13                    Reviewed and a\nBoard for appro  ...          Q
14                     Reviewed the p\ndivestments an  ...          P
15                   Reviewed the m\nin addition to t  ...          Q
16  Reviewed and \nPolicy effective \nthe same to the  ...          P
17  Reviewed, appr\nDistribution Pol\ndisclosure. ...  ...          P
18                                  The charter is re  ...          P

[19 rows x 8 columns]

<Page:114>

                                                 0  ...              9
0                                             None  ...           None
1       Kiran Mazumdar-\nD. Sundaram\nD.N. Prahlad  ...  100\n100\n100
2                                      Attended in  ...            NaN
3                                     omination an  ...            NaN
4                                 Activities of th  ...           ency
5                                  Made regular re  ...            NaN
6     Recommended \nthe members of\nhas been compl  ...            NaN
7                  Undertook a re\nmonitor the dev  ...            NaN
8                   Placed substant\nengagement th  ...            NaN
9                    Recommended \nthe approval of  ...            NaN
10                Stock incentiv\nsubsidiaries dur  ...            NaN
11                                     Recommended  ...            NaN
12                Designed, benc\nagainst the achi  ...            NaN
13               Reviewed variou\nof employees, as  ...            NaN
14                  Reviewed the r\nmembers of the  ...            NaN
15  Reviewed the o\nBoard from tim\nappointment of  ...            NaN
16                                  Reviewed, appr  ...            NaN
17             Based on its eva\nrotation at the e  ...            NaN
18                 Reviewed the m\nand for busines  ...            NaN

[19 rows x 10 columns]

<Page:117>

                                                   0  ...                   9
0                                               None  ...                None
1  Kiran Mazumda\nDr. Punita Kuma\nU.B. Pravin Ra...  ...  100\n100\n100\n100
6                                         Attended i  ...                 NaN

[3 rows x 10 columns]

<Page:119>

                                                    0  ...                                 10
0                                                None  ...                               None
1   D.N. Prahlad\nD. Sundaram\nKiran Mazumdar-S\nM...  ...                   75\n100\n75\n100
6                                       Attended in p  ...                                NaN
7   n addition to the\ns its members in \necurity ...  ...  chael Gibb\nprovise th\n committe
8                                   Activities of the  ...                               ency
9                                     Reviewed and ap  ...                                NaN
10  Assessed risks to\noperational and \nprogress ...  ...                                NaN
11                                  Reviewed risks in  ...                                NaN
12                  Reviewed risks a\nautomation, emp  ...                                NaN
13                   Reviewed the fra\nand consequent  ...                                NaN
14                                   Reviewed service  ...                                NaN
15                                    Assessed counte  ...                                NaN
16                Reviewed the Co\nsimilar regulation  ...                                NaN
17                 Assessed risks ar\nemployee well-b  ...                                NaN
18                 Submitted regula\nmitigation proce  ...                                NaN
19                  Reviewed and re\nchanges to the B  ...                                NaN

[16 rows x 11 columns]

<Page:129>

                                                   0  ...                                                  8
0  Our Enterprise Risk\nthe achievement of \niden...  ...  al risks and\nes effective\nitative and\nzatio...
1  Strategy and strateg\nOperational\nLegal and c...  ...  in defining \necution of \nmple, risks \nre an...

[2 rows x 9 columns]

<Page:130>

                                                   0  ...                                                  8
0                                               None  ...                                               None
1                                               None  ...                                               None
2  Second\nthe mit\nrisk\nprimary \nExposure for ...  ...  ce \nme to \nes \nals.\nisk manageme\nbines th...
3                                               None  ...                                               None

[4 rows x 9 columns]

<Page:131>

                0  ...                                               3
0            None  ...  Jul 11, \n2019\nFebruar\nmittee \nruary 0\n020
1  Dematerialized  ...                                             NaN

[2 rows x 4 columns]

<Page:134>

                                                   0
0                                                 Ja
4  03, 2020\nComplaints \netails of co\n6 6\n8 8\...

<Page:134>

                                           0  ...       9
0                              Activities of  ...  quency
1                               Monitored an  ...       A
2               During the ye\ninputs on sev  ...       P
3    Reviewed var\nand ensurin\nshareholders  ...       P
4                 Reviewed th\nProtection Fu  ...       P
5                 Reviewed an\nthe Board for  ...       P
6                               Reviewed the  ...       A
7                 Reviewed th\nrendered by t  ...       P
8  Reviewed the\nconducted on\nredressal, co  ...       A

[9 rows x 10 columns]

<Page:135>

                                                   0  ...              8
0  18,000\n16,000\n14,000\n12,000\nes\nhar10,000\...  ...  16\n8,192\n96
1                                               None  ...       015 2016
2                                               None  ...     onus Bonus
3                                               None  ...        1:1 1:1
4                                               None  ...            NaN

[5 rows x 9 columns]

<Page:136>

                                                    0  ...                                                 12
0                                                Year  ...                                       mount (`)(2)
1                                           2012-2013  ...                                          96,43,968
2                                           2013-2014  ...                                          83,51,120
3                                           2013-2014  ...                                        1,25,53,377
4                                           2014-2015  ...                                          88,35,420
5                                           2014-2015  ...                                        1,62,96,862
6                                           2015-2016  ...                                        1,21,42,810
7                                           2015-2016  ...                                        1,82,60,306
8                                           2016-2017  ...                                        1,52,59,871
9                                           2016-2017  ...                                        2,37,51,247
10                                          2017-2018  ...                                        2,55,23,914
11                                          2017-2018  ...                                        5,39,73,375
12                                          2018-2019  ...                                        2,43,97,577
13                                          2018-2019  ...                                        1,48,08,680
14                                          2018-2019  ...                                        3,19,36,695
15                                          2019-2020  ...                                        2,77,24,585
16  (1)  Not adjuste\n(2)  Amount unc\nIn order to...  ...  reminders t\nthat both th\nes, if any, ca\nhe ...
17                                             Fiscal  ...                                        to IEPF (`)
18                                            2019-20  ...                                          67,14,375
19                                            2019-20  ...                                        1,23,64,864
20                                            2018-19  ...                                          69,18,540
21                                            2018-19  ...                                          68,70,340
22                                            2017-18  ...                                        1,45,91,560
23                                            2017-18  ...                                          58,56,210
24                                               None  ...  ond the validit\ng the Guideline\nred ` 16,31,...
25                                               None  ...                                            closure
26                                               None  ...                                        ul 17, 2020
27                                               None  ...                                       Oct 16, 2020
28                                               None  ...                                        an 15, 2021
29                                               None  ...                                       Apr 16, 2021

[30 rows x 13 columns]

<Page:137>

                                                    0  ...                                                  2
0                                       Date and time  ...                                    June 27\n4 p.m.
1                                                Mode  ...                                   Video c\naudio-v
2                    Participation th\nvideo-conferen  ...                                  https://\nInfosys
3                                      Webcast and tr  ...                                          https://w
4                                      E-voting dates  ...                                            June 22
5                        Final dividend \nrecord date  ...                                            June 01
6                       Final dividend \npayment date  ...                                           July 03,
7                     Interim dividen\npayout date(1)  ...                                             Octobe
8   (1)  During the year\nshareholders on \n2019 a...  ...  any decla\n2019, ha\n0, 2019.\nes and \n in th...
9                                            Category  ...                                              umber
10                                               None  ...                                                NaN
11                                         Demat mode  ...                                               425,
12                                    Physical \nmode  ...                                                NaN
13                                        Grand total  ...                                               425,

[14 rows x 3 columns]

<Page:138>

                      0   1     2     3
0                   NaN  Q1  Q2 Q  3 Q4
1           Conferences   2     4   4 2
2  Non-deal \nroadshows   2     2   4 4
3      Company \nevents   1     1   2 1
4                 Total   5   7 1   0 7

<Page:138>

                                                    0  ...                                                 10
0                             Name of the shareholder  ...                                               ares
1   Life Insurance Corpor\nSBI \nHDFC \nICICI Prud...  ...  ,863\n,901\n,438\n,218\n,769\n,877\n,292\n,618...
12                     Distribution of shareholding a  ...                                                NaN
13                  No. of shares held No. of holders  ...                                               ares
14  1-1 34,560\n2-10 2,51,176\n11-50 3,95,541\n51-...  ...  ,560\n,515\n,730\n,608\n,506\n,067\n,726\n,430...
23                                               None  ...                                               None

[6 rows x 11 columns]

<Page:139>

                                                    0  ...                 13
0                                               Codes  ...               None
1                                                None  ...               None
2                                            Exchange  ...               None
3                                             Reuters  ...               None
4                                           Bloomberg  ...               None
5   The listing f\nbove stock \nSIN Code fo\ntock ...  ...               None
6                                             2019-20  ...             Volume
7                                              Months  ...        (A+B) (No.)
8                                               April  ...       18,30,91,101
9                                                 May  ...       20,69,20,478
10                                               June  ...       13,13,37,327
11                                               July  ...       18,53,57,572
12                                             August  ...       15,73,47,147
13                                          September  ...       16,80,69,360
14                                            October  ...       40,90,10,849
15                                           November  ...       23,23,69,718
16                                           December  ...       15,14,22,303
17                                            January  ...       19,54,49,810
18                                           February  ...       11,79,49,172
19                                              March  ...       32,60,13,567
20                                              Total  ...      246,43,38,404
21                                         The volume  ...                NaN
22                                             Fiscal  ...      me (BSE +NSE)
23                                            2019-20  ...                 70
24                                            2018-19  ...                 61
25                                            2017-18  ...                 74
26                          Note : The nu\ntock marke  ...  this calculation.
27                                            2019-20  ...       Volume (No.)
28                                             Months  ...                NaN
29                                              April  ...       24,54,60,339
30                                                May  ...       27,68,17,298
31                                               June  ...       16,81,21,994
32                                               July  ...       26,74,34,659
33                                             August  ...       20,70,91,041
34                                          September  ...       23,59,76,843
35                                            October  ...       55,76,48,168
36                                           November  ...       26,36,44,886
37                                           December  ...       16,18,86,703
38                                            January  ...       33,25,08,522
39                                           February  ...       22,18,84,574
40                                              March  ...       43,91,54,793
41                                              Total  ...      337,76,29,820

[42 rows x 14 columns]

<Page:140>

                                                   0  ...                      14
5                                               None  ...                    None
6                                             ADS(`)  ...                    None
7                                          Equity(`)  ...                    None
8                               Premium/\n(Discount)  ...                    None
9  e : Represent\nlisted on \ntstanding\nr ADSs, ...  ...  hares\ne of\nYSE,\n182

[5 rows x 15 columns]

<Page:141>

                                                    0   1   2   3
0   120\n110\n100\n90\n80\n70\n60\nApr-1\nNote: In... NaN NaN NaN
7                                              Rating NaN NaN NaN
8                                               Moody NaN NaN NaN
9                                              Standa NaN NaN NaN
10                                              Dun & NaN NaN NaN
11                                             CRISIL NaN NaN NaN

<Page:142>

                                                   0  ...                                         6
0                   Year ended Date and  Venue\ntime  ...                                 webcast /
1  March 31,  June 22,  Christ University  1. App...  ...  .infosys.\nrs/news-\nal-general-\n9.html
2  March 31,  June 23,  Christ University \n2018 ...  ...  .infosys.\nrs/news-\nal-general-\n8.html
3  March 31,  June 24,  Christ University \n2017 ...  ...  .infosys.\nrs/news-\nal-general-\n7.html

[4 rows x 7 columns]

<Page:144>

                            0  ...                                                  7
0  In \n(SE\n(CI\nOn\nas \nap  ...  xchange Board of India\npect of Infosys Limite...
1                       Be\nA  ...                                               None
2                         NaN  ...                                               None

[3 rows x 8 columns]

<Page:146>

         0  ...                                                  8
0        1  ...  med through\nod when the\n is not even\natisfi...
1      NaN  ...                                                NaN
2      NaN  ...  ce contracts\non of efforts\ntion controls\nto...
3  Sr. No.  ...                                                NaN
4        2  ...  ed to reflect\nre economic\ning expected\ncust...

[5 rows x 9 columns]

<Page:151>

                                     0  ...                                                  7
0                                 None  ...                            ition in its standalone
1                                 None  ...                            standards, for material
2                                 None  ...                             Investor Education and
3                                 None  ...  Government in terms of \nhs 3 and 4 of the Order.
4                                  NaN  ...  HASKINS & SELLS LLP\nChartered Accountants\n.1...
6  Place : Mumbai\nDate : April 20, 20  ...  Sanjiv V. Pilgaonkar\nPartner\nembership No. 0...
7                         Annexure “A”  ...                                                NaN

[7 rows x 8 columns]

<Page:154>

                                       0  ...                                                  7
0                                    NaN  ...  E HASKINS & SELLS LLP\nChartered Accountants\n...
2  Place : Mumbai\nDate : April 20, 2020  ...  Sanjiv V. Pilgaonkar\nPartner\nMembership No. ...
3                        Annexure ‘B’ to  ...                                                NaN
4                                   None  ...                          our report to the Members
5                                   None  ...                           quantitative details and
6                                   None  ...  ed manner which, in our \n Pursuant to the pro...
7                                   None  ...  based on the examination \ndeeds, comprising a...
8                                   None  ...  inventories. Accordingly, \nured loans to four...
9                                   None  ...                          facie, not prejudicial to

[9 rows x 8 columns]

<Page:155>

        0
2     iv.
3      v.
4     vi.
5    vii.
10  viii.
11    ix.
12     x.
13    xi.
14   xii.

<Page:156>

                                                    0  ...                                                  7
0                               e of repay\nounts and  ...                                     or receipts of
1                                           overdue a  ...                                                NaN
2   nd accordi\nions 185 a\n applicable\ns not acc...  ...  lied with the \ng guarantees \nrch 31, 2020 \n...
3                 ny has ge\nState Insur\nble to it w  ...                       vident Fund,\nrial statutory
4                   no undispu\nervice Tax\nmore than  ...                         Income Tax,\n 31, 2020 for
5                               ues of Inc\n at March  ...                                       ave not been
6                                                  he  ...                                Amount in\n` Crores
7                                               e Tax  ...                                              1,029
8                                                None  ...                                              2,219
9                                             t, 1994  ...                                                 60
10                                          cise Act,  ...                                                 68
11                                           ct, 1962  ...                                               –(4)
12                                               None  ...                                                  5
13                                             ct and  ...                                               –(4)
14                                               None  ...                                                  2
15  of A.Y. 201\n of A.Y. 201\nr has been gr\n ` 1...  ...                                           posited.

[16 rows x 8 columns]

<Page:156>

            0  ...                                                  6
0       xiii.  ...                                               None
1        xiv.  ...                                               None
2         xv.  ...                                               None
3        xvi.  ...                                               None
5         NaN  ...  E HASKINS & SELLS LLP\nChartered Accountants\n...
7  Plac\nDate  ...  Sanjiv V. Pilgaonkar\nPartner\nMembership No. ...

[6 rows x 7 columns]

<Page:157>

                      0            1     2       3       4
0                  None         None  None    2020    2019
1                  sets          NaN   NaN     NaN     NaN
2     on-current assets          NaN   NaN     NaN     NaN
3    Property, plant an  d equipment   2.1  11,092  10,394
4    Right-of-use asset            s   2.3   2,805       –
5     Capital work-in-p      rogress   NaN     945   1,212
6              Goodwill          NaN   2.2      29      29
7    Other intangible a        ssets   2.2      48      74
8      Financial assets          NaN   NaN     NaN     NaN
9           Investments          NaN   2.4  13,916  12,062
10                Loans          NaN   2.5     298      16
11      Other financial       assets   2.6     613     196
12   Deferred tax asset      s (net)  2.16   1,429   1,114
13    Income tax assets        (net)  2.16   4,773   5,870
14     Other non-curren     t assets   2.9   1,273   1,740
15   tal non-current as         sets   NaN  37,221  32,707
16        urrent assets          NaN   NaN     NaN     NaN
17     Financial assets          NaN   NaN     NaN     NaN
18          Investments          NaN   2.4   4,006   6,077
19     Trade receivable            s   2.7  15,459  13,370
20      Cash and cash e   quivalents   2.8  13,562  15,551
21                Loans          NaN   2.5     307   1,048
22      Other financial       assets   2.6   4,398   4,834
23    Income tax assets        (net)  2.16       –     423
24    Other current ass          ets   2.9   6,088   4,920
25   tal current assets          NaN   NaN  43,820  46,223
26           tal assets          NaN   NaN  81,041  78,930
27  uity and liabilitie            s   NaN     NaN     NaN
28                 uity          NaN   NaN     NaN     NaN
29   Equity share capit           al  2.11   2,129   2,178
30         Other equity          NaN   NaN  60,105  60,533
31           tal equity          NaN   NaN  62,234  62,711

<Page:158>

                                                    0  ...       8
1                                         Particulars  ...       ,
2                                                None  ...    2019
3                                         Liabilities  ...     NaN
4                               Non-current liabiliti  ...     NaN
5                                Financial liabilitie  ...     NaN
6                                   Lease liabilities  ...       –
7                                     Other financial  ...      79
8                                 Deferred tax liabil  ...     541
9                                    Other non-curren  ...     169
10                               Total non-current li  ...     789
11                                Current liabilities  ...     NaN
12                               Financial liabilitie  ...     NaN
13                                     Trade payables  ...     NaN
14                                      Total outstan  ...       –
15                       Total outstan\nsmall enterpr  ...   1,604
16                                  Lease liabilities  ...       –
17                                    Other financial  ...   8,528
18                                 Other current liab  ...   3,335
19                                         Provisions  ...     505
20                                Income tax liabilit  ...   1,458
21                             Total current liabilit  ...  15,430
22                           Total equity and liabili  ...  78,930
23      The accompanying not\nAs per our report of ev  ...     NaN
24  for Deloitte Haskins & \nChartered Accountants...  ...     NaN
26  Sanjiv V. Pilgaonkar\nPartner\nMembership Numb...  ...     NaN
28                                                NaN  ...     NaN
30                             Mumbai\nApril 20, 2020  ...     NaN

[27 rows x 9 columns]

<Page:159>

                                                    0  ...                       10
0                                                 NaN  ...       r equity share dat
1                                           rticulars  ...                March 31,
2                                                None  ...                     2019
3                                     venue from oper  ...                   73,107
4                                    ther income, net  ...                    2,852
5                                          tal income  ...                   75,959
6                                              penses  ...                      NaN
7                                    Employee benefit  ...                   38,296
8                                   Cost of technical  ...                    7,646
9                                     Travel expenses  ...                    1,906
10                                   Cost of software  ...                    1,646
11                                      Communication  ...                      339
12                                    Consultancy and  ...                    1,096
13                                   Depreciation and  ...                    1,599
14                                       Finance cost  ...                        –
15                                     Other expenses  ...                    2,770
16                 Adjustment in re\namount on reclas  ...                      469
17                                   Reduction in the  ...                      265
18                                       tal expenses  ...                   56,032
19                                    ofit before tax  ...                   19,927
20                                          x expense  ...                      NaN
21                                        Current tax  ...                    5,189
22                                       Deferred tax  ...                       36
23                                  ofit for the year  ...                   14,702
24                                   ther comprehensi  ...                      NaN
25                                   ms that will not  ...                      NaN
26                                    Remeasurement o  ...                     (21)
27                                   Equity instrumen  ...                       78
28                                  ms that will be r  ...                      NaN
29                                  Fair value change  ...                       21
30                                  Fair value change  ...                        1
31                                   tal other compre  ...                       79
32                                   tal comprehensiv  ...                   14,781
33                                  rnings per equity  ...                      NaN
34                                  uity shares of pa  ...                      NaN
35                                          Basic (`)  ...                    33.66
36                                        Diluted (`)  ...                    33.64
37                                  eighted average e  ...                      NaN
38                                              Basic  ...            436,82,12,119
39                                            Diluted  ...            437,04,12,348
40                 e accompanying \nper our report of  ...                      NaN
41  Deloitte Haskins \nrtered Accountants\nm’s Reg...  ...                      NaN
43           njiv V. Pilgaonkar\ntner\nmbership Numbe  ...  ao\n Officer\n Director
45                                                NaN  ...               antha\nary
47                                 mbai\nril 20, 2020  ...                      NaN

[45 rows x 11 columns]

<Page:160>

                                                    0  ...                                                 16
0                                                 NaN  ...                                          in ` cror
1                                         Particulars  ...  Total equity\nattributable\nto equity\nlders o...
2                                                None  ...                                               None
3                                                None  ...                                               None
4                                                None  ...                                               None
5                                    Balance as at Ap  ...                                             63,502
6                           Changes in equi\n31, 2019  ...                                                NaN
7                                  Profit for the yea  ...                                             14,702
8                Remeasurement \nliability / asset(1)  ...                                               (21)
9                  Equity instrumen\ncomprehensive in  ...                                                 78
10                 Fair value chang\nas cash flow hed  ...                                                 21
11               Fair value chang\n(Refer to Note 2.4  ...                                                  1
12                                    Total comprehen  ...                                             14,781
13                                   Transfer to gene  ...                                                  –
14                Transferred to Sp\ninvestment Reser  ...                                                  –
15                  Transferred from\ninvestment Rese  ...                                                  –
16  Amount transfer\nreserve upon bu\n(Refer to No...  ...                                                  –
17              Exercise of stock\n(Refer to Note 2.1  ...                                                  –
18                                   Transfer on acco  ...                                                  –
19               Increase in share\nissue (Refer to N  ...                                              1,092
20                Amount utilized\n(Refer to Note 2.1  ...                                            (1,092)
21                 Share-based pay\ngroup (Refer to N  ...                                                197
22                     Income tax bene\nstock options  ...                                                  8
23                Buyback of equi\n(Refer to Notes 2.  ...                                            (2,000)
24                                   Transaction cost  ...                                               (12)
25                                   Dividends (inclu  ...                                           (13,768)
26                Share issued on \noptions (Refer to  ...                                                  3
27                                   Balance as at Ma  ...                                             62,711

[28 rows x 17 columns]

<Page:161>

                                                    0  ...                                                 16
0                                                 NaN  ...                                          in ` cror
1                                         Particulars  ...  Total equity\nattributable\nto equity\nholders...
2                                                None  ...                                               None
3                                                None  ...                                               None
4                                                None  ...                                               None
5                                 Balance as at April  ...                                             62,711
6             Impact on account\n116 (Refer to Note 2  ...                                               (17)
7                                                 NaN  ...                                             62,694
8                   Changes in equity\nMarch 31, 2020  ...                                                NaN
9                                 Profit for the year  ...                                             15,543
10            Remeasurement of\nbenefit liability / a  ...                                              (184)
11  Equity instrument\ncomprehensive in\n(Refer to...  ...                                               (31)
12  Fair value changes\ndesignated as cash\n(Refer...  ...                                               (36)
13           Fair value changes \n(Refer to Note 2.4)  ...                                                 17
14                                  Total comprehensi  ...                                             15,309
15                                 Transfer to genera  ...                                                  –
16              Transferred to Spe\nRe-investment Res  ...                                                  –
17              Transferred from S\nRe-investment Res  ...                                                  –
18  Amount transferre\nredemption reserv\nto Note ...  ...                                                  –
19           Exercise of stock o\n(Refer to Note 2.11  ...                                                  –
20                       Transfer on accou\nexercised  ...                                                  –
21             Shares issued on e\nstock options (Ref  ...                                                  2
22  Effect of modificat\nshare-based paym\nsettled...  ...                                               (57)
23              Share-based paym\n(Refer to Note 2.11  ...                                                238
24                     Reserves on comm\ntransactions  ...                                              (137)
25                   Income tax benefi\nstock options  ...                                                  9

[26 rows x 17 columns]

<Page:162>

                                                    0  ...                                                 17
0                                         Particulars  ...  Total equity\nattributable\nto equity\nholders...
1                                                None  ...                                               None
2                                                None  ...                                               None
3                                                None  ...                                               None
4   Buyback of equity shares  \n(Refer to Notes 2....  ...                                            (6,260)
5   Transaction cost relating to buy\n(Refer to No...  ...                                               (11)
6   Dividends (including dividend \ndistribution tax)  ...                                            (9,553)
7                        Balance as at March 31, 2020  ...                                             62,234
8   1)  Net of tax\n2)  The Special Economic Zone\...  ...                                         utilized b
9   or Deloitte Haskins & Se\nChartered Accountant...  ...                                                NaN
11  Sanjiv V. Pilgaonkar\nPartner\nMembership Numb...  ...                                                NaN
13                                                NaN  ...                                                NaN
15                             Mumbai\nApril 20, 2020  ...                                                NaN

[13 rows x 18 columns]

<Page:163>

                                                    0  ...                                                  6
0   Accounting p\nCash flows are r\na non-cash nat...  ...  actions o\nncome o\n activitie\nto know\nin ` ...
1                                         Particulars  ...                                             ch 31,
2                                                None  ...                                               2019
3                                      Cash flow from  ...                                                NaN
4                                   Profit for the ye  ...                                             14,702
5                                      Adjustments to  ...                                                NaN
6                                        Depreciation  ...                                              1,599
7                                        Income tax e  ...                                              5,225
8                                        Impairment l  ...                                                176
9                                        Finance cost  ...                                                  –
10                                       Interest and  ...                                            (1,996)
11                                        Stock compe  ...                                                  –
12                                       Other adjust  ...                                                 57
13                       Adjustment i\non reclassific  ...                                                469
14                                       Reduction in  ...                                                265
15                                       Exchange dif  ...                                                 80
16                                    Changes in asse  ...                                                NaN
17                                      Trade receiva  ...                                            (2,268)
18                                      Other financi  ...                                              (581)
19                                       Trade payabl  ...                                                866
20                                      Other financi  ...                                              1,666
21                                     Cash generated  ...                                             20,260
22                                     Income taxes p  ...                                            (6,271)
23                                    Net cash genera  ...                                             13,989
24                                     Cash flow from  ...                                                NaN
25                                     Expenditure on  ...                                            (2,306)
26                                    Deposits placed  ...                                              (116)
27                                     Loans to emplo  ...                                                  4
28                                    Loan given to s  ...                                              (678)
29                                     Loan repaid by  ...                                                 20
30                                    Proceeds from r  ...                                                335
31                                    Investment in s  ...                                              (228)
32                                    Proceeds from r  ...                                                 33
33                                      Payment towar  ...                                              (261)
34                                     Payment of con  ...                                                (6)
35                                      Redemption of  ...                                              (257)
36                                     Other receipts  ...                                                  –
37                                     Payments to ac  ...                                                NaN
38                                      Preference, e  ...                                               (18)
39                                       Liquid mutua  ...                                           (72,889)
40                                       Tax-free bon  ...                                               (11)
41                                     Certificates o  ...                                            (2,052)
42                                         Commercial  ...                                              (491)
43                                       Non-converti  ...                                              (100)
44                                         Government  ...                                              (838)
45                                             Others  ...                                                  –
46                                    Proceeds on sal  ...                                                NaN
47                                      Preference an  ...                                                115

[48 rows x 7 columns]

<Page:164>

             0  ...        11
0          NaN  ...    ch 31,
1         None  ...      2019
2          NaN  ...    71,337
3          NaN  ...         1
4          NaN  ...       602
5          NaN  ...     5,150
6          NaN  ...       300
7          NaN  ...       123
8          NaN  ...         –
9          NaN  ...     1,644
10         NaN  ...     (587)
11         NaN  ...       NaN
12         NaN  ...         –
13         NaN  ...     (813)
14         NaN  ...         3
15         NaN  ...  (13,761)
16         NaN  ...  (14,571)
17         NaN  ...      (50)
18         NaN  ...   (1,169)
19         NaN  ...    16,770
20         NaN  ...    15,551
21         NaN  ...       NaN
22         NaN  ...       143
23           T  ...       NaN
24  f\nC\nF\n1  ...       NaN
26        S\nP  ...         r
28         NaN  ...       NaN
30         NaN  ...       NaN

[28 rows x 12 columns]

<Page:165>

                   0  ...                                  3
0        Building(1)  ...                        22-25 years
1    Plant and machi  ...                            5 years
2    Office equipmen  ...                            5 years
3     Computer equip  ...                          3-5 years
4  Furniture and fix  ...                            5 years
5        Vehicles(1)  ...                            5 years
6    Leasehold impro  ...  eful life of the \n or lease term

[7 rows x 4 columns]

<Page:167>

                                                    0  ...           9
0                                         Particulars  ...     s Total
1        Gross carrying \nvalue as at April \n1, 2019  ...  7   20,475
2                                           Additions  ...   7   3,035
3   Reclassified \non account of \nadoption of Ind...  ...   –   (593)
4                                           Deletions  ...    )  (154)
5       Gross carrying \nvalue as at \nMarch 31, 2020  ...  3   22,763
6    Accumulated \ndepreciation as \nat April 1, 2019  ...  ) (10,081)
7                                        Depreciation  ...  )  (1,775)
8   Reclassified \non account of \nadoption of Ind...  ...      –   32
9           Accumulated \ndepreciation on \ndeletions  ...     1   153
10  Accumulated \ndepreciation as \nat March 31, \...  ...  ) (11,671)
11             Carrying value \nas at April 1, \n2019  ...  6   10,394
12            Carrying value \nas at March 31, \n2020  ...  7   11,092

[13 rows x 10 columns]

<Page:168>

                                                    0  ...                             15
0                                         Particulars  ...                      les Total
1            Gross carrying\nvalue as at Apr\n1, 2018  ...                    29   17,949
2                                           Additions  ...                      9   3,040
3                                           Deletions  ...                      1)  (514)
4         Gross carrying\nvalue as at \nMarch 31, 201  ...                    37   20,475
5      Accumulated \ndepreciation as\nat April 1, 201  ...                    7)  (8,922)
6                                        Depreciation  ...                    5)  (1,572)
7             Accumulated \ndepreciation o\ndeletions  ...                        1   413
8   Accumulated \ndepreciation as\nat March 31, \n...  ...                    1) (10,081)
9               Carrying value\nas at April 1, \n2018  ...                     12   9,027
10               Carrying value\nas at March 31\n2019  ...                    16   10,394
11  )  Buildings inclu\n)  Includes certain\nThe  ...  ...  ts\n  amount  of\n in ` crore
12                                               None  ...                       arch 31,
13                                        Particulars  ...                           None
14                                               None  ...                           2019
15                                               None  ...                             29
16                                          Buildings  ...                           None
17                                               None  ...                              –
18                                                NaN  ...                           None
19                                               None  ...                             29
20                                      Plant and mac  ...                           None
21                                                NaN  ...                           None
22                                      Furniture and  ...                           None
23                                                NaN  ...                           None
24                                       Computer equ  ...                           None
25                                                NaN  ...                           None
26                                      Office equipm  ...                           None
27                                                NaN  ...                           None
28                                                NaN  ...                           None
29                                        Particulars  ...                           None
30                                               None  ...                           None
31                     Aggregate depr\non above asset  ...                           None
32                                      Rental income  ...                           None

[33 rows x 16 columns]

<Page:169>

                   0     1   ...          11      12
0         Particulars   NaN  ...          rs   Total
1    Gross carrying v  alue  ...           6     165
2   Transfer of asset     s  ...           –       –
3    Deletions during   the  ...           –       –
4    Gross carrying v  alue  ...           6     165
5      Accumulated am  orti  ...          7)    (91)
6   Transfer of asset     s  ...           –       –
7     Amortization ex   pen  ...          5)    (26)
8      Accumulated am  orti  ...           –       –
9      Accumulated am  orti  ...          2)   (117)
10   Carrying value a  s at  ...           4      48
11   Carrying value a  s at  ...           9      74
12   Estimated useful  life  ...           5       –
13    Estimated remai  ning  ...           1       –
14   The changes in t  he c  ...  lows :\nin  ` cror
15        Particulars   NaN  ...          rs   Total
16   Gross carrying v  alue  ...           6     165
17  Transfer of asset     s  ...           –       –
18   Deletions during   the  ...           –       –
19   Gross carrying v  alue  ...           6     165
20     Accumulated am  orti  ...          2)    (64)
21  Transfer of asset     s  ...           –       –
22    Amortization ex   pen  ...          5)    (27)
23     Accumulated am  orti  ...           –       –
24     Accumulated am  orti  ...          7)    (91)
25   Carrying value a  s at  ...           9      74
26   Carrying value a  s at  ...           4     101
27   Estimated useful  life  ...           5       –
28    Estimated remai  ning  ...           2       –

[29 rows x 13 columns]

<Page:170>

                     0                1  ...              6           7
0          Particulars              NaN  ...       OU asset  Total\ners
1                 None             None  ...  ings   Comput        None
2  Balance as at April          1, 2019  ...           ,861   –   1,861
3  Reclassified on acc  ount of adoptio  ...              –     –   561
4         Additions(1)              NaN  ...            737    49   787
5             Deletion              NaN  ...           (58)    –   (61)
6         Depreciation              NaN  ...           331)  (7)  (343)
7   Balance as at Marc       h 31, 2020  ...           ,209  42   2,805

[8 rows x 8 columns]

<Page:171>

                             0  ...                         10
0                  Particulars  ...                       None
1                Current lease  ...                       None
2                  Non-current  ...                       None
3                        Total  ...                       None
4      he moveme\nMarch 31, 20  ...                       None
5                         None  ...       ended\nrch 31,\n2020
6                         None  ...                        430
7                  Particulars  ...                       None
8                         None  ...                         15
9                         None  ...                       (46)
10                        None  ...                         34
11               Balance at th  ...                       None
12                        None  ...                        433
13                   Additions  ...                       None
14                        None  ...   estmen\n on a\nin ` cror
15                Finance cost  ...                       None
16                   Deletions  ...                       None
17               Payment of le  ...                       None
18               Translation d  ...                       None
19               Balance at th  ...                       None
20                        None  ...              March\n, 2020
21  he details of\nt March 31,  ...                       None
22                        None  ...                         50
23                        None  ...                        217
24                        None  ...                        244
25                 Particulars  ...                       None
26                        None  ...                        511
27                        None  ...  mmitte\ng from\nin ` cror
28                Less than on  ...                       None
29               One to five y  ...                       None
30               More than fiv  ...                       None
31                       Total  ...                       None
32                  .4  Invest  ...                       None
33                 Particulars  ...                          ,
34                        None  ...                       2019
35                 Non-current  ...                        NaN
36                 Equity inst  ...                      6,349
37                   Debenture  ...                      1,445
38                   Redeemabl  ...                          –
39                  Preference  ...                         90
40                      Others  ...                         16
41                 Tax-free bo  ...                      1,828
42                    Governme  ...                          –
43                  Fixed matu  ...                        401
44                   Non-conve  ...                      1,209
45                    Governme  ...                        724
46                Total non-cu  ...                     12,062
47                Current inve  ...                        NaN
48                   Liquid mu  ...                      1,701
49                Certificates  ...                      2,123
50                    Governme  ...                         12
51                  Fixed matu  ...                          –
52                   Non-conve  ...                      1,746
53                    Commerci  ...                        495

[54 rows x 11 columns]

<Page:172>

         0                   1   ...                10         11
0   Particu                lars  ...    As at March 31          ,
1      None                None  ...              2020       2019
2   Total c    urrent investmen  ...             4,006      6,077
3   Total c       arrying value  ...            17,922     18,139
4       NaN                 NaN  ...  except as otherw  ise state
5   Particu                lars  ...    As at March 31          ,
6      None                None  ...              2020       2019
7     Non-c   urrent investment  ...               NaN        NaN
8       Unq               uoted  ...               NaN        NaN
9      Inve   stment carried at  ...               NaN        NaN
10       In   vestments in equi  ...               NaN        NaN
11      NaN     Infosys BPM Lim  ...               660        659
12      NaN    3,38,23,444 (3,3  ...               NaN        NaN
13      NaN    Infosys Technolo  ...               333        333
14      NaN    Infosys Technolo  ...                 –          5
15      NaN    Nil (1,01,08,869  ...               NaN        NaN
16      NaN    Infosys Technolo  ...                65         65
17      NaN    17,49,99,990 (17  ...               NaN        NaN
18      NaN    Infosys Technolo  ...                76         76
19      NaN    1,000 (1,000) eq  ...               NaN        NaN
20      NaN   Infosys Tecnologi  ...                 –        276
21      NaN    Nil (12,84,20,74  ...               NaN        NaN
22      NaN    Infosys Technolo  ...               900        900
23      NaN   Infosys Public Se  ...                99         99
24      NaN    3,50,00,000 (3,5  ...               NaN        NaN
25      NaN   Infosys Consultin  ...             1,323      1,323
26      NaN     23,350 (23,350)  ...               NaN        NaN
27      NaN     26,460 (26,460)  ...               NaN        NaN
28      NaN    Infosys Americas  ...                 1          1
29      NaN     10,000 (10,000)  ...               NaN        NaN
30      NaN    EdgeVerve System  ...             1,312      1,312
31      NaN    1,31,18,40,000 (  ...               NaN        NaN
32      NaN    Infosys Nova Hol  ...             1,335          –
33      NaN   Infosys Consultin  ...                10         10
34      NaN    1,09,90,000 (1,0  ...               NaN        NaN
35      NaN  Brilliant Basics H  ...                59         59
36      NaN    1,346 (1,346) sh  ...               NaN        NaN
37      NaN   Infosys Arabia Li  ...                 2          2
38      NaN      70 (70) shares  ...               NaN        NaN
39      NaN       Kallidus Inc.  ...               150        150
40      NaN    10,21,35,416 (10  ...               NaN        NaN
41      NaN    Skava Systems Pr  ...                59         59
42      NaN     25,000 (25,000)  ...               NaN        NaN
43      NaN         Panaya Inc.  ...               582        582
44      NaN   2 (2) shares of U  ...               NaN        NaN
45      NaN   Infosys Chile SpA  ...                 7          7
46      NaN    100 (100) shares  ...               NaN        NaN
47      NaN       WongDoody Hol  ...               359        350
48      NaN    2,000 (2,000) sh  ...               NaN        NaN
49      NaN     Infosys Luxembo  ...                 4          4
50      NaN    3,700 (3,700) sh  ...               NaN        NaN
51      NaN   Infosys Austria G  ...                 –          –
52      NaN     80,000 (80,000)  ...               NaN        NaN
53      NaN   Infosys Consultin  ...               183         43
54      NaN    16,49,15,570 (8,  ...               NaN        NaN
55      NaN     Infosys Romania  ...                34         34
56      NaN     99,183 (99,183)  ...               NaN        NaN

[57 rows x 12 columns]

<Page:173>

                 0                             1  ...               6       7
0      Particulars                           NaN  ...  As at March 31       ,
1             None                          None  ...            2020    2019
2          Investm                  ent in redee  ...             NaN     NaN
3            Infos                 ys Consulting  ...             NaN     NaN
4             24,9                 2,00,000 (Nil  ...           1,318       –
5              NaN                           NaN  ...           8,871   6,349
6          Investm                 ent carried a  ...             NaN     NaN
7            Inves                  tment in deb  ...             NaN     NaN
8           EdgeVe                 rve Systems L  ...             NaN     NaN
9      12,5\n` 100  8,00,000 (14\n each fully pa  ...           1,159   1,445
10             NaN                           NaN  ...           1,159   1,445
11        Investme                nts carried at  ...             NaN     NaN
12         Others(                            2)  ...              30      16
13             NaN                           NaN  ...              30      16
14        Investme               nt carried at f  ...             NaN     NaN
15         Prefere                nce securities  ...             101      89
16          Equity                   instruments  ...               2       1
17             NaN                           NaN  ...             103      90
18          Quoted                           NaN  ...             NaN     NaN
19        Investme                nts carried at  ...             NaN     NaN
20         Tax-fre                       e bonds  ...           1,825   1,828
21          Govern                    ment bonds  ...              13       –
22             NaN                           NaN  ...           1,838   1,828
23        Investme                nts carried at  ...             NaN     NaN
24         Fixed m                  aturity plan  ...               –     401
25             NaN                           NaN  ...               –     401
26        Investme                nts carried at  ...             NaN     NaN
27          Non-co                 nvertible deb  ...           1,251   1,209
28          Govern                 ment securiti  ...             664     724
29             NaN                           NaN  ...           1,915   1,933
30     Total non-c                 urrent invest  ...          13,916  12,062
31     Current inv                      estments  ...             NaN     NaN
32        Unquoted                           NaN  ...             NaN     NaN
33        Investme                nts carried at  ...             NaN     NaN
34          Liquid                   mutual fund  ...           2,019   1,701
35             NaN                           NaN  ...           2,019   1,701
36        Investme                nts carried at  ...             NaN     NaN
37            Comm                  ercial paper  ...               –     495
38        Certific                 ates of depos  ...             886   2,123
39             NaN                           NaN  ...             886   2,618
40          Quoted                           NaN  ...             NaN     NaN
41        Investme                nts carried at  ...             NaN     NaN
42          Govern                    ment bonds  ...               –      12
43             NaN                           NaN  ...               –      12
44        Investme                nts carried at  ...             NaN     NaN
45         Fixed m                  aturity plan  ...             428       –
46             NaN                           NaN  ...             428       –
47        Investme                nts carried at  ...             NaN     NaN
48          Non-co                 nvertible deb  ...             673   1,746
49             NaN                           NaN  ...             673   1,746
50    Total curren                  t investment  ...           4,006   6,077
51    Total invest                         ments  ...          17,922  18,139
52    Aggregate am              ount of quoted i  ...           4,854   5,920
53    Market value              of quoted invest  ...           1,101   1,757
54    Market value              of quoted invest  ...           4,048   4,374
55    Aggregate am               ount of unquote  ...          13,068  12,219
56  (1)  Aggregate               amount of impai  ...             121     122
57    Reduction in             the fair value of  ...             854     854

[58 rows x 8 columns]

<Page:174>

                                                    0  ...                11
0                                         Particulars  ...               NaN
1                                                None  ...              2019
2                   Adjustment in re\n“Held for Sale”  ...               469
3                                  Investments carrie  ...             6,349
4                                  Investments carrie  ...             3,285
5                                  Investments carrie  ...             6,387
6                                  Investments carrie  ...             2,118
7   (2)  Uncalled capital\naccounting polic\nThe d...  ...  2.10 fo\n ` cror
8                                                 NaN  ...               NaN
9                                                None  ...               NaN
10                                               None  ...               Net
11                                   Net gain / (loss  ...               NaN
12                                     Non-convertibl  ...                 1
13                                      Government se  ...                 3
14                                  Certificates of d  ...               (3)
15                                    Equity and pref  ...                78
16                                   Method of fair v  ...            ` cror
17                                   Class of investm  ...             h 31,
18                                               None  ...              2019
19                                    Liquid mutual f  ...             1,701
20                                     Fixed maturity  ...               401
21                                     Tax-free bonds  ...             2,048
22                                     Non-convertibl  ...             2,955
23                   Government se\nCertificates of d  ...        724\n2,123
24                                               None  ...              None
25                                      Commercial pa  ...               495
26                                     Unquoted equit  ...                90
27                                             Others  ...                16

[28 rows x 12 columns]

<Page:175>

                                 0  ...          12
0                      Particulars  ...          1,
1                             None  ...        2019
2                  Preference secu  ...         NaN
3                      Airviz Inc.  ...           3
4                   2,82,279 (2,82  ...         NaN
5                        Whoop Inc  ...          14
6                   16,48,352 (16,  ...         NaN
7                  Nivetti Systems  ...          10
8                   2,28,501 (2,28  ...         NaN
9                   Waterline Data  ...          25
10                  39,33,910 (39,  ...         NaN
11                  13,35,707 (13,  ...         NaN
12                   Trifacta Inc.  ...          27
13                  11,80,358 (11,  ...         NaN
14                       Ideaforge  ...          10
15  5,402 (5,402) \nfully paid up.  ...         NaN
16                  Equity instrum  ...         NaN
17                  Merasport Tech  ...           –
18                 2,420 (2,420) e  ...         NaN
19                  Global Innovat  ...           1
20                  15,000 (15,000  ...         NaN
21                       Ideaforge  ...           –
22                  100 (100) equi  ...         NaN
23                          Others  ...         NaN
24                Stellaris Ventur  ...          16
25                             NaN  ...         106
26  .4.4  Details \nhe balances he  ...  wise state
27                     Particulars  ...          19
28                            None  ...      Amount
29   7.04% Indian R\nLimited Bonds  ...          50
30        7.16% Power F\n17JUL2025  ...         105
31   7.18% Indian R\nLimited Bonds  ...         201
32   7.28% Indian R\nLimited Bonds  ...          42
33    7.28% Nationa\nLimited Bonds  ...         342
34   7.34% Indian R\nLimited Bonds  ...         210
35    7.35% Nationa\nLimited Bonds  ...          57
36    7.93% Rural El\nBonds 27MAR2  ...          21
37   8.10% Indian R\nLimited Bonds  ...          52
38   8.26% India In\nLimited Bonds  ...         100

[39 rows x 13 columns]

<Page:176>

                               0  ...          10
0                    Particulars  ...          19
1                           None  ...      Amount
2    8.30% Nation\nLimited Bonds  ...          53
3    8.35% Nation\nLimited Bonds  ...         150
4   8.46% India I\nLimited Bonds  ...         200
5        8.46% Power \n30AUG2028  ...         150
6   8.48% India I\nLimited Bonds  ...          45
7        8.54% Power \n16NOV2028  ...          50
8                 Total investme  ...       1,828
9                  he balances h  ...  wise state
10                   Particulars  ...          19
11                          None  ...      Amount
12                 Treasury Note  ...          12
13                Total investme  ...          12
14  .4.5  Details\nhe balances h  ...  wise state
15                   Particulars  ...          19
16                          None  ...      Amount
17               Aditya Birla Su  ...         141
18               Aditya Birla Su  ...         201
19                    HDFC Money  ...         303
20                 ICICI Prudent  ...         301
21                  IDFC Corpora  ...         154
22                   Kotak Money  ...         301
23                SBI Premier Li  ...         300
24                 Axis Treasury  ...           –
25                   HDFC Liquid  ...           –
26                   HDFC Overni  ...           –
27                 ICICI Prudent  ...           –
28                  IDFC Banking  ...           –
29                  Kotak Liquid  ...           –
30                 SBI Overnight  ...           –
31                Total investme  ...       1,701
32                The balances h  ...  wise state
33                   Particulars  ...           9
34                          None  ...      Amount
35   Aditya Birla S\n– GR Direct  ...          58
36   Aditya Birla S\n– GR Direct  ...          29
37                    HDFC FMP 1  ...          32
38         HDFC FMP 1\nSeries 37  ...          45
39                  ICICI FMP Se  ...          46
40  ICICI Prudent\nPlan G Direct  ...          49

[41 rows x 11 columns]

<Page:177>

                                   0  ...               13
0                        Particulars  ...                9
1                               None  ...           Amount
2        ICICI Pruden\nPlan J Direct  ...               35
3                  IDFC Fixed \nDays  ...               12
4                  IDFC Fixed \nDays  ...               17
5                        Kotak FMP S  ...               40
6          Nippon Indi\nDividend Pla  ...               38
7                      Total investm  ...              401
8   .4.6   Detail\ncomm\nhe balances  ...  d \nwise stated
9                        Particulars  ...               19
10                              None  ...           Amount
11                       7.03% LIC H  ...                –
12                       7.24% LIC H  ...                –
13          7.48% Housi\nCorporation  ...               51
14                       7.58% LIC H  ...              101
15                       7.58% LIC H  ...               51
16                       7.59% LIC H  ...              306
17                       7.75% LIC H  ...              127
18                       7.79% LIC H  ...               53
19          7.80% Housi\nCorporation  ...              154
20                       7.81% LIC H  ...              214
21          7.95% Housi\nCorporation  ...               52
22                       8.02% LIC H  ...               51
23          8.26% Housi\nCorporation  ...              105
24                       8.37% LIC H  ...              216
25                       8.37% LIC H  ...               54
26                       8.47% LIC H  ...               51
27          8.49% Housi\nCorporation  ...               49
28          8.50% Housi\nCorporation  ...              105
29                       8.50% LIC H  ...                –
30          8.59% Housi\nCorporation  ...               51
31                       8.60% LIC H  ...              149
32                       8.61% LIC H  ...              103
33          8.72% Housi\nCorporation  ...               75
34          8.75% Housi\nCorporation  ...              256
35                       8.75% LIC H  ...              110
36                       8.75% LIC H  ...              101
37                       8.97% LIC H  ...               52
38          9.45% Housi\nCorporation  ...              318
39                     Total investm  ...            2,955

[40 rows x 14 columns]

<Page:178>

               0  ...                                                 10
0    Particulars  ...                                                NaN
1           None  ...                                               ount
2     7.17% Gove  ...                                                672
3     7.26% Gove  ...                                                  –
4     7.95% Gove  ...                                                 52
5   Total invest  ...                                                724
6   The balances  ...                                             stated
7    Particulars  ...                                                NaN
8           None  ...                                               ount
9      Axis Bank  ...                                                774
10    ICICI Bank  ...                                                738
11    Kotak Bank  ...                                                486
12   Vijaya Bank  ...                                                125
13  Bank of Baro  ...                                                  –
14  Oriental Ban  ...                                                  –
15  Total invest  ...                                               ,123
16  The balances  ...                                             stated
17   Particulars  ...                                                NaN
18          None  ...                                               ount
19           LIC  ...                                                495
20  Total invest  ...                                                495
21          None  ...  and\npany\no not\ne it is\ned by\nation\n 105,...
22          None  ...                                                NaN
23          None  ...                                                019
24          None  ...                                                NaN
25          None  ...                                                NaN
26          None  ...                                                  –
27          None  ...                                                NaN
28          None  ...                                                 16
29          None  ...                                                 16

[30 rows x 11 columns]

<Page:179>

                                        0  ...              3
0                             Particulars  ...  As at March 3
1                                    None  ...           2020
2                            Unsecured, c  ...            NaN
3                              Other Loan  ...            NaN
4                                Loans to  ...             24
5                                     NaN  ...            322
6               Less : Allow\nloans to em  ...             24
7                            Total non-cu  ...            298
8                                 Current  ...            NaN
9               Loan receiva\ngood – Unse  ...            NaN
10                            Loans to su  ...            103
11                             Other loan  ...            NaN
12                               Loans to  ...            204
13                          Total current  ...            307
14                            Total loans  ...            605
15                            .6  Other f  ...             in
16                            Particulars  ...  As at March 3
17                                   None  ...           2020
18                            Non-current  ...            NaN
19                           Security dep  ...             46
20             Net investme\nof ROU asset  ...            398
21                           Rental depos  ...            169
22           Total non-cu\nfinancial asse  ...            613
23                                Current  ...            NaN
24                           Security dep  ...              1
25                           Rental depos  ...              4
26                          Restricted de  ...          1,643
27                          Unbilled reve  ...          1,973
28                         Interest accru  ...            441
29           Foreign curre\noptions contr  ...             19
30             Net investme\nof ROU asset  ...             35
31            Escrow and o\npertaining to  ...              –
32                           Others(1)(4)  ...            282
33                  Total current\nassets  ...          4,398
34                         Total other fi  ...          5,011
35               (1)  Financial ass\ncost  ...          4,992
36  (2)  Financial as\nthrough  o\nincome  ...              9
37         (3)  Financial as\nthrough pro  ...             10
38                       (4)  Includes du  ...             65
39                       (5)  Includes du  ...             84

[40 rows x 4 columns]

<Page:180>

                                                    0  ...                                                  4
0                                         Particulars  ...                                                31,
1                                                None  ...                                               2019
2                                             Current  ...                                                NaN
3                                           Unsecured  ...                                                NaN
4                                          Considered  ...                                             13,370
5                                          Considered  ...                                                431
6                                                 NaN  ...                                             13,801
7                               Less : Allowa\nlosses  ...                                                431
8                                     Total trade rec  ...                                             13,370
9               (1)  Includes dues \ndirectors are in  ...                                                  –
10                               (2)  Includes dues f  ...                                                325
11                                        .8  Cash an  ...                                          in ` cror
12                                        Particulars  ...                                                31,
13                                               None  ...                                               2019
14                                      Balances with  ...                                                NaN
15                             In current a\naccounts  ...                                             10,957
16                                       Cash on hand  ...                                                  –
17                                             Others  ...                                                NaN
18                         Deposits wit\ninstitutions  ...                                              4,594
19                                     Total cash and  ...                                             15,551
20                      Balances with \ndividend acco  ...                                                 29
21                       Deposits with \nmonths matur  ...                                              6,048
22           Balances with \nmargin money\nguarantees  ...                                                114
23  Cash and cas\nMarch 31, 201\n 101 crore and\nr...  ...  20 an\nances o\nions ar\n mone\nnks an\n can b...
24                                        Particulars  ...                                                31,
25                                               None  ...                                               2019
26                                        Non-current  ...                                                NaN
27                                     Capital advanc  ...                                                486
28                                             Others  ...                                                NaN
29                                        Prepaid exp  ...                                                 95
30                        Prepaid grat\n(Refer to Not  ...                                                 25
31                                        Deferred co  ...                                                226
32                                         Withholdin  ...                                                908
33                                     Total non-curr  ...                                              1,740

[34 rows x 5 columns]

<Page:180>

     0  ...     4
0  NaN  ...  ch 3
2  NaN  ...   NaN
3  NaN  ...   NaN
4  NaN  ...   NaN
5  NaN  ...   NaN
6  NaN  ...   NaN
7  NaN  ...   NaN
8  NaN  ...   NaN
9  NaN  ...   NaN
10 NaN  ...   NaN
11 NaN  ...   NaN
12 NaN  ...   NaN
13 NaN  ...   NaN

[13 rows x 5 columns]

<Page:181>

                              0  ...                  13
0                   Particulars  ...  Total fair \nvalue
1                          None  ...                None
2                        Assets  ...                 NaN
3   Cash and cas\n(Refer to Not  ...              13,562
4                   Investments  ...                 NaN
5         Preference\ninstrumen  ...                 133
6          Tax-free b\ngovernme  ...            2,135(2)
7                     Liquid mu  ...               2,019
8           Redeemab\ndebenture  ...               1,159
9                     Fixed mat  ...                 428
10                  Certificate  ...                 886
11                     Non-conv  ...               1,924
12                     Governme  ...                 664
13                Trade receiva  ...              15,459
14                 Loans (Refer  ...                 605
15  Other financ\n(Refer to Not  ...            4,929(3)
16                        Total  ...              43,903

[17 rows x 14 columns]

<Page:182>

                                                    0  ...                  12
0                                         Particulars  ...    otal fair\nvalue
1                                                None  ...                None
2                                         Liabilities  ...                 NaN
3                    Trade payables\n(Refer to Note 2  ...               1,529
4                                   Lease liabilities  ...               3,165
5                   Other financial\n(Refer to Note 2  ...               6,456
6                                               Total  ...              11,150
7   )  The carrying va\n)  On account of f\n)  Exc...  ...           in ` cror
8                                         Particulars  ...  Total\nfair\nvalue
9                                                None  ...                None
10                                             Assets  ...                 NaN
11                   Cash and cash \n(Refer to Note 2  ...              15,551
12                                     Investments (R  ...                 NaN
13                         Preference se\ninstruments  ...                 106
14                                Tax-free bon\nbonds  ...            2,048(2)
15                                        Liquid mutu  ...               1,701
16                         Redeemable,\ndebentures(1)  ...               1,445
17                                       Fixed maturi  ...                 401
18                                     Certificates o  ...               2,123
19                                         Government  ...                 724
20                                        Non-convert  ...               2,955
21                                         Commercial  ...                 495
22                                   Trade receivable  ...              13,370
23                                    Loans (Refer to  ...               1,064
24                  Other financial\n(Refer to Note 2  ...            4,948(3)
25                                              Total  ...              46,931
26                                        Liabilities  ...                 NaN
27                                     Trade payables  ...               1,604
28                        Other financial\nNote 2.12)  ...               7,196
29                                              Total  ...               8,800

[30 rows x 13 columns]

<Page:183>

                                                    0  ...                10
0                                         Particulars  ...           end\nng
1                                                None  ...              el 3
2                                              Assets  ...               NaN
3                                         Investments  ...                 –
4                                         Investments  ...                 –
5                                         Investments  ...                 –
6                                         Investments  ...                 2
7                                         Investments  ...               101
8                                         Investments  ...                 –
9                                         Investments  ...                 –
10                                        Investments  ...                 –
11                                        Investments  ...                 –
12                                       Other invest  ...                30
13                         Derivative fi\nforward and  ...                 –
14                                        Liabilities  ...               NaN
15                         Derivative fi\nforward and  ...                 –
16                                      Liability tow  ...               151
17  )  Discount rate\nDuring the ye\nevel 2 to Lev...  ...  from\nwer\n cror
18                                        Particulars  ...           end\nng
19                                               None  ...              el 3
20                                             Assets  ...               NaN
21                                        Investments  ...                 –
22                                        Investments  ...                 –
23                                        Investments  ...                 –
24                                        Investments  ...                 –
25                                        Investments  ...                 1
26                                        Investments  ...                89
27                                        Investments  ...                 –
28                                        Investments  ...                 –
29                                        Investments  ...                 –
30                                        Investments  ...                 –
31                                       Other invest  ...                16
32                         Derivative fi\nforward and  ...                 –
33                                        Liabilities  ...               NaN
34                         Derivative fi\nforward and  ...                 –
35                                      Liability tow  ...               116

[36 rows x 11 columns]

<Page:184>

                             0              1  ...                 8           9
0                  Particulars            NaN  ...  Other \nrrencies       Total
1             Cash and cash eq      uivalents  ...               162         731
2            Trade receivables            NaN  ...               733      14,808
3   Other financial as\nloans)  sets (includi  ...               445       3,531
4            Lease liabilities            NaN  ...             (127)     (2,409)
5               Trade payables            NaN  ...              (77)     (1,207)
6          Other financial lia       bilities  ...             (308)     (4,158)
7         Net assets / (liabil         ities)  ...               828      11,296
8           The foreign curren   cy risk from  ...               NaN  in ` crore
9                  Particulars            NaN  ...  Other \nrrencies       Total
10            Cash and cash eq      uivalents  ...               185       1,381
11           Trade receivables            NaN  ...               693      12,879
12  Other financial as\nloans)  sets (includi  ...               865       3,095
13              Trade payables            NaN  ...              (52)     (1,074)
14         Other financial lia       bilities  ...             (174)     (3,693)
15        Net assets / (liabil         ities)  ...             1,517      12,588
16        Sensitivity analysis     between In  ...               NaN         NaN
17                 Particulars            NaN  ...        ar ended M    arch 31,
18                        None           None  ...              2020        2019
19            Impact on the Co   mpany’s incr  ...             0.47%       0.48%

[20 rows x 10 columns]

<Page:185>

                                                    0  ...                                                 10
0                                         Particulars  ...                                                 19
1                                                None  ...                                              crore
2                                          Derivative  ...                                                NaN
3                                          Options co  ...                                                NaN
4                                            In Austr  ...                                                588
5                                             In Euro  ...                                               ,049
6                                             In UK P  ...                                                226
7                                          Other deri  ...                                                NaN
8                                           Forward c  ...                                                NaN
9                                             In Cana  ...                                                 68
10                                            In Euro  ...                                               ,289
11                                           In Japan  ...                                                 34
12                                             In New  ...                                                 75
13                                            In Norw  ...                                                 32
14                                           In South  ...                                                  –
15                                           In Singa  ...                                                716
16                                            In Swed  ...                                                 37
17                                           In Swiss  ...                                                172
18                                            In US D  ...                                               ,910
19                                            In UK P  ...                                                634
20                                         Options co  ...                                                NaN
21                                           In Austr  ...                                                 49
22                                            In Cana  ...                                                 69
23                                            In Euro  ...                                                466
24                                           In Swiss  ...                                                 35
25                                            In US D  ...                                               ,995
26                                            In UK P  ...                                                 91
27                                         Total forw  ...                                               ,535
28  The foreign\nwithin 12 \nfinancial in\non the rem  ...  dging\nent is\ns.\nonger\nanged\nnting,\neithe...
29                                        Particulars  ...                                               None
30                                               None  ...                                               None
31                                        Not later t  ...                                               None
32                          Later than \nnot later th  ...                                               None
33                          Later than \nnot later th  ...                                               None
34                                                NaN  ...                                               None
35                                               None  ...                                                 1,
36                                               None  ...                                               2019
37                                               None  ...                                                NaN
38                                               None  ...                                                  –
39                                               None  ...                                                118
40                                               None  ...                                               (90)
41                                               None  ...                                                (7)
42                                               None  ...                                                 21

[43 rows x 11 columns]

<Page:186>

                                                    0  ...                                 7
0                                         Particulars  ...                        h 31, 2019
1                                                None  ...  Derivative \nfinancial liability
2                                     Gross amount of  ...                              (15)
3                                      Amount set off  ...                                 2
4                                      Net amount pre  ...                              (13)
5   Credit risk \nCredit risk refers\nthe counterp...  ...                               NaN
6                                                None  ...                    nded March 31,
7                                                None  ...                          020 2019
8                                                None  ...                           21   11
9                                                None  ...                         580   521
10                                        Particulars  ...                              None
11                                               None  ...                              None
12                                    Revenue from to  ...                              None
13                                    Revenue from to  ...                              None
14  Credit risk expos\nThe allowance fo\nbalances ...  ...                              None
15                                        Particulars  ...                              None
16                                               None  ...                              None
17                                   Balance at the b  ...                              None
18                        Impairment loss\n(reversed)  ...                              None
19                                    Amounts written  ...                              None

[20 rows x 8 columns]

<Page:187>

                                  0  ...                                                  8
0                       Particulars  ...                                         ears Total
1                     Trade payable  ...                                          –   1,529
2      Other financi\nconsideration  ...                                          –   5,844
3   Liability towa\nbasis (Refer to  ...                                            –   152
4                   The details reg  ...                              follows :\nin ` crore
5                       Particulars  ...                                         ears Total
6                     Trade payable  ...                                          –   1,604
7      Other financi\nconsideration  ...                                          –   7,067
8   Liability towa\nbasis (Refer to  ...                                            –   135
9                              None  ...  nies Act, 2013,\nrve equal to the\nn appropria...
10                             None  ...                                          March 31,
11                             None  ...                                             0 2019
12                             None  ...                                                NaN
13                             None  ...                                                NaN
14                             None  ...                                          0   2,400
15                             None  ...                                                NaN
16                             None  ...                                          9   2,178
17                             None  ...                                                NaN
18                             None  ...                                          9   2,178

[19 rows x 9 columns]

<Page:188>

                                                   0                                                  1
0                             (a) Declared a special                              dividend of ` 4 per e
1  (b) Recommended buy\nmarket route throu\n` 8,2...  back of equity shares\ngh Indian stock exch\ni...

<Page:189>

              0                     1          2            3
0   Particulars                   NaN  Year ende  d March 31,
1          None                  None       2020         2019
2  Interim divi  dend for fiscal 2020       8.00            –
3  Final divide    nd for fiscal 2019      10.50            –
4  Interim divi  dend for fiscal 2019          –         7.00

<Page:189>

                                                    0  ...                               8
0                                         Particulars  ...                            None
1                                     Special dividen  ...                            None
2                                      Final dividend  ...                            None
3                                     Special dividen  ...                            None
4   (1)  Dividend per sh\nSeptember 201\nDuring th...  ...                            None
5                                      Name of the sh  ...                         1, 2019
6                                                None  ...                          % held
7                       Deutsche Bank\nADRs – legal o  ...                           17.11
8                                      Life Insurance  ...                            5.83
9                  The reconciliati\n2019 is as follo  ...  nd March 31,\nstated otherwise
10                                        Particulars  ...                         1, 2019
11                                               None  ...                          Amount
12                                    As at the begin  ...                           1,092
13                   Add : Shares iss\n– before bonus  ...                               –
14                                     Add : Bonus sh  ...                           1,092
15                  Add : Shares iss\n– after bonus i  ...                               –
16                                   Less : Shares bo  ...                               6
17                                    As at the end o  ...                           2,178

[18 rows x 9 columns]

<Page:190>

                      0      1   2  ...       4             5                6
0           Particulars    NaN NaN  ...  9 Plan           NaN        2015 Plan
1                  None   None NaN  ...  d Marc  h 31, Year e   nded March 31,
2                  None   None NaN  ...     NaN        2019 2      020 2019(1)
3    Equity-settled RSU    NaN NaN  ...     NaN           NaN              NaN
4                   KMP    NaN NaN  ...     NaN     –   5,07,   896   6,75,530
5   Employees other tha  n KMP NaN  ...     NaN    –   33,46,  280   36,65,170
6                   NaN    NaN NaN  ...     NaN    –   38,54,  176   43,40,700
7      Cash-settled RSU    NaN NaN  ...     NaN           NaN              NaN
8                   KMP    NaN NaN  ...     NaN     –   1,80,          400   –
9   Employees other tha  n KMP NaN  ...     NaN     –   4,75,     740   74,090
10                  NaN    NaN NaN  ...     NaN     –   6,56,     140   74,090
11         Total grants    NaN NaN  ...     NaN     –  45,10,    316 44,14,790

[12 rows x 7 columns]

<Page:191>

                                                    0  ...                                                  9
0                                                None  ...                                             ch 31,
1                                                None  ...                                               2019
3                                                None  ...                                                 33
4                                                None  ...                                                149
5                                                None  ...                                                182
6                                                None  ...                                                  2
7                                                None  ...  modifie\ny issue\nstandin\nent wa\npositor\nmp...
8                                         Particulars  ...                                              19(1)
9                                                None  ...                                  average\nrice (`)
10                                    2015 Plan : RSU  ...                                                NaN
11                              Outstanding at the be  ...                                               2.50
12                                            Granted  ...                                               3.84
13                                          Exercised  ...                                               2.50
14                             Modification to cash-s  ...                                                  –
15                              Forfeited and expired  ...                                               2.61
16                              Outstanding at the en  ...                                               3.13
17                             Exercisable at the end  ...                                               2.50
18                               2015 Plan : Employee  ...                                                NaN
19                              Outstanding at the be  ...                                                493
20                                            Granted  ...                                                  –
21                                          Exercised  ...                                                515
22                             Modification to cash-s  ...                                                  –
23                              Forfeited and expired  ...                                                521
24                              Outstanding at the en  ...                                                516
25  Exercisable at the end\n2019 Plan : RSU\nOutst...  ...                                                517
27                                               None  ...                                                  –
28                                            Granted  ...                                                  –
29                                          Exercised  ...                                                  –
30                              Forfeited and expired  ...                                                  –
31                              Outstanding at the en  ...                                                  –
32                             Exercisable at the end  ...                                                  –

[31 rows x 10 columns]

<Page:192>

                                                    0  ...                                                  9
0                                              Ra\npr  ...                                                  g
1                                                None  ...                    Weighted\ne exercise\nprice (`)
2                                                   0  ...                                               3.96
3                                                  45  ...                                                539
4                                                 NaN  ...                                                 64
5                                                  Th  ...                                                s :
6                                                  Ra  ...                                                NaN
7                                                None  ...                              d average\n price (`)
8                                                   0  ...                                               3.13
9                                                  45  ...                                                516
10                                                NaN  ...                                                 80
11  (1) \nAs \nres\nMa\nTh\nan\nTh\nter\nof \nof \...  ...  utstandin\ncrore as a\ned option\n, expecte\nl...
12                                                 Pa  ...                                                NaN
13                                               None  ...                                 scal 2019\nADS-RSU
14                                                  W  ...                                              10.77
15                                                 Ex  ...                                               0.06
16                                                 Ex  ...                                              22-26
17                                                 Ex  ...                                                1-4
18                                                 Ex  ...                                               2.65
19                                                 Ri  ...                                                2-3
20                                             W\n/ (  ...                                              10.03
21                                  (1) \nTh\nex\n2.1  ...                             , as well a\nin ` cror
22                                                 Pa  ...                                                31,
23                                               None  ...                                               2019
24                                                  N  ...                                                NaN
25                                                  O  ...                                                NaN
26                                                NaN  ...                                                 38
27                                                NaN  ...                                                  –
28                                                NaN  ...                                                 41
29                                                NaN  ...                                                  –
30                                                 To  ...                                                 79
31                                                  C  ...                                                NaN
32                                                NaN  ...                                                 29

[33 rows x 10 columns]

<Page:193>

                                                    0  ...                10
0                                         Particulars  ...               NaN
1                                                None  ...                 9
2                                              Others  ...               NaN
3                                             Accrued  ...                 6
4                                             Accrued  ...                 0
5                                            Retentio  ...                 0
6                                           Payable f  ...                 5
7                                           Capital c  ...                 3
8                                           Financial  ...                 2
9                                              Compen  ...                 3
10                                           Other pa  ...                 7
11                                          Foreign c  ...                 3
12                                      Total current  ...                 8
13                                     Total other fi  ...                 7
14                                     Financial liab  ...                 7
15                                     Financial liab  ...                 8
16                                     Financial liab  ...                 1
17                                       Contingent c  ...                 5
18                                  (1)  Includes due  ...                 6
19                                  (2)  Includes due  ...                 3
20  In accordance\nto acquire its \nliability is r...  ...  on\nial\nck,\ned
21                                               None  ...               NaN
22                                               None  ...                 9
23                                        Particulars  ...               NaN
24                                               None  ...                 8
25                                      Trade payable  ...                 4
26                                     Total trade pa  ...                 5
27                                  (1)  Includes due  ...                 4
28  As at March \nutstanding d\nhere is no in\nhe ...  ...              None
29                                        Particulars  ...              None
30                                               None  ...              None
31                                        Non-current  ...              None
32                       Accrued prov\n(Refer to Note  ...              None
33                                             Others  ...              None
34                                        Deferred in  ...              None
35                                        Deferred re  ...              None
36                                      Total non-cur  ...              None
37                                            Current  ...              None
38                       Accrued prov\n(Refer to Note  ...              None
39                                       Unearned rev  ...              None
40                                      Client deposi  ...              None

[41 rows x 11 columns]

<Page:194>

                             0  ...                   2
0                  Particulars  ...           As at Mar
1                         None  ...                2020
2                      Current  ...                 NaN
3                       Others  ...                 NaN
4     Post-sales c\nand others  ...                 506
5               Total provisio  ...                 506
6   The movemen\nand others is  ...  n for post-sales c
7                  Particulars  ...                 NaN
8                Balance at th  ...                 NaN
9                Provision rec  ...                 ed)
10              Provision util  ...                 NaN
11                Exchange dif  ...                 NaN
12               Balance at th  ...                 NaN

[13 rows x 3 columns]

<Page:195>

                                                    0  ...                                                  3
0                                         Particulars  ...                                           arch 31,
1                                                None  ...                                               2019
2                                       Current taxes  ...                                              5,189
3                                      Deferred taxes  ...                                                 36
4                                    Income tax expen  ...                                              5,225
5   During the quart\nentered into an \noverseas j...  ...  e Company\n(APA) in an\n income tax\neriods.\n...
6                                         Particulars  ...                                           arch 31,
7                                                None  ...                                               2019
8                                  Profit before inco  ...                                             19,927
9                                   Enacted tax rates  ...                                             34.94%
10                            Computed expec\nexpense  ...                                              6,963
11     Tax effect due to \nincome for India\npurposes  ...                                            (2,628)
12                                     Overseas taxes  ...                                                643
13                                  Tax provision (re  ...                                              (144)
14                Effect of exempt \noperating income  ...                                               (62)
15                        Effect of non-ded\nexpenses  ...                                                376

[16 rows x 4 columns]

<Page:195>

                                                    0  ...         13
0                                         Particulars  ...       None
1                                                None  ...       None
2                          Branch profit ta\ncredits)  ...       None
3                                              Others  ...       None
4                                      Income tax exp  ...       None
5   The applicable \nyears ended Mar\nThe foreign ...  ...       None
6                                                None  ...        NaN
7                                                None  ...          9
8                                                None  ...          3
9                                                None  ...          8
10                                               None  ...          5
11                                               None  ...  /\n1,\nre
12                                               None  ...        NaN
13                                               None  ...          9
14                                               None  ...          4
15                                               None  ...          1
16                                               None  ...          )
17                                               None  ...          8
18                                               None  ...          6
19                                               None  ...          4
20                                               None  ...          1
21                                               None  ...          5
22                                               None  ...    s :\nre
23                                        Particulars  ...  e \nh \n0
24                        Property, plant \nequipment  ...          3
25                                  Lease liabilities  ...          0
26                                    Trade receivabl  ...          2
27                                      Compensated a  ...          0
28                                   Post-sales clien  ...          1
29                      Derivative finan\ninstruments  ...          5
30                   Credits related \nbranch profits  ...          7

[31 rows x 14 columns]

<Page:196>

                                     0  ...                                      10
0                          Particulars  ...  arrying value \nas of March \n31, 2020
1                      Branch profit t  ...                                   (555)
2                               Others  ...                                    (90)
3      Total deferred \ntax assets and  ...                                     873
4                         The movement  ...             is as follows :\nin ` crore
5                          Particulars  ...  arrying value \nas of March \n31, 2019
6                      Property, plant  ...                                     223
7                       Trade receivab  ...                                     164
8                          Compensated  ...                                     349
9                      Post-sales clie  ...                                      95
10                     Derivative fina  ...                                   (102)
11                     Credits related  ...                                     340
12                     Branch profit t  ...                                   (541)
13                              Others  ...                                      45
14    Total deferred \nand liabilities  ...                                     573
15  The tax effects o\nin deferred inc  ...                                    None
16                         Particulars  ...                                    None
17                                None  ...                                    None
18     Deferred inco\nassets after set  ...                                    None
19    Deferred inco\nliabilities after  ...                                    None

[20 rows x 11 columns]

<Page:197>

                                      0              1             2
0                           Particulars  Year end\n202  ed March 31,
1                                  None           None        0 2019
2           Revenue from software servi     ces  78,80    9   72,845
3  Revenue from products and\nplatforms             23       8   262
4           Total revenue from operatio      ns  79,04    7   73,107

<Page:198>

               0        1                 2
0    Particulars      NaN  Year ended\n2020
1  Revenue by of  ferings               NaN
2           Core      NaN            47,533
3        Digital      NaN            31,514
4          Total      NaN            79,047

<Page:199>

                                                   0  ...        3
0                                        Particulars  ...  d March
1                                               None  ...        0
2               Interest income o\nassets carried at  ...      NaN
3                      Tax-free bonds\ngovernment bo  ...        8
4                             Deposits with \nothers  ...        0
5  Interest income o\nassets fair valued\ncompreh...  ...      NaN

[6 rows x 4 columns]

<Page:200>

                                                    0  ...          3
0                                           rticulars  ...      h 31,
1                                                None  ...       2019
2   Non-convertible \ncommercial pape\nof deposit ...  ...        581
3   come on investm\nfair value throug\nmprehensiv...  ...          –
4                 come on investme\nr value through p  ...        NaN
5                       Dividend income\nmutual funds  ...          2
6                 Gain / (loss) on l\nfunds and other  ...        175
7                              terest income on\nfund  ...         50
8   change gains / (l\nreign currency fo\ntions co...  ...        184
9              change gains / (lo\nnslation of assets  ...        144
10                                  iscellaneous inco  ...        303
11                                   tal other income  ...      2,852
12                                        9  Expenses  ...  in ` cror
13                                          rticulars  ...      h 31,
14                                               None  ...       2019
15                                  mployee benefit e  ...        NaN
16                                  Salaries includin  ...     37,185
17                  Contribution to \nand other funds  ...        797
18                  Share-based pay\nemployees (Refer  ...        182
19                                      Staff welfare  ...        132
20                                                NaN  ...     38,296
21                           ost of software pa\nhers  ...        NaN
22                                        For own use  ...        793
23               Third-party item\nservice delivery t  ...        853
24                                                NaN  ...      1,646
25                                      ther expenses  ...        NaN
26                                     Power and fuel  ...        171
27                                    Brand and marke  ...        406
28                       Short-term leases\nNote 2.3)  ...          –
29                                   Operating leases  ...        339
30                                    Rates and taxes  ...        110
31                                   Repairs and main  ...      1,051
32                                        Consumables  ...         33
33                                          Insurance  ...         55
34                Provision for pos\nsupport and othe  ...        (6)
35                    Commission to n\ntime directors  ...          7
36  Impairment loss \n/ (reversed) unde\ncredit lo...  ...        184

[37 rows x 4 columns]

<Page:200>

                                                0             1      2   3
0                                            None          None   2020 NaN
1                                  Auditor’s remu      neration    NaN NaN
2                                    Statutory au      dit fees      7 NaN
3                                     Tax matters           NaN      – NaN
4                                    Other servic            es      2 NaN
5  Contributions \nCorporate Soci\nResponsibility  towards \nal    360 NaN
6                                          Others           NaN    171 NaN
7                                             NaN           NaN  2,787 NaN

<Page:201>

                                                    0  ...                      4
0                                         Particulars  ...                     1,
1                                                None  ...                   2019
2                               Change in benefit obl  ...                    NaN
3                  Benefit obligations at \nbeginning  ...                  1,028
4                                        Service cost  ...                    135
5                                    Interest expense  ...                     73
6                              Transfer of obligation  ...                      1
7               Remeasurements – Ac\n(gains) / losses  ...                     31
8                                       Benefits paid  ...                  (110)
9                              Benefit obligations at  ...                  1,158
10                              Change in plan assets  ...                    NaN
11                 Fair value of plan asse\nbeginning  ...                   1051
12                                    Interest income  ...                     78
13                                 Transfer of assets  ...                      2
14  Remeasurements – Re\nplan assets excluding \ni...  ...                      4
15                                      Contributions  ...                    158
16                                      Benefits paid  ...                  (110)
17                       Fair value of plan asse\nend  ...                  1,183
18                                      Funded status  ...                     25
19  The amount for the \nMarch 31, 2019 recog\nLos...  ...  0 an\nfit an\n ` cror
20                                        Particulars  ...                    31,
21                                               None  ...                   2019
22                                       Service cost  ...                    135
23  Net interest on the ne\nbenefit liability / asset  ...                    (5)
24                                  Net gratuity cost  ...                    130

[25 rows x 5 columns]

<Page:201>

                                                    0  ...                                    3
0                                         Particulars  ...                         Year ended M
1                                                None  ...                                 2020
2                              Remeasure\ndefined ben  ...                                  NaN
3                                        Actuarial (g  ...                                 (78)
4   (Return) / l\nexcluding a\nin the net i\ndefin...  ...                                  (8)
5                                                 NaN  ...                                 (86)
7                                         Particulars  ...                         Year ended M
8                                                None  ...                                 2020
9                             (Gain) / los\ndemograph  ...                                    –
10                         (Gain) / los\nfinancial as  ...                                 (61)
11                           (Gain) / los\nexperience  ...                                 (17)
12                                                NaN  ...                                 (78)
13              The weight\nbenefit obli\n2019 are as  ...          ions used to \n31, 2020 and
14                                        Particulars  ...                           As at Marc
15                                               None  ...                                 2020
16                                        Discount ra  ...                                 6.2%
17                Weighted a\nincrease in \nlevels(2)  ...                                 6.0%
18                            Weighted a\ndefined ben  ...                            5.9 years
19               The weight\nperiodic be\nand March 3  ...  ns used to dete\ns ended March\ns :
20                                        Particulars  ...                         Year ended M
21                                               None  ...                                 2020
22                                        Discount ra  ...                                 7.1%
23                            Weighted a\nincrease in  ...                                 8.0%

[23 rows x 4 columns]

<Page:202>

                                                   0  ...                                                  3
0                         Impact from p\ndecrease in  ...                             As at March \n31, 2020
1                                      Discount Rate  ...                                                 67
2                        Weighted aver\ncompensation  ...                                                 59
3  Sensitivity for \nby varying one \nthe defined...  ...  s is computed\nhe valuation of\nge, keeping al...
4                                      Within 1 year  ...                                                171
5                                           1-2 year  ...                                                178
6                                           2-3 year  ...                                                184
7                                           3-4 year  ...                                                196
8                                           4-5 year  ...                                                114
9                                         5-10 years  ...                                              1,059

[10 rows x 4 columns]

<Page:202>

                                                    0  ...                                         2
0                                         Particulars  ...                                        As
1                                   Change in benefit  ...                                       NaN
2                                 Benefit obligations  ...                                       NaN
3                                  Service cost – emp  ...                                         n
4                                    Employee contrib  ...                                       NaN
5                                    Interest expense  ...                                       NaN
6                                 Actuarial (gains) /  ...                                       NaN
7                                       Benefits paid  ...                                       NaN
8                                 Benefit obligations  ...                                       NaN
9                                   Change in plan as  ...                                       NaN
10                                 Fair value of plan  ...                                     nning
11                                    Interest income  ...                                       NaN
12      Remeasurements –\nexcluding amount\nincome(1)  ...                             assets \nrest
13                                  Contributions (em  ...                                     oyee)
14                                      Benefits paid  ...                                       NaN
15                                 Fair value of plan  ...                                       NaN
16                               Net liability (Refer  ...                                       NaN
17  )  Includes unrealized\nAmount for the yea\nta...  ...  stments in bond\n, 2020 recogn\nincome :
18                                        Particulars  ...                                         Y
19              Remeasurements o\nliability / (asset)  ...                                   benefit
20                                Actuarial (gains) /  ...                                       NaN
21  (Return) / loss on\namounts included\nnet defi...  ...                           ding \nt on the
23            Assumptions used i\nf the defined benef  ...              present value\nDeterministic
24                                        Particulars  ...                               As at March
25                                               None  ...                                      2020
26                    Government of In\nbond yield(1)  ...                                     6.20%
27                    Expected rate of r\nplan assets  ...                                     8.00%
28                    Remaining term to\nof portfolio  ...                                   6 years
29                            Expected guarante\nrate  ...                                       NaN
30                                         First year  ...                                     8.50%
31                                         Thereafter  ...                                     8.50%

[31 rows x 3 columns]

<Page:203>

                                                    0  ...                                                  4
0                                         Particulars  ...                              s at March \n31, 2020
1                                         Central and  ...                                                49%
2                           Public secto\nsector bond  ...                                                48%
3                                              Others  ...                                                 3%
4   The asset all\ninvestment c\nAs at March\nbe a...  ...  d based on\nregulations.\nation would\n08 cror...
5                                         Particulars  ...                           As at \nMarch 31, \n2019
6                                        Benefit obli  ...                                              5,989
7                                       Net liability  ...                                                  –
8   The Compan\nprovident fu\nMarch 31, 2\nin the ...  ...  crore to the\n1, 2020 and\n recognized\nss und...
9                                         Particulars  ...                                          March 31,
10                                               None  ...                                               2019
11                                       Salaries and  ...                                             37,516
12                                        Defined con  ...                                                199
13                                        Defined ben  ...                                                581
14                                                NaN  ...                                             38,296

[15 rows x 5 columns]

<Page:203>

                                                    0  ...                        9
0                                         Particulars  ...                    h 31,
1                                                None  ...                  2019(1)
2                           Basic earnin\noutstanding  ...              6,82,12,119
3                                      Effect of dilu  ...                22,00,229
4                             Diluted earn\ncommon eq  ...              7,04,12,348
5   (1)  Adjusted for\nFor the year\nanti-dilutive...  ...  ares had an\nin ` crore
6                                         Particulars  ...                   ch 31,
7                                                None  ...                     2019
8                                        Contingent l  ...                      NaN
9                                        Claims again  ...                    2,947
10                                         [Amount pa  ...                      NaN
11                                          Commitmen  ...                      NaN
12                          Estimated a\nprovided for  ...                    1,653
13                                       (net of adva  ...                      NaN
14                                         Other comm  ...                       17

[15 rows x 10 columns]

<Page:204>

             0                                  1  ...            8       9
0           Na                   me of subsidiari  ...  Holdings as      at
1         None                               None  ...         2020    2019
2         Info                     sys Technologi  ...         100%    100%
3         Info                     sys Technologi  ...         100%    100%
4         Info                     sys Technologi  ...         100%    100%
5         Info                     sys Technologi  ...         100%    100%
6         Info                     sys Tecnologia  ...            –    100%
7         Info                     sys Nova Holdi  ...         100%    100%
8          Edg                     eVerve Systems  ...         100%    100%
9         Info                     sys Austria Gm  ...         100%    100%
10         Ska                    va Systems Pvt.  ...         100%    100%
11         Kal                  lidus Inc. (Kalli  ...         100%    100%
12        Info                      sys Chile SpA  ...         100%    100%
13        Info                     sys Arabia Lim  ...          70%     70%
14        Info                     sys Consulting  ...         100%  99.99%
15        Info                   sys CIS LLC(1)(1  ...            –       –
16        Info                      sys Luxembour  ...         100%    100%
17        Info                    sys Americas In  ...         100%    100%
18        Info                     sys Technologi  ...            –    100%
19        Info                    sys Public Serv  ...         100%    100%
20        Info                      sys Canada Pu  ...            –       –
21        Info                     sys BPM Limite  ...       99.99%  99.98%
22        Info                     sys (Czech Rep  ...       99.99%  99.98%
23        Info                     sys Poland Sp.  ...       99.99%  99.98%
24        Info                       sys McCamish  ...       99.99%  99.98%
25         Por                    tland Group Pty  ...       99.99%  99.98%
26        Info                      sys BPO Ameri  ...       99.99%  99.98%
27        Info                     sys Consulting  ...         100%    100%
28         Lod                      estone Manage  ...            –       –
29        Info                       sys Manageme  ...         100%    100%
30        Info                     sys Consulting  ...         100%    100%
31        Info                     sys Consulting  ...         100%    100%
32        Info                     sys Consulting  ...         100%    100%
33        Info                     sys Consulting  ...         100%    100%
34        Info                     sys Consulting  ...         100%    100%
35   Info\nCon  sys Consulting\nsultants Co., Ltd  ...         100%    100%
36        Infy                      Consulting Co  ...         100%    100%
37        Infy                      Consulting B.  ...         100%    100%
38        Info                     sys Consulting  ...       99.99%    100%
39         Lod                      estone Manage  ...         100%    100%
40        Info                     sys Consulting  ...         100%    100%
41  Info\n(Bel     sys Consulting\ngium) S.A.)(6)  ...       99.90%  99.90%
42         Pan                    aya Inc. (Panay  ...         100%    100%
43         Pan                        aya Ltd.(7)  ...         100%    100%
44         Pan                        aya GmbH(7)  ...         100%    100%
45         Pan                    aya Japan Co. L  ...            –    100%
46        Bril                   liant Basics Hol  ...         100%    100%
47        Bril                   liant Basics Lim  ...         100%    100%
48        Bril                   liant Basics (ME  ...         100%    100%

[49 rows x 10 columns]

<Page:205>

           0             1                2   ...  10             11    12
0     Name of    subsidiari               es  ... NaN  Holdings as a     t
1        None          None             None  ... NaN           2020  2019
2   Infosys C     onsulting    Pte Ltd. (Inf  ... NaN           100%  100%
3     Infosys    Middle Eas      t FZ LLC(9)  ... NaN           100%  100%
4    Fluido O      y(9)(14)              NaN  ... NaN           100%  100%
5    Fluido S      weden AB     (Extero)(15)  ... NaN           100%  100%
6    Fluido N     orway A/S             (15)  ... NaN           100%  100%
7    Fluido D     enmark A/            S(15)  ... NaN           100%  100%
8    Fluido S  lovakia s.r.            o(15)  ... NaN           100%  100%
9    Fluido N     ewco AB(1               5)  ... NaN           100%  100%
10  Infosys C      ompaz Pt   e Ltd (formerl  ... NaN            60%   60%
11  Infosys S    outh Afric  a (Pty) Ltd(9)(  ... NaN           100%     –
12     WongDo     ody Holdi       ng Company  ... NaN           100%  100%
13      WDW C      ommunica   tions, Inc(12)  ... NaN           100%  100%
14     WongDo  ody, Inc(12)              NaN  ... NaN           100%  100%
15    HIPUS C   o., Ltd (fo    rmerly Hitach  ... NaN            81%     –
16  Stater N.        V.(21)              NaN  ... NaN            75%     –
17  Stater Ne     derland B          .V.(22)  ... NaN            75%     –
18  Stater Du    itsland B.           V.(22)  ... NaN            75%     –
19  Stater XX    L B.V.(22)              NaN  ... NaN            75%     –
20    HypoCas   so B.V.(22)              NaN  ... NaN            75%     –
21  Stater Pa   rticipation       s B.V.(22)  ... NaN            75%     –
22  Stater De     utschland      Verwaltungs  ... NaN            75%     –
23  Stater De     utschland        GmbH & Co  ... NaN            75%     –
24  Stater Be    lgium N.V.        /S.A.(24)  ... NaN         53.99%     –
25     Outbox    Systems In     c. dba Simpl  ... NaN           100%     –
26    Simplus      North Am   erica Inc.(28)  ... NaN           100%     –
27    Simplus     ANZ Pty L          td.(28)  ... NaN           100%     –
28    Simplus   Australia P       ty Ltd(30)  ... NaN           100%     –
29   Sqware P    eg Digital      Pty Ltd(30)  ... NaN           100%     –
30    Simplus    Philippine      s, Inc.(28)  ... NaN           100%     –
31    Simplus    Europe, Lt           d.(28)  ... NaN           100%     –
32    Simplus   U.K., Ltd.(              29)  ... NaN           100%     –
33    Simplus   Ireland, Lt           d.(29)  ... NaN           100%     –

[34 rows x 13 columns]

<Page:206>

                                                    0  ...                12
0                                         Particulars  ...               NaN
1                                         Infosys Lim  ...               sys
2                                         Infosys Lim  ...               sys
3                                         Infosys Lim  ...               sys
4                                          Infosys Em  ...               NaN
5                                          Infosys Em  ...               NaN
6                                         Infosys Sci  ...               NaN
7                                          Infosys Ex  ...               NaN
8   (1)  Registered\n  The Comp\n2020 and \nordina...  ...  arch 31\nd in th
9                                                None  ...                1,
10                                               None  ...              2019
11                                               None  ...             1,445
12                                               None  ...               NaN
13                                               None  ...                 3
14                                               None  ...                 –
15                                               None  ...                23
16                                               None  ...                 3
17                                               None  ...                 1
18                                               None  ...                10
19                                               None  ...                13
20                                               None  ...                57
21                                               None  ...                 6
22                                               None  ...                 –
23                                               None  ...                 –
24                                               None  ...                89
25                                               None  ...               115
26                                               None  ...                 5
27                                               None  ...               325
28         Nilanjan R\n(appointed as\nOfficer effecti  ...               NaN
29                                               None  ...                82
30                                               None  ...                89
31            Ravi Kuma\nPresident and\nOperating Off  ...              None
32                                               None  ...                 7
33                 Krishnamu\nGroup Head –\nResources  ...               663
34                                               None  ...                 –
35                                               None  ...               841
36                                               None  ...               NaN
37                                               None  ...               109
38              Inderpreet\nGroup Gener\nChief Compli  ...              None
39                                               None  ...               109
40                                               None  ...               NaN
41    Company \nA.G.S. Man\nThe details \nat March 31  ...                10
42                                               None  ...                 3
43                                               None  ...                 –
44                                               None  ...                 2
45                                               None  ...                 2
46                                               None  ...                 1
47                                               None  ...                 3
48                                        Particulars  ...              None
49                                               None  ...                 –
50                                               None  ...              None
51                                          Investmen  ...              None
52                                               None  ...                 1
53                                         EdgeVerve(  ...              None
54                                               None  ...                 3

[55 rows x 13 columns]

<Page:207>

                                    0                            1            2
0                         Particulars                           As  at March 31
1                                None                         None         2020
2                      Infosys Consul                ting Pte Ltd.            –
3                            Kallidus                          NaN            2
4                      Infosys Consul                   ting Ltda.            3
5                       Skava Systems                    Pvt. Ltd.            1
6       Lodestone Man\nConsultants Co             agement \n., Ltd            –
7                     Infy Consulting                         B.V.            1
8                      Infosys Brasil                          NaN            –
9                           EdgeVerve                          NaN            –
10                   Brilliant Basics                      Limited            2
11                     Infosys Mexico                          NaN            2
12                      McCamish Syst                      ems LLC            1
13                     Infosys Poland                   Sp. z o.o.            1
14                        Stater N.V.                          NaN           21
15                      Fluido Denmar                        k A/S            1
16                      Infosys Compa                    z Pte Ltd            –
17                                NaN                          NaN           65
18                     Unbilled reven                          ues          NaN
19                          EdgeVerve                          NaN           45
20                           Kallidus                          NaN            8
21                    Stater Nederlan                       d B.V.           31
22                                NaN                          NaN           84
23                     Trade payables                          NaN          NaN
24                      Infosys China                          NaN            6
25                        Infosys BPM                          NaN           60
26    Infosys (Czech \nLimited s.r.o.                    Republic)           10
27                     Infosys Mexico                          NaN            4
28                     Infosys Sweden                          NaN            3
29                     Infosys Shangh                           ai            5
30        Infosys Manage\nPty Limited              ment Consulting            8
31                     Infosys Consul                ting Pte Ltd.            3
32                    Infy Consulting                 Company Ltd.           93
33                     Infosys Brasil                          NaN            –
34                    Infosys consult                     ing Ltda            5
35                   Brilliant Basics                      Limited            8
36                        Panaya Ltd.                          NaN           12
37                     Infosys Public                     Services            3
38                           Kallidus                          NaN            5
39                     Portland Group                      Pty Ltd            2
40                    Infosys Chile S                           pA            3
41  Infosys Compaz\nTrusted Source Pt  Pte Ltd (formerly \ne. Ltd)            1
42                     Infosys Middle                  East FZ-LLC           12
43                     Infosys Poland                   Sp. z o.o.            3
44                     Infosys Consul                  ting S.R.L.           10
45                      Skava Systems                    Pvt. Ltd.            1
46                      McCamish Syst                      ems LLC            1
47                          WDW Commu              nications, Inc.           13
48                                NaN                          NaN          271
49                    Other financial                  liabilities          NaN
50                        Infosys BPM                          NaN            4
51                   Brilliant Basics                      Limited            1
52                          Fluido Oy                          NaN            9
53                      Fluido Sweden                           AB            2
54                     Infosys Mexico                          NaN            1
55                     Infosys Public                     Services            –

<Page:208>

                                                 0  ...                    6
0                                            Parti  ...                    ,
1                                             None  ...                 2019
2                                             Info  ...                    –
3                                             Info  ...                    –
4                                             Info  ...                    1
5                                            Kalli  ...                    –
6                                             Info  ...                    5
7                                            State  ...                    –
8                                             Info  ...                    –
9                                             Info  ...                    1
10                                             NaN  ...                   13
11                                            Accr  ...                  NaN
12                                            Info  ...                    6
13                                             NaN  ...                    6
14  )  At \n)  Int\n)  Int\n)  Int\n)  Int\n)  Int  ...                  NaN
15                                           Parti  ...     nt \n the \n 31,
16                                            None  ...                 2019
17                                Loan\nnatu\nSubs  ...                  NaN
18                                            Info  ...                   86
19                                           Brill  ...                    8
20                                            Info  ...                  678
21                                            Info  ...                  114
22                                      Info\nArge  ...                    –
23                                       Info\nRom  ...                    –
24                                 he \ny th\nMarc  ...  d int\n0 an\n` cror
25                                           Parti  ...                  31,
26                                            None  ...                 2019
27                                            Capi  ...                  NaN
28                                            Fina  ...                  NaN
29                                              Eq  ...                  NaN
30                                             NaN  ...                   43
31                                             NaN  ...                  261
32                                             NaN  ...                    7
33                                             NaN  ...                    –
34                                             NaN  ...                    –
35                                             NaN  ...                   13
36                                             NaN  ...                    4
37                                             NaN  ...                 (33)
38                                             NaN  ...                  127
39                                             NaN  ...                   34
40                                              Pr  ...                  NaN
41                                               I  ...                    –
42                                             NaN  ...                  456

[43 rows x 7 columns]

<Page:208>

                                              0                        1      2
0                                          None                     None   2020
1                                Debentures (ne          t of repayment)    NaN
2                                     EdgeVerve                      NaN  (286)
3                                           NaN                      NaN  (286)
4                              Loans (net of re                 payment)    NaN
5                              Infosys Cons\nAG           ulting Holding   (92)
6                       Brilliant Basi\nLimited              cs Holdings    (7)
7                                 Infosys Consu        lting Pte Ltd.(2)  (496)
8                                  Infosys Cons            ulting S.R.L.      8
9                                           NaN                      NaN  (587)
10                              venue transacti                      ons    NaN
11                             rchase of servic                       es    NaN
12                                Infosys China                      NaN     76
13               Infosys Manage\nConsulting Pty           ment \nLimited    108
14                     Infy Consulting\nLimited                  Company  1,030
15                              Infosys Consult             ing Pte Ltd.     34
16                               Portland Group                  Pty Ltd     22
17              Infosys (Czech \nLimited s.r.o.                Republic)     98
18                                  Infosys BPM                      NaN    733
19                               Infosys Sweden                      NaN     48
20                               Infosys Shangh                       ai     74
21                               Infosys Mexico                      NaN     67
22                               Infosys Public                 Services     35
23                                  Panaya Ltd.                      NaN    102
24                               Infosys Brasil                      NaN     10
25                               Infosys Poland               Sp. z o.o.     30
26                              Infosys Consult               ing S.R.L.     22
27       Infosys Compaz\n(formerly Truste\nLtd)  Pte Ltd \nd Source Pte.      6
28                              Infosys Consult                ing Ltda.     14
29                                     Kallidus                      NaN     26
30                             Brilliant Basics                  Limited     95
31                             Brilliant Basics                   (MENA)      –
32                              Infosys Chile S                       pA     14
33                               Infosys Middle              East FZ-LLC     83
34                                    Fluido Oy                      NaN     12
35                                Fluido Sweden              AB (Extero)     18
36                                McCamish Syst                  ems LLC      6
37                                    WDW Commu          nications, Inc.     61
38                                WongDoody, In                       c.      –
39                                          NaN                      NaN  2,824
40  rchase of share\ncluding facilitie\nrsonnel       d services \ns and    NaN
41                             Brilliant Basics                  Limited      5
42                                  Infosys BPM                      NaN      3
43                                    Fluido Oy                      NaN      1
44                                    WDW Commu          nications, Inc.     12
45                                          NaN                      NaN     21
46                                terest income                      NaN    NaN
47                                Infosys China                      NaN      6
48                             Infosys Consulti            ng Holding AG      1

<Page:209>

                                0  ...                             5
0                            None  ...                          2019
1                             NaN  ...                             6
2                             NaN  ...                           141
3                             NaN  ...                           154
4                               G  ...                           NaN
5                             NaN  ...                             –
6                             NaN  ...                             –
7                              Sa  ...                           NaN
8                             NaN  ...                            31
9                             NaN  ...                            20
10                            NaN  ...                            54
11                            NaN  ...                             6
12                            NaN  ...                           101
13                            NaN  ...                           238
14                            NaN  ...                             3
15                            NaN  ...                             8
16                            NaN  ...                           469
17                            NaN  ...                           766
18                            NaN  ...                            13
19                            NaN  ...                             –
20                            NaN  ...                             –
21                            NaN  ...                             –
22                            NaN  ...                             –
23                            NaN  ...                         1,709
24                         Sa\nfa  ...                           NaN
25                            NaN  ...                            36
26                            NaN  ...                            45
27                            NaN  ...                             –
28                            NaN  ...                            27
29                            NaN  ...                           108
30  (1) \n(2) \n(3) \nTra\nTh\nco  ...  shares\nwhich\ns :\n ` crore
31                             Pa  ...                         h 31,
32                           None  ...                          2019
33                     Sa\nbe\nan  ...                            96
34                      C\nto\ndi  ...                             7
35                             To  ...                           103

[36 rows x 6 columns]

<Page:209>

                                                    0  ...                    11
0                                         Particulars  ...                 Total
1                                     1. Construction  ...                     –
2                                      2. On purposes  ...                   360
3   2.25  Segment\nThe Company pu\n108, Operating ...  ...  Ind A\ns.\nin ` cror
4                                         Particulars  ...                   31,
5                                                None  ...                  2019
6                                      Revenue from o  ...                73,107
7                                       Cost of sales  ...                47,412
8                                        Gross profit  ...                25,695
9                                     Operating expen  ...                   NaN
10                                      Selling and m  ...                 3,661
11                                      General and a  ...                 4,225
12                                    Total operating  ...                 7,886
13                                   Operating profit  ...                17,809
14                                   Reduction in the  ...                   265
15                Adjustment in r\non reclassificatio  ...                   469
16                                       Finance cost  ...                     –
17                                    Other income, n  ...                 2,852
18                                  Profit before tax  ...                19,927
19                                        Tax expense  ...                   NaN
20                                        Current tax  ...                 5,189
21                                       Deferred tax  ...                    36
22                                  Profit for the ye  ...                14,702
23                                     Other comprehe  ...                   NaN
24                                  Items that will n  ...                   NaN
25                                        Remeasureme  ...                  (21)
26                                      Equity instru  ...                    78
27                                  Items that will b  ...                   NaN
28                                     Fair value cha  ...                    21
29                                     Fair value cha  ...                     1
30                                    Total other com  ...                    79
31                                     Total comprehe  ...                14,781
35                                                NaN  ...                Whole-
37                          Bengaluru\nApril 20, 2020  ...                   NaN

[34 rows x 12 columns]

<Page:210>

         0  ...                                                 10
0        1  ...  ed through\nd when the\nen through\nisfied ove...
1      NaN  ...                                                NaN
2      NaN  ...  e contracts\nng contract\nh prevents\non metho...
3  Sr. No.  ...                                                NaN

[4 rows x 11 columns]

<Page:213>

               0  ...                                                  7
0           None  ...                      r knowledge and belief \nnts.
1           None  ...                        aforesaid consolidated \ns.
2           None  ...  g Other Comprehensive \nf Cash Flows dealt wit...
3           None  ...                               d AS specified under
4           None  ...  n March 31, 2020 taken \nn India and the repor...
5           None  ...  e operating effectiveness \n reports of the Co...
6           None  ...  ith the requirements of \nto us, the remunerat...
7           None  ...  ule 11 of the Companies \nmation and according to
8           None  ...                           e consolidated financial
9           None  ...         licable law or accounting \nive contracts;
10          None  ...                             Investor Education and
12           NaN  ...  HASKINS & SELLS LLP \nChartered Accountants\no...
14  e : M\n : Ap  ...  Sd/-\nSanjiv V. Pilgaonkar\nPartner\nembership...

[13 rows x 8 columns]

<Page:216>

                                  0  ...                                                  6
0                               NaN  ...  E HASKINS & SELLS LLP\nChartered Accountants\n...
2  Place : Mumbai\nDate : April 20,  ...  Sd/-\nSanjiv V. Pilgaonkar\nPartner\nMembershi...

[2 rows x 7 columns]

<Page:218>

                      0            1              2               3          4
0                   NaN          NaN            NaN             NaN  in ` cror
1             rticulars            N        ote no.  As at March 31          ,
2                  None         None           None            2020       2019
3                  sets          NaN            NaN             NaN        NaN
4     on-current assets          NaN            NaN             NaN        NaN
5    Property, plant an  d equipment            2.2          12,435     11,479
6    Right-of-use asset            s           2.19           4,168          –
7     Capital work-in-p      rogress            NaN             954      1,388
8              Goodwill           2.  3.1 and \n2.1           5,286      3,540
9    Other intangible a        ssets          2.3.2           1,900        691
10     Financial assets          NaN            NaN             NaN        NaN
11          Investments          NaN            2.4           4,137      4,634
12                Loans          NaN            2.5              21         19
13      Other financial       assets            2.6             737        312
14   Deferred tax asset      s (net)           2.15           1,744      1,372
15    Income tax assets        (net)           2.15           5,384      6,320
16     Other non-curren     t assets            2.9           1,426      2,105
17   tal non-current as         sets            NaN          38,192     31,860
18        urrent assets          NaN            NaN             NaN        NaN
19     Financial assets          NaN            NaN             NaN        NaN
20          Investments          NaN            2.4           4,655      6,627
21      Trade receivabl           es            2.7          18,487     14,827
22        Cash and cash  equivalents            2.8          18,649     19,568
23                Loans          NaN            2.5             239        241
24      Other financial       assets            2.6           5,457      5,505
25    Income tax assets        (net)           2.15               7        423
26    Other current ass          ets            2.9           7,082      5,687
27   tal current assets          NaN            NaN          54,576     52,878
28           tal assets          NaN            NaN          92,768     84,738
29  uity and liabilitie            s            NaN             NaN        NaN
30                 uity          NaN            NaN             NaN        NaN
31   Equity share capit           al           2.11           2,122      2,170
32         Other equity          NaN            NaN          63,328     62,778

<Page:219>

                             0  ...        9
0                         None  ...     2019
1                           To  ...   64,948
2                            N  ...       58
3                         Tota  ...   65,006
4                         Liab  ...      NaN
5                            N  ...      NaN
6                          NaN  ...      NaN
7                          NaN  ...        –
8                          NaN  ...      147
9                          NaN  ...      672
10                         NaN  ...      275
11                          To  ...    1,094
12                           C  ...      NaN
13                         NaN  ...      NaN
14                         NaN  ...    1,655
15                         NaN  ...        –
16                         NaN  ...   10,452
17                         NaN  ...    4,388
18                         NaN  ...      576
19                         NaN  ...    1,567
20                          To  ...   18,638
21                        Tota  ...   84,738
22                The a\nAs pe  ...      NaN
23  for D\nCharte\nFirm’\n1173  ...      NaN
25          Sanji\nPartne\nMem  ...  er\ntor
27                         NaN  ...        a
29                  Mum\nApril  ...      NaN

[27 rows x 10 columns]

<Page:220>

                                      0      1  ...                     8         9
0                                   NaN    NaN  ...  are and per equity s  hare dat
1                             rticulars    NaN  ...      rs ended March 3        1,
2                                  None   None  ...                  2020      2019
3                       venue from oper    ati  ...                90,791    82,675
4                      ther income, net    NaN  ...                 2,803     2,882
5                            tal income    NaN  ...                93,594    85,557
6                                penses    NaN  ...                   NaN       NaN
7                      Employee benefit      e  ...                50,887    45,315
8                     Cost of technical     su  ...                 6,714     6,033
9                       Travel expenses    NaN  ...                 2,710     2,433
10                     Cost of software     pa  ...                 2,703     2,553
11                        Communication     ex  ...                   528       471
12                      Consultancy and      p  ...                 1,326     1,324
13                     Depreciation and      a  ...                 2,893     2,011
14                         Finance cost    NaN  ...                   170         –
15                       Other expenses    NaN  ...                 3,656     3,655
16                     Reduction in the     fa  ...                     –       270
17  Adjustment in res\namount on reclas  p\nsi  ...                     –       451
18                         tal expenses    NaN  ...                71,587    64,516
19                      ofit before tax    NaN  ...                22,007    21,041
20                            x expense    NaN  ...                   NaN       NaN
21                          Current tax    NaN  ...                 5,775     5,727
22                         Deferred tax    NaN  ...                 (407)      (96)
23                    ofit for the year    NaN  ...                16,639    15,410
24                     ther comprehensi     ve  ...                   NaN       NaN
25                     ms that will not     be  ...                   NaN       NaN
26                      Remeasurement o      f  ...                 (180)      (22)
27                     Equity instrumen     ts  ...                  (33)        70
28                                  NaN    NaN  ...                 (213)        48
29                   ms that will be re      c  ...                   NaN       NaN
30                    Fair value change      s  ...                  (36)        21
31                    Exchange differen      c  ...                   378        63
32                    Fair value change      s  ...                    22         2
33                                  NaN    NaN  ...                   364        86
34                     tal other compre     he  ...                   151       134
35                     tal comprehensiv      e  ...                16,790    15,544

[36 rows x 10 columns]

<Page:221>

                                                    0  ...                                      7
0                                         Particulars  ...                              March 31,
1                                                None  ...                                   2019
2                              Profit attributable to  ...                                    NaN
3                               Owners of the Company  ...                                 15,404
4                           Non-controlling interests  ...                                      6
5                                                 NaN  ...                                 15,410
6                             Total comprehensive inc  ...                                    NaN
7                               Owners of the Company  ...                                 15,538
8                           Non-controlling interests  ...                                      6
9                                                 NaN  ...                                 15,544
10                           Earnings per equity shar  ...                                    NaN
11                          Equity shares of par valu  ...                                    NaN
12                                          Basic (`)  ...                                  35.44
13                                        Diluted (`)  ...                                  35.38
14                    Weighted average equity \nshare  ...                                    NaN
15                                              Basic  ...                          434,71,30,157
16                                            Diluted  ...                          435,34,20,772
17  The accompanying notes \nAs per our report of ...  ...                                    NaN
18  or Deloitte Haskins & Se\nChartered Accountant...  ...                                    NaN
20  Sanjiv V. Pilgaonkar\nPartner\nMembership Numb...  ...  in Rao\nating Officer\n-time Director
22                                                NaN  ...                    anikantha\necretary
24                             Mumbai\nApril 20, 2020  ...                                    NaN

[22 rows x 8 columns]

<Page:222>

                                                    0  ...             17
0                                                 NaN  ...       n ` cror
1                                         Particulars  ...  Total\nequity
2                                                None  ...           None
3                                                None  ...           None
4                           Balance as at April\n2018  ...         64,924
5     Changes in equity \nthe year ended Ma\n31, 2019  ...            NaN
6                                Profit for the perio  ...         15,410
7   Remeasurement of \nnet defined benefit \nliabi...  ...           (22)
8   Equity instruments \nthrough other \ncomprehen...  ...             70
9   Fair value changes \nderivatives designat\ncas...  ...             21
10  Exchange differenc\non translation of fo\noper...  ...             63
11  Fair value changes\ninvestments(1)  \n(Refer t...  ...              2
12            Total comprehensiv\nincome for the peri  ...         15,544
13   Share-based paym\nto employees (Refe\nNote 2.11)  ...            197
14            Dividends (includi\ndividend distributi  ...       (13,712)
15    Buyback of equity \n(Refer to Notes 2.11\n2.12)  ...        (2,000)
16  Non-controlling \ninterests on acqui\nof subsi...  ...             51

[17 rows x 18 columns]

<Page:223>

                                                    0  ...             17
0                                         Particulars  ...  Total\nequity
1                                                None  ...           None
2                                                None  ...           None
3                 Exercise of stoc\n(Refer to Note 2.  ...              –
4                     Transfer on acc\noptions not ex  ...              –
5       Income tax be\narising on exer\nstock options  ...              8
6                            Transfer to gen\nreserve  ...              –
7                       Amount transf\nother reserves  ...              –
8   Amount transfe\nto capital redem\nreserve upon...  ...              –
9   Shares issued o\nof employee st\noptions – aft...  ...              6
10  Transaction cos\nto buyback*  \n(Refer to Note 2.  ...           (12)
11    Transferred to S\nEconomic Zone\ninvestment Res  ...              –
12  Transferred fro\nSpecial Econom\nRe-investment...  ...              –
13  Increase in equ\ncapital on acco\nbonus issue ...  ...          1,088
14    Amounts utiliz\nbonus issue  \n(Refer to Note 2  ...        (1,088)
15                              Balance as at M\n2019  ...         65,006

[16 rows x 18 columns]

<Page:224>

                                                    0  ...             17
0                                                 NaN  ...         ` cror
1                                         Particulars  ...  Total\nequity
2                                                None  ...           None
3                                                None  ...           None
4                           Balance as at April\n2019  ...         65,006
5   Impact on account \nadoption of Ind AS\n116(1)...  ...           (40)
6                                                 NaN  ...         64,966
7     Changes in equity \nthe year ended Ma\n31, 2020  ...            NaN
8                                Profit for the perio  ...         16,639
9   Remeasurement of\nnet defined benefit\nliabili...  ...          (180)
10  Equity instruments\nthrough other \ncomprehens...  ...           (33)
11  Fair value changes\nderivatives designa\nas ca...  ...           (36)
12  Exchange differenc\non translation of \nforeig...  ...            378
13  Fair value changes\ninvestments(1)  \n(Refer t...  ...             22
14              Total comprehensi\nincome for the per  ...         16,790
15  Shares issued on \nexercise of employ\nstock o...  ...              6

[16 rows x 18 columns]

<Page:225>

                                                    0  ...             17
0                                         Particulars  ...  Total\nequity
1                                                None  ...           None
2                                                None  ...           None
3   Buyback of equi\nshares (Refer to N\n2.11 and ...  ...        (6,260)
4   Transaction cost\nrelating to buyba\n(Refer to...  ...           (11)
5   Amount transfer\nto capital redem\nreserve upo...  ...              –
6   Employee stock \ncompensation ex\n(Refer to No...  ...            238
7             Exercise of stock \n(Refer to Note 2.11  ...              –
8                  Transfer on acco\noptions not exer  ...              –
9   Effect of modific\nof equity-settled\nbased pa...  ...           (57)
10  Income tax bene\narising on exerci\nstock options  ...              9
11  Financial liability\noption arrangem\n(Refer t...  ...          (598)
12    Dividends paid t\ncontrolling inter\nsubsidiary  ...           (33)
13           Dividends (inclu\ndividend distrib\ntax)  ...        (9,517)
14  Non-controlling \ninterests on acqu\nof subsid...  ...            311
15                         Transfer to gener\nreserve  ...              –

[16 rows x 18 columns]

<Page:226>

                                                    0  ...             21
0                                         Particulars  ...  Total\nequity
1                                                None  ...           None
2                                                None  ...           None
3   Transferred to Special \nEconomic Zone \nRe-in...  ...              –
4   Transferred from \nSpecial Economic Zone \nRe-...  ...              –
5                      Balance as at March \n31, 2020  ...         65,844
6   1)  Net of tax\n2)  Net of treasury shares\n3)...  ...    e  \neasure
7   or Deloitte Haskins \nChartered Accountants\nF...  ...            NaN
9     Sanjiv V. Pilgaonkar\nPartner\nMembership Numbe  ...            NaN
11                                                NaN  ...            NaN
13                             Mumbai\nApril 20, 2020  ...            NaN

[11 rows x 22 columns]

<Page:227>

                           0  ...                                                  7
0   Ac\nCa\nof \nex\nof \nof  ...  nsaction\nncome o\n activitie\n amount\nin ` cror
1                          P  ...                                             ch 31,
2                       None  ...                                               2019
3                          C  ...                                                NaN
4                         Pr  ...                                             15,410
5                          A  ...                                                NaN
6                        NaN  ...                                              5,631
7                        NaN  ...                                              2,011
8                        NaN  ...                                            (2,052)
9                        NaN  ...                                                  –
10                       NaN  ...                                                239
11                       NaN  ...                                                 66
12                       NaN  ...                                                270
13                       NaN  ...                                                451
14                       NaN  ...                                                202
15                       NaN  ...                                              (102)
16                         C  ...                                                NaN
17                       NaN  ...                                            (2,881)
18                       NaN  ...                                              (700)
19                       NaN  ...                                                916
20                       NaN  ...                                              2,212
21                         C  ...                                             21,673
22                        In  ...                                            (6,832)
23                         N  ...                                             14,841
24                         C  ...                                                NaN
25                         E  ...                                            (2,445)
26                         L  ...                                                 14
27                         D  ...                                               (24)
28                        In  ...                                              1,557
29                         P  ...                                              (550)
30                         P  ...                                               (18)
31                         A  ...                                              (206)
32                         R  ...                                              (257)
33                         O  ...                                                  –
34                         P  ...                                                NaN
35                       NaN  ...                                               (21)
36                       NaN  ...                                               (17)
37                       NaN  ...                                           (78,355)
38                       NaN  ...                                              (160)
39                       NaN  ...                                            (2,393)
40                       NaN  ...                                              (838)
41                       NaN  ...                                              (491)
42                       NaN  ...                                               (19)
43                        Pr  ...                                                NaN
44                       NaN  ...                                                  1
45                       NaN  ...                                                738
46                       NaN  ...                                                123
47                       NaN  ...                                                300

[48 rows x 8 columns]

<Page:228>

             0  ...                   9
0          NaN  ...              ch 31,
1         None  ...                2019
2          NaN  ...               5,540
3          NaN  ...              76,821
4          NaN  ...                 115
5          NaN  ...                  10
6          NaN  ...               (575)
7          NaN  ...                 NaN
8          NaN  ...                   –
9          NaN  ...            (13,705)
10         NaN  ...                   –
11         NaN  ...                   6
12         NaN  ...               (813)
13         NaN  ...            (14,512)
14         NaN  ...               (246)
15         NaN  ...              19,871
16         NaN  ...                (57)
17         NaN  ...              19,568
18         NaN  ...                 NaN
19         NaN  ...                 358
20           T  ...                 NaN
21  f\nC\nF\n1  ...                 NaN
23        S\nP  ...  o\nfficer\nirector
25         NaN  ...             ntha\ny
27         NaN  ...                 NaN

[25 rows x 10 columns]

<Page:229>

                                                0  ...                                  3
0                                       Component  ...  e  Purchase \ns price \nallocated
1                                   Net assets(1)  ...                             –   37
2  Intangible assets \n– customer \nrelationships  ...                            2   132
3                Intangible assets – \ntrade name  ...                              8   8
4                                             NaN  ...                            0   177
5                                        Goodwill  ...                                173
6                            Total purchase price  ...                                350

[7 rows x 4 columns]

<Page:232>

                                                    0  ...                                                  2
0                                           Component  ...                                                  C
1                                      Cash considera  ...                                                NaN
2                                    Fair value of co  ...                                              ation
3                                      Total purchase  ...                                                NaN
4   The gross amou\nvalue is ` 12 cro\nThe payment...  ...  ables acquire\nt has been fu\nnsideration \nhe...
5                                           Component  ...                           Fair value \nadjustments
6                                       Net assets(1)  ...                                                  –
7   Intangible asse\n– Customer \ncontracts and \n...  ...                                                 44
8     Deferred tax \nliabilities on \nintangible asse  ...                                                (7)
9                                                 NaN  ...                                                 37
10                          Non-controllin\ninterests  ...                                               None
11                             Total purchase \nprice  ...                                                NaN

[12 rows x 3 columns]

<Page:233>

                                                   0  ...                                                  3
0                                          Component  ...                             onsideration \nsettled
1                                   Cash considerati  ...                                                 54
2                                  Fair value of con  ...                                                 24
3                                  Total purchase pr  ...                                                 78
4  The gross amount \nis ` 50 crore and t\nThe pa...  ...  d its fair value\nally collected.\nlers of Inf...
5                                          Component  ...                       Purchase \nprice \nallocated
6                                      Net assets(1)  ...                                                 12
7  Intangible assets \n– Customer \ncontracts and...  ...                                                158
8   Intangible assets \n– Salesforce \nRelationships  ...                                                 62

[9 rows x 4 columns]

<Page:233>

                                                    0  ...                      4
0                                           Component  ...    air value\nustments
1                            Intangible asse\n– Brand  ...                     28
2     Deferred tax \nliabilities on \nintangible asse  ...                   (52)
3                                                 NaN  ...                    196
4                                            Goodwill  ...                    NaN
5                              Total purchase \nprice  ...                    NaN
6   (1)  Includes cash a\nGoodwill is not\nThe fai...  ...  d of ` 28 c\nconsider
7                                           Component  ...                    NaN
8                                      Cash considera  ...                    NaN
9                                    Fair value of co  ...                      n
10                                     Total purchase  ...                    NaN

[11 rows x 5 columns]

<Page:234>

                                                   0  ...                                     4
0                                          Component  ...  ue  Purchase \nts  price \nallocated
1                                      Net assets(1)  ...                                –   41
2  Intangible ass\n– Customer \ncontracts and\nre...  ...                               6   116
3     Deferred tax \nliabilities on \nintangible ass  ...                              6)  (36)
4                                                NaN  ...                               0   121
5                                           Goodwill  ...                                   108
6                 Less: Non-\ncontrolling \ninterest  ...                                  (23)
7                               Total purchas\nprice  ...                                   206

[8 rows x 5 columns]

<Page:234>

                                                   0  ...                         2
0                                          Component  ...  Fair value \nadjustments
1                                      Net assets(1)  ...                         –
2  Intangible asset\n– Customer \ncontracts and \...  ...                       549
3                     Intangible asset\n– Technology  ...                       110
4                          Intangible asset\n– Brand  ...                        24
5   Deferred tax \nliabilities on \nintangible asset  ...                     (140)
6                                                NaN  ...                       543
7                                           Goodwill  ...                       NaN
8                Less: Non- \ncontrolling \ninterest  ...                       NaN
9                             Total purchase \nprice  ...                       NaN

[10 rows x 3 columns]

<Page:235>

                                                    0  ...                                   3
0                                           Component  ...  e  Purchase \ns  price \nallocated
1                                       Net assets(1)  ...                              –   22
2   Intangible ass\n– Customer \ncontracts and\nre...  ...                              2  152
3        Intangible ass\n– Salesforce \nRelationships  ...                              5  325
4                             Intangible ass\n– Brand  ...                              1  111
5      Deferred tax \nliabilities on \nintangible ass  ...                            )  (152)
6                                                 NaN  ...                             6   458
7                                            Goodwill  ...                                 983
8                                Total purchas\nprice  ...                               1,441
9   (1)  Includes cash \nGoodwill is no\nThe fair ...  ...    ore\nation as of the\nin ` crore
10                                          Component  ...             Consideration \nsettled
11                                      Cash consider  ...                               1,357
12                                    Fair value of c  ...                                  84
13                                      Total purchas  ...                               1,441

[14 rows x 4 columns]

<Page:235>

                           0  ...                                         3
0               Buildings(1)  ...                               22-25 years
1               Plant and ma  ...                                   5 years
2               Office equip  ...                                   5 years
3                Computer eq  ...                                 3-5 years
4               Furniture an  ...                                   5 years
5  Vehicles(1)\nLeasehold im  ...  5 years\nful life of the \nor lease term

[6 rows x 4 columns]

<Page:236>

                                                    0  ...                 11
0                                         Particulars  ...              Total
1                   Gross carrying \nas at April 1, 2  ...             22,891
2                                           Additions  ...              3,437
3                         Additions – Bu\ncombination  ...                 78
4                                           Deletions  ...              (233)
5   Reclassified on\naccount of ado\nof Ind AS 116...  ...              (605)
6                            Translation \ndifference  ...                 73
7               Gross carrying \nas at March 31\n2020  ...             25,641
8        Accumulated \ndepreciation as\nApril 1, 2019  ...           (11,412)
9                                        Depreciation  ...            (2,035)
10            Accumulated \ndepreciation o\ndeletions  ...                232
11  Reclassified on\naccount of ado\nof Ind AS 116...  ...                 33
12                           Translation \ndifference  ...               (24)
13       Accumulated \ndepreciation as\nMarch 31, 202  ...           (13,206)
14                      Carrying value\nApril 1, 2019  ...             11,479
15                      Carrying value\nMarch 31, 202  ...             12,435
16                                      he changes in  ...  ows : \nin ` cror
17                                        Particulars  ...              Total
18                  Gross carrying \nas at April 1, 2  ...             20,179
19                                          Additions  ...              3,193
20                        Additions – Bu\ncombination  ...                 47
21                                          Deletions  ...              (586)
22  Reclassified fro\nassets held for \n(Refer to ...  ...                 68
23                           Translation \ndifference  ...               (10)
24         Gross carrying \nvalue as at Mar\n31, 2019  ...             22,891
25       Accumulated \ndepreciation as\nApril 1, 2018  ...           (10,063)

[26 rows x 12 columns]

<Page:237>

                                                   0  ...                                                  8
0                                        Particulars  ...                                              Total
1                                       Depreciation  ...                                            (1,782)
2            Accumulated \ndepreciation o\ndeletions  ...                                                475
3   Reclassified fr\nassets held for\n(Refer to Note  ...                                               (47)
4                           Translation \ndifference  ...                                                  5
5        Accumulated \ndepreciation a\nMarch 31, 201  ...                                           (11,412)
6                      Carrying value\nApril 1, 2018  ...                                             10,116
7                      Carrying value\nMarch 31, 201  ...                                             11,479
8                                               None  ...                                 mount o\nin ` cror
9                                               None  ...                                                31,
10                                              None  ...                                               2019
11                                              None  ...                                              2,211
12                                              None  ...                                                  –
13                                              None  ...                                                173
14                                              None  ...                                                240
15                                              None  ...                                                  –
16                                              None  ...                                                  –
17                                              None  ...                                                863
18                                              None  ...                                                 53
19                                              None  ...                                              3,540
20                                              None  ...  quired i\ngroups o\nquisition\nirment a\n good...
21                                              None  ...                                              h 31,
22                                              None  ...                                               2019
23                                              None  ...                                                743
24                                              None  ...                                                437
25                                              None  ...                                                389
26                                              None  ...                                                374

[27 rows x 9 columns]

<Page:238>

                                                    0  ...                                                  7
0                                             Segment  ...                                               None
1                                         Manufacturi  ...                                               None
2                                                 NaN  ...                                               None
3                         Operating se\nsignificant g  ...                                               None
4                                               Total  ...                                               None
5   Consequent t\nNote 2.1.2), t\nSkava acquisi\ne...  ...                                               None
6                                         Particulars  ...                                               None
7                                         Long-term g  ...                                               None
8                                         Operating m  ...                                               None
9                                        Discount rat  ...                                               None
10  The above di\nCost of Capit\n2020,  the  e\nex...  ...                                               None
11                                        Particulars  ...                                       ers(1) Total
12                                      Gross carryin  ...  83   1,634 \n –   86 \n 325   1,387 \n –   (73...
13                                          Additions  ...                                               None
14                      Acquisition t\n(Refer to Note  ...                                               None
15                                     Reclassified o  ...                                               None
16                                      Translation d  ...                                               None
17                                      Gross carryin  ...                                        411   3,228
18                                        Accumulated  ...   (28)  (943)\n (27)  (295)\n –   11 \n (1)  (101)
19                                       Amortization  ...                                               None
20                                     Reclassified o  ...                                               None
21                                      Translation d  ...                                               None
22                                        Accumulated  ...                                       (56) (1,328)

[23 rows x 8 columns]

<Page:239>

                                                    0  ...                     12
0                                         Particulars  ...                  Total
1                                      Carrying value  ...                    691
2                                      Carrying value  ...                  1,900
3                                      Estimated usef  ...                    NaN
4                                       Estimated rem  ...                    NaN
5                                       he changes in  ...                 ` cror
6                                         Particulars  ...                  Total
7                                      Gross carrying  ...                    590
8                  Reclassified fro\n(Refer to Note 2  ...                    583
9                                           Additions  ...                      9
10                   Acquisition  t\n(Refer to Note 2  ...                    432
11                                          Deletions  ...                      –
12                                   Translation diff  ...                     20
13                                     Gross carrying  ...                  1,634
14                                      Accumulated a  ...                  (343)
15                 Reclassified fro\n(Refer to Note 2  ...                  (260)
16                                     Amortization e  ...                  (229)
17                                     Reduction in v  ...                   (93)
18                                          Deletions  ...                      –
19                                   Translation diff  ...                   (18)
20                                      Accumulated a  ...                  (943)
21                                     Carrying value  ...                    247
22                                     Carrying value  ...                    691
23                                     Estimated usef  ...                    NaN
24                                      Estimated rem  ...                    NaN
25  )  Majorly include\nhe amortizati\ntatement of...  ...  idate\nch 31\n ` cror
26                                        Particulars  ...                    NaN
27                                               None  ...                   2019
28                                        Non-current  ...                    NaN
29                                           Unquoted  ...                    NaN
30                                        Investments  ...                    NaN
31                                         Preference  ...                     89
32                                        Equity inst  ...                     11
33                                                NaN  ...                    100
34                                        Investments  ...                    NaN
35                                         Preference  ...                     23
36                                          Others(1)  ...                     16
37                                                NaN  ...                     39

[38 rows x 13 columns]

<Page:240>

                                                    0  ...                 12
0                                         Particulars  ...                  ,
1                                                None  ...               2019
2                                              Quoted  ...                NaN
3                                      Investments ca  ...                NaN
4                                        Tax-free bon  ...              1,893
5                                          Government  ...                  –
6                                                 NaN  ...              1,893
7                                      Investments ca  ...                NaN
8                                        Fixed maturi  ...                458
9                                                 NaN  ...                458
10                                     Investments ca  ...                NaN
11                                        Non-convert  ...              1,420
12                                         Government  ...                724
13                                                NaN  ...              2,144
14                                   Total non-curren  ...              4,634
15                                            Current  ...                NaN
16                                           Unquoted  ...                NaN
17                                     Investments ca  ...                NaN
18                                        Liquid mutu  ...              1,786
19                                                NaN  ...              1,786
20                                     Investments ca  ...                NaN
21                                         Commercial  ...                495
22                                       Certificates  ...              2,482
23                                                NaN  ...              2,977
24                                             Quoted  ...                NaN
25                                     Investment car  ...                NaN
26                                         Government  ...                 18
27                                                NaN  ...                 18
28                                     Investments ca  ...                NaN
29                                       Fixed maturi  ...                  –
30                                                NaN  ...                  –
31                                     Investments ca  ...                NaN
32                                        Non-convert  ...              1,846
33                                                NaN  ...              1,846
34                                 Total current inve  ...              6,627
35                                  Total investments  ...             11,261
36                                Aggregate amount of  ...              6,359
37                                Market value of quo  ...              1,862
38                                Market value of quo  ...              4,711
39                                Aggregate amount of  ...              4,902
40                                Aggregate amount of  ...                  –
41                                Investments carried  ...              1,911
42                                Investments carried  ...              7,067
43                                Investments carried  ...              2,283
44  )  Uncalled capital c\nefer to Note 2.10\nhe d...  ...  rch 31\nin ` cror
45                                                NaN  ...                NaN
46                                               None  ...                Net
47                                  Net gain / (loss)  ...                NaN
48                                    Non-convertible  ...                  1
49                                 Certificates of de  ...                (3)
50                                    Government secu  ...                  4
51                                  Equity and prefer  ...                 70

[52 rows x 13 columns]

<Page:241>

                                                    0  ...                   9
0                                 Class of investment  ...              ch 31,
1                                                None  ...                2019
2                             Liquid mutual fund unit  ...               1,786
3                             Fixed maturity plan sec  ...                 458
4                             Tax-free bonds and gove  ...               2,125
5                              Non-convertible debent  ...               3,266
6                               Government securities  ...                 724
7                                   Commercial papers  ...                 495
8                            Certificates of deposits  ...               2,482
9   Unquoted equity and pr\n– carried at fair valu...  ...                 100
10  Unquoted equity and pr\ncarried at fair value ...  ...                  23
11                                             Others  ...                  16
12                                              Total  ...              11,475
13  Note : Certain quoted investm\n.4.1  Details o...  ...  follows\nise state
14                                        Particulars  ...                  1,
15                                               None  ...                2019
16                              Preference securities  ...                 NaN
17                                       Airviz, Inc.  ...                   3
18                            2,82,279 (2,82,279) Ser  ...                 NaN
19                                        Whoop, Inc.  ...                  14
20                             16,48,352(16,48,352) S  ...                 NaN
21                            Nivetti Systems Private  ...                  10
22                            2,28,501 (2,28,501) Pre  ...                 NaN
23                            Waterline Data Science,  ...                  25
24                           Nil (39,33,910) Series B  ...                 NaN
25                           Nil (13,35,707) Series C  ...                 NaN
26                                      Trifacta Inc.  ...                  27
27                              31,40,181 (11,80,358)  ...                 NaN
28                                   Tidalscale, Inc.  ...                  23
29                              36,74,269 (36,74,269)  ...                 NaN
30                            Ideaforge Technology Pr  ...                  10
31            5,402 (5,402) Series A c\nfully paid up  ...                 NaN
32                           Total investment in pref  ...                 112
33                                 Equity instruments  ...                 NaN
34                             Merasport Technologies  ...                   –
35                            2,420 (2,420) equity sh  ...                 NaN
36                            Global Innovation and T  ...                   1
37                             15,000 (15,000) equity  ...                 NaN
38                                       Unsilo A / S  ...                  10
39                           Nil (69,894) equity shar  ...                 NaN
40                                          Ideaforge  ...                   –
41                            100 (100) equity shares  ...                 NaN
42                           Total investment in equi  ...                  11
43                                             Others  ...                 NaN
44                          Stellaris Venture Partner  ...                  16
45                            The House Fund II, L.P.  ...                   –
46                           Total investment in othe  ...                  16
47                                              Total  ...                 139

[48 rows x 10 columns]

<Page:242>

                               0  ...          12
0                    Particulars  ...      , 2019
1                           None  ...      Amount
2     7.04% Indian \nBonds 03MAR  ...          50
3        7.16% Power \n17JUL2025  ...         105
4     7.18% Indian \nBonds 19FEB  ...         201
5     7.28% Indian \nBonds 21DEC  ...          42
6     7.28% Nation\nBonds 18SEP2  ...         342
7     7.34% Indian \nBonds 19FEB  ...         210
8      7.35% Nation\nBonds 11JAN  ...          57
9       7.93% Rural E\n27MAR2022  ...          21
10    8.00% Indian \nBonds 23FEB  ...          15
11    8.10% Indian \nBonds 23FEB  ...          52
12       8.20% Power \n01FEB2022  ...          50
13    8.26% India I\nBonds 23AUG  ...         100
14     8.30% Nation\nBonds 25JAN  ...          53
15     8.35% Nation\nBonds 22NOV  ...         150
16    8.46% India I\nBonds 30AUG  ...         200
17       8.46% Power \n30AUG2028  ...         150
18   8.48% India I\nBonds 05SEP2  ...          45
19       8.54% Power \n16NOV2028  ...          50
20                Total investme  ...       1,893
21                 he balances h  ...  wise state
22                   Particulars  ...      , 2019
23                          None  ...      Amount
24                 Treasury Note  ...           6
25                 Treasury Note  ...          12
26                 Treasury Note  ...           –
27                 Treasury Note  ...           –
28                Total investme  ...          18
29  .4.3  Details\nhe balances h  ...  wise state
30                   Particulars  ...        2019
31                          None  ...      Amount
32                Aditya Birla S  ...          40
33                Aditya Birla S  ...         141

[34 rows x 13 columns]

<Page:243>

                               0  ...              16
0                    Particulars  ...            2019
1                           None  ...          Amount
2                   Aditya Birla  ...             201
3                   Aditya Birla  ...               5
4                    Axis Treasu  ...               –
5                       HDFC Ove  ...               –
6                       HDFC Mon  ...             303
7                      HDFC Liqu  ...              25
8                     ICICI Prud  ...               –
9                     ICICI Prud  ...             301
10                     IDFC Corp  ...             169
11                   Kotak Liqui  ...               -
12                     Kotak Mon  ...             301
13                   SBI Overnig  ...               –
14                   SBI Premier  ...             300
15                     HDFC Corp  ...               –
16                    IDFC Banki  ...               –
17                  Total invest  ...           1,786
18                    he balance  ...      wise state
19                   Particulars  ...            2019
20                          None  ...          Amount
21       Aditya Birla\nDays – GR  ...              70
22       Aditya Birla\nDays – GR  ...              29
23                      HDFC FMP  ...              44
24           HDFC FMP\nSeries 37  ...              45
25                     ICICI FMP  ...              63
26       ICICI Prud\nG Direct Pl  ...              49
27      ICICI Prud\nJ Direct Pla  ...              35
28              IDFC Fixed\nDays  ...              12
29              IDFC Fixed\nDays  ...              17
30                     Kotak FMP  ...              40
31              Nippon Ind\nPlan  ...              54
32                  Total invest  ...             458
33  .4.4   Deta\ncom\nhe balance  ...  d \nwise state
34                   Particulars  ...          , 2019
35                          None  ...          Amount
36                     7.03% LIC  ...               –
37                     7.24% LIC  ...               –
38          7.48% Hou\nLtd 18NOV  ...              51
39                     7.58% LIC  ...             101
40                     7.58% LIC  ...              51
41                     7.59% LIC  ...             306
42                     7.75% LIC  ...             127
43          7.78% Hou\nLtd 24MAR  ...             100

[44 rows x 17 columns]

<Page:244>

                        0               1  ...                  7           8
0             Particulars             NaN  ...      s at March 31      , 2019
1                    None            None  ...              Units      Amount
2               7.79% LIC         Housing  ...                500          53
3    7.80% Hou\nLtd 11NOV  sing Dev\n2019  ...                150         154
4               7.81% LIC         Housing  ...              2,000         214
5   7.95% Hou\nLtd 23SEP2   sing Dev\n019  ...                 50          52
6               8.02% LIC         Housing  ...                500          51
7    8.26% Hou\nLtd 12AUG  sing Dev\n2019  ...                100         105
8               8.37% LIC         Housing  ...              2,000         216
9               8.37% LIC         Housing  ...                500          54
10              8.47% LIC         Housing  ...                500          51
11   8.49% Hou\nLtd 27APR  sing Dev\n2020  ...                900          49
12   8.50% Hou\nLtd 31AUG  sing Dev\n2020  ...                100         105
13              8.50% LIC         Housing  ...                  –           –
14   8.58% Hou\nLtd 22MAR  sing Dev\n2022  ...                  –           –
15   8.59% Hou\nLtd 14JUN  sing Dev\n2019  ...                 50          51
16              8.60% LIC         Housing  ...              1,000         107
17              8.60% LIC         Housing  ...              1,750         186
18              8.61% LIC         Housing  ...              1,000         103
19   8.72% Hou\nLtd 15APR  sing Dev\n2019  ...                 75          75
20   8.75% Hou\nLtd 13JAN  sing Dev\n2020  ...              5,000         256
21              8.75% LIC         Housing  ...              1,070         110
22              8.75% LIC         Housing  ...              1,000         101
23              8.80% LIC         Housing  ...                650          67
24              8.97% LIC         Housing  ...                500          52
25   9.45% Hou\nLtd 21AUG  sing Dev\n2019  ...              3,000         318
26           Total invest        ments in  ...             28,295       3,266
27            The balance       s held in  ...  , except as other  wise state
28            Particulars             NaN  ...      s at March 31      , 2019
29                   None            None  ...              Units      Amount
30              7.17% Gov         ernment  ...           6,75,000         672
31              7.26% Gov         ernment  ...                  –           –
32              7.95% Gov         ernment  ...             50,000          52
33           Total invest        ments in  ...           7,25,000         724
34             he balance       s held in  ...  , except as other  wise state
35            Particulars             NaN  ...      s at March 31      , 2019
36                   None            None  ...              Units      Amount
37              Axis Bank             NaN  ...             90,000         872
38            Bank of Bar             oda  ...                  –           –
39             ICICI Bank             NaN  ...             75,000         738
40             Kotak Bank             NaN  ...             77,000         747
41            Oriental Ba        nk of Co  ...                  –           –
42            Vijaya Bank             NaN  ...             12,500         125
43           Total invest        ments in  ...           2,54,500       2,482

[44 rows x 9 columns]

<Page:245>

                                         0  ...                                                 10
0                              Particulars  ...                                               2019
1                                     None  ...                                             Amount
2                                      LIC  ...                                                495
3                        Total investments  ...                                                495
4                                .5  Loans  ...                                                NaN
5                                     None  ...                                              h 31,
6                                     None  ...                                               2019
7                              Particulars  ...                                                 37
8                                     None  ...                                               None
9                                     None  ...                                                299
10                             Non-current  ...                                               None
11                        Unsecured, consi  ...                                               None
12                                    None  ...  ns to settle\nthe normal\nconditional\nin ` crore
13                             Other loans  ...                                               None
14                            Loans to emp  ...                                               None
15                                     NaN  ...                                               None
16                        Unsecured, consi  ...                                               None
17                             Other loans  ...                                               None
18                            Loans to emp  ...                                               None
19                                     NaN  ...                                               None
20           Less: Allowance\nto employees  ...                                              h 31,
21                                    None  ...                                               2019
22                       Total non-current  ...                                                NaN
23                                 Current  ...                                                NaN
24                        Unsecured, consi  ...                                             14,827
25                             Other loans  ...                                                483
26                            Loans to emp  ...                                             15,310
27                      Total current loan  ...                                                483
28                             Total loans  ...                                             14,827
29                          .6  Other fina  ...                                                  –
30                                    None  ...                                         in ` crore
31                             Particulars  ...                                               None
32                                    None  ...                                               None
33                             Non-current  ...                                              h 31,
34                      Security deposits(  ...                                               2019
35                      Rental deposits(1)  ...                                                NaN
36  Net investment in\nof use asset (Refer  ...                                             14,197
37                                    None  ...                                                  –
38                      Restricted deposit  ...                                                NaN
39                               Others(1)  ...                                              5,371
40               Total non-current\nassets  ...                                               None
41                                    None  ...                                             19,568
42                                 Current  ...                                                 29
43                      Security deposits(  ...                                               None
44                                    None  ...                                              6,582
45                      Rental deposits(1)  ...                                               None
46                                    None  ...                                                114
47                      Restricted deposit  ...                                               None
48                       Unbilled revenues  ...                                               None
49                      Interest accrued b  ...                                               None
50   Foreign currency \noptions contracts(  ...                                               None
51        Escrow and other \nto buyback(1)  ...                                               None
52  Net investment in\nof use asset (Refer  ...                                               None
53                               Others(1)  ...                                               None
54                      Total current othe  ...                                               None
55                      Total other financ  ...                                               None
56                (1)  Financial assets ca  ...                                               None

[57 rows x 11 columns]

<Page:246>

                          0                           1  ...       4     5
0               Particulars                         NaN  ...  s at M  arch
1                      None                        None  ...    2020   NaN
2               Non-current                         NaN  ...     NaN   NaN
3              Capital adva                        nces  ...     310   NaN
4     Advances ot\nadvances               her than capi  ...     NaN   NaN
5                    Others                         NaN  ...     NaN   NaN
6                 Withholdi                ng taxes and  ...     777   NaN
7   Prepaid gr\n(Refer to N       atuity  \note 2.20.1)  ...     151   NaN
8                Prepaid ex                      penses  ...      87   NaN
9                Deferred c                ontract cost  ...     101   NaN
10   Advance f\n(Refer to N  or business ac\note 2.1.1)  ...       –   NaN
11             Total non-cu               rrent other a  ...   1,426   NaN
12                  Current                         NaN  ...     NaN   NaN
13    Advances ot\nadvances               her than capi  ...     NaN   NaN
14       Payment to \ngoods               vendors for s  ...     145   NaN
15                   Others                         NaN  ...     NaN   NaN
16               Unbilled r                  evenues(1)  ...   4,325   NaN
17                Withholdi                ng taxes and  ...   1,583   NaN
18               Prepaid ex                      penses  ...     968   NaN
19               Deferred c                ontract cost  ...      33   NaN
20               Other rece                     ivables  ...      28   NaN
21             Total curren              t other assets  ...   7,082   NaN
22            Total other a                       ssets  ...   8,508   NaN

[23 rows x 6 columns]

<Page:247>

                               0  ...                  10
0                    Particulars  ...  Total fair \nvalue
1                           None  ...                None
2                         Assets  ...                 NaN
3   Cash and cas\n(Refer to Note  ...              18,649
4                  Investments (  ...                 NaN
5                     Equity and  ...                 111
6             Tax-free bo\nbonds  ...               2,144
7                     Liquid mut  ...               2,104
8                      Non-conve  ...               2,398
9                      Governmen  ...                 664
10                  Certificates  ...               1,126
11                   Other inves  ...                  54
12                    Fixed matu  ...                 489
13                Trade receivab  ...              18,487

[14 rows x 11 columns]

<Page:248>

                                                    0  ...                 9
0                                         Particulars  ...  otal fair\nvalue
1                                                None  ...              None
2                                     Loans (Refer to  ...               260
3                   Other financial\n(Refer to Note 2  ...             6,112
4                                               Total  ...            52,598
5                                         Liabilities  ...               NaN
6                                      Trade payables  ...             2,852
7                                   Lease liabilities  ...             4,633
8                     Financial Liabi\narrangements (  ...               621
9                   Other financial\n(Refer to Note 2  ...             8,797
10                                              Total  ...            16,903
11  )  On account of f\n)  Excludes interes\n)  Ex...  ...         in ` cror
12                                        Particulars  ...  otal fair\nvalue
13                                               None  ...              None
14                                             Assets  ...               NaN
15                   Cash and cash \n(Refer to Note 2  ...            19,568
16                                     Investments (R  ...               NaN
17                                       Equity and p  ...               123
18                                Tax-free bon\nbonds  ...             2,125
19                                        Liquid mutu  ...             1,786
20                                        Non-convert  ...             3,266
21                                         Government  ...               724
22                                         Commercial  ...               495
23                                     Certificates o  ...             2,482
24                                       Other invest  ...                16
25                                       Fixed maturi  ...               458
26                                   Trade receivable  ...            14,827
27                                    Loans (Refer to  ...               260
28                  Other financial\n(Refer to Note 2  ...             5,733
29                                              Total  ...            51,863
30                                        Liabilities  ...               NaN
31                                     Trade payables  ...     1,655\n 8,936
32                  Other financial\n(Refer to Note 2  ...              None
33                                              Total  ...            10,591

[34 rows x 10 columns]

<Page:249>

                                               0  ...                           11
0                                        Particu  ...               t end of\nsing
1                                           None  ...                      Level 3
2                                         Assets  ...                          NaN
3                                        Investm  ...                            –
4                                        Investm  ...                            –
5                                        Investm  ...                            –
6                                        Investm  ...                            1
7                                        Investm  ...                          110
8                                        Investm  ...                            –
9                                        Investm  ...                            –
10                                       Investm  ...                            –
11                                       Investm  ...                            –
12                                       Other i  ...                           54
13                               Derivat\nforwar  ...                            –
14                                      Liabilit  ...                          NaN
15                               Derivat\nforwar  ...                            –
16                                       Financi  ...                          621
17                                      Liabilit  ...                          340
18  )  Disco\nDuring \nevel 2 \nevel 1 \nhe fair  ...  ed from\ned from\nin ` cror
19                                       Particu  ...               t end of\nsing
20                                          None  ...                      Level 3
21                                        Assets  ...                          NaN
22                                       Investm  ...                            –
23                                       Investm  ...                            –
24                                       Investm  ...                            –
25                                       Investm  ...                           11
26                                       Investm  ...                          112
27                                       Investm  ...                            –
28                                       Investm  ...                            –
29                                       Investm  ...                            –
30                                       Investm  ...                            –
31                                       Investm  ...                            –
32                                       Other i  ...                           16
33                               Derivat\nforwar  ...                            –
34                                      Liabilit  ...                          NaN
35                               Derivat\nforwar  ...                            –
36                                      Liabilit  ...                          190

[37 rows x 12 columns]

<Page:250>

                   0              1   ...                  12         13
0         Particulars            NaN  ...  Other \ncurrencies      Total
1       Cash and cash    equivalents  ...               1,242      3,348
2     Trade receivabl             es  ...               2,200     17,812
3     Other financial  assets (inclu  ...                 392      4,359
4      Trade payables            NaN  ...             (1,453)    (2,551)
5   Lease liabilities            NaN  ...               (496)    (3,579)
6     Other financial    liabilities  ...             (1,348)    (6,612)
7   Net assets / (lia      bilities)  ...                 537     12,777
8    The foreign curr  ency risk fro  ...                 NaN  in ` cror
9         Particulars            NaN  ...  Other \ncurrencies      Total
10      Cash and cash    equivalents  ...               1,113      3,342
11    Trade receivabl             es  ...                 971     14,317
12    Other financial  assets (inclu  ...                 431      3,200
13     Trade payables            NaN  ...               (107)    (1,162)
14    Other financial    liabilities  ...               (595)    (4,941)
15  Net assets / (lia      bilities)  ...               1,813     14,756
16   Sensitivity anal    ysis betwee  ...                 NaN        NaN
17        Particulars            NaN  ...         Years ended  March 31,
18               None           None  ...                2020       2019
19      Impact on the  Group’s incre  ...               0.45%      0.47%

[20 rows x 14 columns]

<Page:251>

                                                    0  ...       11
0                                           rticulars  ...      019
1                                                None  ...  ` crore
2                                        erivatives d  ...      NaN
3                                         ptions cont  ...      NaN
4                                        In Australia  ...      588
5                                             In Euro  ...    1,049
6                                         In United K  ...      226
7                                        ther derivat  ...      NaN
8                                          rward cont  ...      NaN
9                                        In Australia  ...       37
10                                       In Brazilian  ...        –
11                                         In Canadia  ...       68
12                                         In Chinese  ...        –
13                                            In Euro  ...    1,367
14                                        In Japanese  ...       34
15                                         In New Zea  ...       75
16                                         In Norwegi  ...       32
17                                        In Philippi  ...        –
18                                        In Poland Z  ...        –
19                                         In Romania  ...        –
20                                        In Singapor  ...      716
21                                        In South Af  ...        –
22                                         In Swedish  ...       37
23                                        In Swiss Fr  ...      172
24                                        In US dolla  ...    6,608
25                                        In United K  ...      724
26                                        ptions cont  ...      NaN
27                                       In Australia  ...       49
28                                         In Canadia  ...       69
29                                            In Euro  ...      466
30                                        In Swiss Fr  ...       35
31                                        In US dolla  ...    2,995
32                                        In United K  ...       91
33                                        tal forward  ...   15,438
34  e foreign ex\nhin 12 mo\nancial instr\n the re...  ...     None
35                                          rticulars  ...     None
36                                               None  ...     None
37                                      ot later than  ...     None
38                           ter than on\ner than thr  ...     None
39                          ter than th\nt later than  ...     None
40                                                NaN  ...     None

[41 rows x 12 columns]

<Page:252>

                                                    0  ...                                              12
0                                         Particulars  ...                                             31,
1                                                None  ...                                            2019
2                                       Gain / (loss)  ...                                             NaN
3                                    Balance at the b  ...                                               –
4                                    Gain / (Loss) re  ...                                             118
5                                      Amount reclass  ...                                            (90)
6                                     Tax impact on a  ...                                             (7)
7                                    Balance at the e  ...                                              21
8   The Group offset\namounts and the\nThe quantit...  ...        recognize\nneously.\nollows :\nin ` cror
9                                         Particulars  ...                                             019
10                                               None  ...                        Derivative\nal liability
11                                     Gross amount o  ...                                            (17)
12                                     Amount set off  ...                                               2
13                                     Net amount pre  ...                                            (15)
14  Credit risk \nCredit risk refer\nthe counterpa...  ...     ces for th\n was ` 16\n  custome\nin ` cror
15                                               None  ...                                        arch 31,
16                                               None  ...                                            2019
17                                               None  ...                                             449
18                                               None  ...                                             239
19                                               None  ...                                            (73)
20                                               None  ...                                              12
21                                               None  ...                                             627
22                                               None  ...  is writte\no realisti\n0-60 days\nerwise state
23                                               None  ...                                           h 31,
24                                               None  ...                                            2019
25                                               None  ...                                          14,827
26                                               None  ...                                           5,374
27                                        Particulars  ...                                            None
28                                               None  ...                                            None
29                                     Revenue from t  ...                                            None
30                                     Revenue from t  ...                                            None

[31 rows x 13 columns]

<Page:253>

                                0  ...                    9
0                     Particulars  ...                Total
1                  Trade payables  ...                2,852
2  Other financia\ncontingent con  ...                7,966
3                 Financial liabi  ...                  621
4    Liability towa\nundiscounted  ...                  367
5                 The details reg  ...  llows :\nin ` crore
6                     Particulars  ...                Total
7                  Trade payables  ...                1,655
8  Other financia\ncontingent con  ...                8,731
9    Liability towa\nundiscounted  ...                  233

[10 rows x 10 columns]

<Page:254>

                                      0                          1          2
0                           Particulars                        NaN  As at\n20
1                            Authorized                        NaN        NaN
2                    Equity shares, ` 5                  par value        NaN
3       480,00,00,000 (4\nequity shares                80,00,00,00  0) \n 2,4
4                     Issued, subscribe               d and paid-u          p
5                    Equity shares, ` 5               par value(1)        2,1
6  424,07,53,210 (4\nequity shares full  33,59,54,46\ny paid-up(2)  2) \n 2,1

<Page:255>

                                                   0  ...                                                  3
0                              (a) Declared a specia  ...                                                NaN
1  (b) Recommended b\nmarket route thro\n` 8,260 ...  ...  pen\n to\nnot\nce)\nthe\nject\nThe\nuity\n its...

[2 rows x 4 columns]

<Page:255>

                              0  ...                                                  8
0                          None  ...                                          March 31,
1                          None  ...                                               2019
2                          None  ...                                              10.25
3                          None  ...                                               5.00
4                          None  ...                                               7.00
5                          None  ...                                               4.00
6                          None  ...                                                  –
7                          None  ...                                                  –
8                          None  ...  y adjusted for\nount of the\nnd for fiscal\nw ...
9                   Name of the  ...                                             , 2019
10                         None  ...                                             % held
11     Deutsche Ba\nADRs – lega  ...                                              17.11
12                 Life Insuran  ...                                               5.83
13  The reconcil\n2019 are as f  ...                         d March 31,\nted otherwise
14                  Particulars  ...                                             , 2019
15                         None  ...                                             Amount
16                 As at the be  ...                                              1,088
17    Add : Shares\n– before bo  ...                                                  –
18                  Add : Bonus  ...                                              1,088
19   Add : Shares\n– after bonu  ...                                                  –
20                Less : Shares  ...                                                  6
21                 As at the en  ...                                              2,170

[22 rows x 9 columns]

<Page:256>

                   0           1   2  ...            5             6              7
0        Particulars         NaN NaN  ...       9 Plan           201         5 Plan
1               None        None NaN  ...  d March 31,     Year ende    d March 31,
2               None        None NaN  ...          201         9 202      0 2019(1)
3   Equity-settled R         SUs NaN  ...          NaN           NaN            NaN
4                KMP         NaN NaN  ...          NaN   –   5,07,89   6   6,75,530
5     Employees othe  r than KMP NaN  ...          NaN  –   33,46,28  0   36,65,170
6                NaN         NaN NaN  ...          NaN  –   38,54,17  6   43,40,700
7    Cash-settled RS          Us NaN  ...          NaN           NaN            NaN
8                KMP         NaN NaN  ...          NaN   –   1,80,40          0   –
9     Employees othe  r than KMP NaN  ...          NaN   –   4,75,74     0   74,090
10               NaN         NaN NaN  ...          NaN   –   6,56,14     0   74,090
11               NaN         NaN NaN  ...          NaN  –   45,10,31  6   44,14,790

[12 rows x 8 columns]

<Page:257>

                       0  ...                                                  7
0                   None  ...                                        d March 31,
1                   None  ...                                               2019
2                   None  ...                                                NaN
3                   None  ...                                                 33
4                   None  ...                                                169
5                   None  ...                                                202
6                   None  ...                                                  5
7                   None  ...  were modified\nompany issued\nor outstanding\n...
8            Particulars  ...                                         1, 2019(1)
9                   None  ...                  ighted average \nercise price (`)
10      2015 Plan : RSUs  ...                                                NaN
11  Outstanding at the b  ...                                               2.50
12               Granted  ...                                               3.84
13             Exercised  ...                                               2.50
14  Modification to cash  ...                                                  –

[15 rows x 8 columns]

<Page:258>

                                                    0  ...                                       9
0                                         Particulars  ...                                   19(1)
1                                                None  ...                   d average\n price (`)
2                                       Forfeited and  ...                                    2.61
3                                         Outstanding  ...                                    3.13
4                                       Exercisable a  ...                                    2.50
5                                       2015 Plan : E  ...                                     NaN
6                                         Outstanding  ...                                     493
7                                             Granted  ...                                       –
8                                           Exercised  ...                                     515
9                                        Modification  ...                                       –
10                                      Forfeited and  ...                                     521
11                                        Outstanding  ...                                     516
12                                      Exercisable a  ...                                     517
13                                      2019 Plan : R  ...                                     NaN
14                                        Outstanding  ...                                       –
15                                            Granted  ...                                       –
16                                          Exercised  ...                                       –
17                                      Forfeited and  ...                                       –
18                                        Outstanding  ...                                       –
19                                      Exercisable a  ...                                       –
20  )  Information i\nDuring the ye\n015 Plan on \...  ...                             under th\n:
21                                      Range of exer  ...                                   nding
22                                               None  ...  Weighted\naverage\nexercise\nprice (`)
23                                          0-5 (RSU)  ...                                    3.96
24                                        450-600 (ES  ...                                     539
25                                                NaN  ...                                      64
26                                         he summary  ...                                     s :
27                                      Range of exer  ...                                     NaN
28                                               None  ...         Weighted\ne exercise\nprice (`)
29                                          0-5 (RSU)  ...                                    3.13
30                                        450-600 (ES  ...                                     516
31                                                NaN  ...                                      80

[32 rows x 10 columns]

<Page:259>

                                                    0  ...                                                 13
0                                         Particulars  ...                                                NaN
1                                                None  ...                                      019 – \n– RSU
2                                       Weighted aver  ...                                              10.77
3                                      Exercise price  ...                                               0.06
4                                       Expected vola  ...                                              22-26
5                                       Expected life  ...                                                1-4
6                                       Expected divi  ...                                               2.65
7                                     Risk-free inter  ...                                                2-3
8                            Weighted aver\n($ADS)(1)  ...                                              10.03
9   )  Fiscal 2019 va\nhe expected l\nxpected exer...  ...                                            well as
10                                               None  ...                                                31,
11                                               None  ...                                               2019
12                                        Particulars  ...                                                205
13                                               None  ...                                               None
14                                               None  ...                                                  –
15                                        Non-current  ...                                               None
16                                             Others  ...                                               None
17                                               None  ...                                                233
18                            Accrued co\nemployees(1  ...                                               None
19                                               None  ...  tion, the\n9 for the\nstanding\n (refer to\n v...
20                                         Compensate  ...                                               None
21           Financial lia\narrangemen\n(Refer to Not  ...                                               None
22                     Payable for ac\n(Refer to Note  ...                                               None
23                                         Contingent  ...                                               None
24                                      Other payable  ...                                               None
25                        Total non-curr\nliabilities  ...                                               None
26                                            Current  ...                                                31,
27                                      Unpaid divide  ...                                               2019
28                                             Others  ...                                                NaN
29                            Accrued co\nemployees(1  ...                                                NaN
30                                               None  ...                                                 42
31                                        Accrued exp  ...                                               None
32                                        Retention m  ...                                                 30
33                             Payable for \nbusiness  ...                                               None
34                                               None  ...                                                  –
35                              Continge\n(Refer to N  ...                                               None
36                                               None  ...                                                174
37                                       Payable by c  ...                                               None
38                         Financial lia\nbuyback (Re  ...                                                 29
39                                               None  ...                                                  –
40                                         Compensate  ...                                                275
41                           Foreign cur\noptions con  ...                                                NaN
42                                               None  ...                                              2,809
43                                       Capital cred  ...                                                 26
44                                        Other payab  ...                                                NaN
45                        Total current \nliabilities  ...                                              1,487
46                                               None  ...                                                  2
47                                    Total other fin  ...                                               None
48                          (1)  Financial liab\ncost  ...                                                  –

[49 rows x 14 columns]

<Page:260>

                                                    0  ...                                                  2
0                                         Particulars  ...                                         s at March
1                                                None  ...                                               2020
2                                  Deferred rent (Ref  ...                                                  –
3              Deferred income –\ngrant on land use r  ...                                                  2
4                                              Others  ...                                                  6
5                               Total current other l  ...                                              4,842
6                              Total other liabilitie  ...                                              5,121
7   2.14  Provisions\nAccounting policy\nA provisi...  ...  ast event, the\nn that is reas\ntflow of eco\n...
8                                         Particulars  ...                                         at March 3
9                                                None  ...                                               2020
10                                            Current  ...                                                NaN
11                                             Others  ...                                                NaN
12              Post-sales client s\nother provisions  ...                                                572
13                                   Total provisions  ...                                                572

[14 rows x 3 columns]

<Page:261>

               0              1        2                           3
0    Particulars            NaN        M  Year ended \narch 31, 2020
1  Balance at th    e beginning      NaN                         576
2  Provision rec  ognized / (re  versed)                         116
3  Provision uti          lized      NaN                       (174)
4   Exchange dif        ference      NaN                          54
5  Balance at th          e end      NaN                         572

<Page:261>

                                                    0  ...                                                  3
0                                         Particulars  ...                                           rs ended
1                                                None  ...                                               2020
2                                       Current taxes  ...                                              5,775
3                                      Deferred taxes  ...                                              (407)
4                                       Income tax ex  ...                                              5,368
5   During the year\ninto an Advan\njurisdiction r...  ...  the Com\n(APA) in \nncome ta\nriods.\nor the y...
6                                         Particulars  ...                                           rs ended
7                                                None  ...                                               2020
8                                     Profit before i  ...                                             22,007
9                                      Enacted tax ra  ...                                             34.94%
10                                        Computed ex  ...                                              7,691
11                     Tax effect due \nincome for In  ...                                            (2,718)
12                                     Overseas taxes  ...                                                728
13                                      Tax provision  ...                                              (379)
14                             Effect of exem\nincome  ...                                               (41)
15                        Effect of unrec\ntax assets  ...                                                 53
16                                   Effect of differ  ...                                               (81)
17                           Effect of non-\nexpenses  ...                                                120
18                                      Branch profit  ...                                               (35)
19                                             Others  ...                                                 30
20                                      Income tax ex  ...                                              5,368

[21 rows x 4 columns]

<Page:262>

                                       0  ...                         5
0                                   Year  ...                       NaN
1                                   2021  ...                        83
2                                   2022  ...                       142
3                                   2023  ...                       209
4                                   2024  ...                       172
5                                   2025  ...                       121
6                             Thereafter  ...                     2,460
7                                  Total  ...                     3,187
8   The details of ex\n2019 are as follo  ...  at March 31,\nin ` crore
9                                   Year  ...                       NaN
10                                  2020  ...                       173
11                                  2021  ...                        80
12                                  2022  ...                       142
13                                  2023  ...                       198
14                                  2024  ...                       187
15                            Thereafter  ...                     1,844
16                                 Total  ...                     2,624

[17 rows x 6 columns]

<Page:262>

                                                    0  ...                                    9
0                                         Particulars  ...                                  31,
1                                                None  ...                                 2019
2                                   Income tax assets  ...                                6,743
3                              Current income tax lia  ...                                1,567
4                               Net current income ta  ...                                5,176
5                              he gross movement in t  ...                 s follows\nin ` cror
6                                         Particulars  ...                             arch 31,
7                                                None  ...                                 2019
8                               Net current income ta  ...                                4,027
9                             Translation differences  ...                                  (1)
10                                    Income tax paid  ...                                6,832
11                              Current income tax ex  ...                              (5,727)
12                             Reclassified under ass  ...                                   23
13                             Reclassified from held  ...                                   13
14                             Income tax benefit ari  ...                                    8
15                              Additions through bus  ...                                  (9)
16                               Tax impact on buybac  ...                                    4
17                              Income tax on other c  ...                                    6
18                              Net current income ta  ...                                5,176
19                               he movement in gross  ...                 s follows\nin ` cror
20                                     Particulars\na  ...  Carrying\nlue as of\narch 31,\n2020
21       Deferred income \ntax assets/\n(liabilities)  ...                                  NaN
22                    Property, plant \nand equipment  ...                                  244
23                                  Lease liabilities  ...                                  136
24              Accrued \ncompensation to \nemployees  ...                                   52
25                                  Trade receivables  ...                                  197
26                             Compensated \nabsences  ...                                  433
27                        Post-sales client \nsupport  ...                                  111
28                Credits related to \nbranch profits  ...                                  377
29               Derivative \nfinancial \ninstruments  ...                                  162
30                                  Intangible assets  ...                                   20
31  Intangibles \narising on \nbusiness \ncombinat...  ...                                (426)
32                                  Branch profit tax  ...                                (555)
33                                             Others  ...                                   25
34  Total deferred \nincome tax assets / \n(liabil...  ...                                  776

[35 rows x 10 columns]

<Page:263>

                                                    0  ...                                                 11
0                                         Particulars  ...  ation  Carrying \nence value as of \nMarch 31,...
1          Deferred inco\ntax assets /\n(liabilities)  ...                                                NaN
2                          Property, pla\nand equipme  ...                                            –   262
3                    Accrued \ncompensatio\nemployees  ...                                             1   31
4                                       Trade receiva  ...                                            –   176
5                                Compensate\nabsences  ...                                            –   397
6                             Post-sales cli\nsupport  ...                                            1   104
7                       Credits relate\nbranch profit  ...                                           21   340
8                Derivative \nfinancial \ninstruments  ...                                          1   (106)
9                                       Intangible as  ...                                             1   16
10  Intangibles \narising on \nbusiness \ncombination  ...                                        (11)  (128)
11                                      Branch profit  ...                                        (33)  (541)
12                                             Others  ...                                           (2)  149
13       Total deferre\nincome tax a\n/ (liabilities)  ...                                          (21)  700
14                                       The deferred  ...                                               None
15                                        Particulars  ...                                               None
16                                               None  ...                                               None
17                             Deferred inco\nset-off  ...                                               None
18                       Deferred inco\nafter set-off  ...                                               None

[19 rows x 12 columns]

<Page:264>

                                               0  ...      11
0                                    Particulars  ...    None
1                                           None  ...    None
2                                   Revenue from  ...    None
3                        Revenue from\nplatforms  ...    None
4                                  Total revenue  ...    None
5   The Group ha\nfrom (i) the po\nFor the years  ...    None
6                                    Particulars  ...   Total
7                                    Revenues by  ...     NaN
8                                    North Ameri  ...  55,807
9                                            NaN  ...  50,038
10                                        Europe  ...  21,916
11                                           NaN  ...  19,942
12                                         India  ...   2,365
13                                           NaN  ...   2,048
14                                 Rest of the w  ...  10,703
15                                           NaN  ...  10,647
16                                         Total  ...  90,791
17                                           NaN  ...  82,675
18                                  Revenue by o  ...     NaN
19                                       Digital  ...  35,617
20                                           NaN  ...  25,797
21                                          Core  ...  55,174
22                                           NaN  ...  56,878
23                                         Total  ...  90,791
24                                           NaN  ...  82,675

[25 rows x 12 columns]

<Page:266>

                                                   0  ...     3
0                                        Particulars  ...  Marc
1                                               None  ...   NaN
2                     Interest incom\nassets carried  ...   NaN
3                            Tax-free bo\ngovernment  ...   NaN
4                                        Deposit wit  ...   NaN
5  Interest incom\nassets carried \nthrough other...  ...   NaN
6   Non-conver\nand certific\ncommercial\ngovernment  ...   NaN
7               Income on in\nat fair value th\nloss  ...   NaN
8                            Dividend in\nmutual fun  ...   NaN

[9 rows x 4 columns]

<Page:268>

                                                    0  ...          3
0                                           rticulars  ...     ch 31,
1                                                None  ...       2019
2                  Gain / (loss) on \nfunds and other  ...        170
3    come on invest\nfair value throu\nmprehensive in  ...          –
4                               terest income o\nfund  ...         51
5   change gains / (\nreign currency f\ntions cont...  ...        185
6       change gains / (\n translation of a\nbilities  ...        133
7                                    iscellaneous inc  ...        291
8                                     tal other incom  ...      2,882
9                                         8  Expenses  ...  in ` cror
10                                          rticulars  ...     ch 31,
11                                               None  ...       2019
12                                    mployee benefit  ...        NaN
13                                   Salaries includi  ...     43,894
14                   Contribution to\nand other funds  ...        946
15                   Share-based pay\nemployees (Refe  ...        202
16                                      Staff welfare  ...        273
17                                                NaN  ...     45,315
18                            ost of software p\nhers  ...        NaN
19                                        For own use  ...        930
20                 Third-party item\nservice delivery  ...      1,623
21                                                NaN  ...      2,553
22                                      ther expenses  ...        NaN
23                                    Repairs and mai  ...      1,269
24                                     Power and fuel  ...        221
25                                     Brand and mark  ...        489
26                Short-term lease\n(Refer to Note 2.  ...          –
27                                    Operating lease  ...        585
28                                    Rates and taxes  ...        184
29                                        Consumables  ...         47
30                                          Insurance  ...         67
31                  Provision for po\nsupport and oth  ...          1
32                     Commission to \ntime directors  ...          8
33  Impairment loss\n(reversed) unde\ncredit loss mod  ...        248
34                  Contributions t\ncorporate social  ...        266
35                                             Others  ...        270
36                                                NaN  ...      3,655

[37 rows x 4 columns]

<Page:268>

                                                  0  ...                                        11
0                                       Particulars  ...                                     Total
1                                              None  ...                                      None
2                                     Balance as of  ...                                     2,907
3                                   Reclassified on  ...                                       634
4                                      Additions(1)  ...                                     1,120
5                                     Additions thr  ...                                       187
6                                         Deletions  ...                                     (134)
7                                      Depreciation  ...                                     (563)
8                                    Translation di  ...                                        17
9                                     Balance as of  ...                                     4,168
10  )  Net of lease in\nhe break-up \nf March 31, 2  ...  cluded\nin  the\nf ROU\nlows :\n ` crore
11                                      Particulars  ...                                      None
12                                    Current lease  ...                                      None
13                                    Non-current l  ...                                      None
14                                            Total  ...                     ended \nch 31, \n2020
15                        he movemen\nMarch 31, 202  ...                                      None
16                                             None  ...                                       430
17                                             None  ...                                        15
18                                      Particulars  ...                                      None
19                                             None  ...                                      (46)
20                                             None  ...                                        34
21                                             None  ...                                       433
22                                   Balance at the  ...                                      None
23                                             None  ...                  of net\n, 2020\n ` crore
24                                        Additions  ...                                      None
25                    Additions thr\n(Refer to Note  ...                                      None
26                                        Deletions  ...                                      None
27                                   Finance cost a  ...                                     mount
28                                    Payment of le  ...                                        50
29                                   Translation di  ...                                       217
30                                   Balance at the  ...                                       244
31   he details re\niabilities as \nasis are as fol  ...                                       511
32                                      Particulars  ...                                      None
33                                    Less than one  ...                                      None
34                                   One to five ye  ...                                      None
35                                    More than fiv  ...                                      None
36                                            Total  ...                                      None

[37 rows x 12 columns]

<Page:270>

                                                    0  ...                                  6
0                                         Particulars  ...                                  ,
1                                                None  ...                               2019
2                                   Change in benefit  ...                                NaN
3                      Benefit obligations\nbeginning  ...                              1,201
4                                        Service cost  ...                                157
5                                    Interest expense  ...                                 85
6                  Remeasurements –\n(gains) / losses  ...                                 32
7                                       Benefits paid  ...                              (128)
8                                 Translation differe  ...                                  2
9            Reclassified from h\nsale (Refer to Note  ...                                  2
10                                Benefit obligations  ...                              1,351
11                                 Change in plan ass  ...                                NaN
12                 Fair value of plan \nthe beginning  ...                              1,216
13                                    Interest income  ...                                 90
14  Remeasurements –\nplan assets excludi\ninclude...  ...                                  4
15                                      Contributions  ...                                174
16                                      Benefits paid  ...                              (123)
17                       Fair value of plan \nthe end  ...                              1,361
18                                      Funded status  ...                                 10
19            Prepaid gratuity b\n(Refer to Note 2.9)  ...                                 42
20                     Accrued gratuity (\nNote 2.13)  ...                               (32)
21  he amounts for \nMarch 31, 2019 rec\nrofit and...  ...  20 an\nment o\nfollows\nin ` cror
22                                        Particulars  ...                             ch 31,
23                                               None  ...                               2019
24                                       Service cost  ...                                157
25          Net interest on th\nbenefit liability / (  ...                                (5)
26                                  Net gratuity cost  ...                                152

[27 rows x 7 columns]

<Page:271>

                     0  ...          5
0                  Par  ...       arch
1                 None  ...          2
2              Re\ndef  ...        NaN
3                  Act  ...        NaN
4   (Re\nexc\nin \ndef  ...        NaN
5                  NaN  ...        NaN
6                  NaN  ...       in `
7                  Par  ...       arch
8                 None  ...          2
9               (G\nde  ...        NaN
10             (G\nfin  ...        NaN
11             (G\nadj  ...        NaN
12                 NaN  ...        NaN
13          he\nen\n01  ...  eter\narc
14                 Par  ...        31,
15                None  ...          2
16                 Dis  ...          7
17              We\nin  ...          8
18             We\ndef  ...      5.9 y
19         he\neri\nnd  ...  rmin\n31,
20                 Par  ...       arch
21                None  ...          2
22                 Dis  ...        NaN
23              We\nin  ...        NaN

[24 rows x 6 columns]

<Page:272>

                                                   0  ...                                                  4
0                          Impact from \ndecrease in  ...                             As at March \n31, 2020
1                                      Discount rate  ...                                                 67
2                          Weighted ave\ncompensatio  ...                                                 59
3  Sensitivity to s\nvarying one ac\ndefined bene...  ...  computed by\nluation of the\neping all other\n...
4                                       Within 1 yea  ...                                                215
5                                           1-2 year  ...                                                218
6                                           2-3 year  ...                                                220
7                                           3-4 year  ...                                                231
8                                           4-5 year  ...                                                148
9                                         5-10 years  ...                                              1,183

[10 rows x 5 columns]

<Page:272>

                 0  ...                                             4
0               Pa  ...                                    As at \n31
1                C  ...                                           NaN
2               Be  ...                                           NaN
3               Se  ...                                           NaN
4                E  ...                                           NaN
5               In  ...                                           NaN
6               Ac  ...                                           NaN
7               Be  ...                                           NaN
8               Be  ...                                           NaN
9                C  ...                                           NaN
10              Fa  ...                                           ing
11              In  ...                                           NaN
12      Re\nex\nin  ...                                      ets \nst
13               C  ...                                           NaN
14              Be  ...                                           NaN
15              Fa  ...                                           NaN
16               N  ...                                           NaN
17  ) I\nh\nn \nnc  ...  ents in bonds\n 31, 2020 rec\nther Compre\ni
18              Pa  ...                                Year\nMarch 31
19          Re\nbe  ...                                            ed
20              Ac  ...                                           NaN
21      (R\nam\nth  ...                                 ing \non \nt)
23       h\nbl\nAp  ...                 ng the presen\nnder the Deter
24              Pa  ...                                 As at March 3
25            None  ...                                          2020
26           G\nbo  ...                                         6.20%
27          Ex\nas  ...                                         8.00%
28          Re\npo  ...                                 6 years   5.4
29          Ex\nra  ...                                           NaN
30              Fi  ...                                         8.50%
31              Th  ...                                         8.50%

[31 rows x 5 columns]

<Page:273>

                                                   0  ...                                                  3
0                                        Particulars  ...                             As at March \n31, 2020
1                                     Central and st  ...                                                49%
2                       Public-sector \nsector bonds  ...                                                48%
3                                             Others  ...                                                 3%
4  The asset alloca\ninvestment crit\nAs at March...  ...  d based on the\nnt regulations.\nigation would...
5                                        Particulars  ...                             As at March \n31, 2019
6                                    Benefit obligat  ...                                              5,989
7                                   Net liability re  ...                                                  –

[8 rows x 4 columns]

<Page:273>

                                                    0  ...                           9
0                                         Particulars  ...                        None
1                                     Salaries and bo  ...                        None
2                                      Defined contri  ...                        None
3                                      Defined benefi  ...                        None
4                                                 NaN  ...                        None
5   (1)  Includes empl\n` 202 crore for \nrespecti...  ...                        None
6                                         Particulars  ...                     rch 31,
7                                                None  ...                        2019
8                     Basic earnings \noutstanding(1)  ...                34,71,30,157
9                                    Effect of diluti  ...                   62,90,615
10                       Diluted earnin\ncommon equiv  ...                35,34,20,772
11  Information in the \n(1)  Excludes treasu\nFor...  ...  ity shares had\nin ` crore
12                                        Particulars  ...                     rch 31,
13                                               None  ...                        2019
14                                     Contingent lia  ...                         NaN
15                                     Claims against  ...                       3,081
16                                       [Amount paid  ...                         NaN
17                                        Commitments  ...                         NaN
18                    Estimated amo\nfor (net of adva  ...                       1,724
19                                       Other commit  ...                          86

[20 rows x 10 columns]

<Page:274>

             0                                  1  ...               7        8
0           Na                   me of subsidiari  ...  dings as at Ma  rch 31,
1         None                               None  ...            2020     2019
2         Info                     sys Technologi  ...            100%     100%
3         Info                     sys Technologi  ...            100%     100%
4         Info                     sys Technologi  ...            100%     100%
5         Info                     sys Technologi  ...            100%     100%
6         Info                     sys Tecnologia  ...               –     100%
7         Info                     sys Nova Holdi  ...            100%     100%
8          Edg                     eVerve Systems  ...            100%     100%
9         Info                     sys Austria Gm  ...            100%     100%
10         Ska                    va Systems Pvt.  ...            100%     100%
11         Kal                  lidus Inc. (Kalli  ...            100%     100%
12        Info                      sys Chile SpA  ...            100%     100%
13        Info                     sys Arabia Lim  ...             70%      70%
14        Info                     sys Consulting  ...            100%   99.99%
15        Info                   sys CIS LLC(1)(1  ...               –        –
16        Info                      sys Luxembour  ...            100%     100%
17        Info                    sys Americas In  ...            100%     100%
18        Info                     sys Technologi  ...               –     100%
19        Info                    sys Public Serv  ...            100%     100%
20        Info                      sys Canada Pu  ...               –        –
21        Info                     sys BPM Limite  ...          99.99%   99.98%
22        Info                     sys (Czech Rep  ...          99.99%   99.98%
23        Info                     sys Poland Sp.  ...          99.99%   99.98%
24        Info                       sys McCamish  ...          99.99%   99.98%
25         Por                    tland Group Pty  ...          99.99%   99.98%
26        Info                      sys BPO Ameri  ...          99.99%   99.98%
27        Info                     sys Consulting  ...            100%     100%
28         Lod                      estone Manage  ...               –        –
29        Info                       sys Manageme  ...            100%     100%
30        Info                     sys Consulting  ...            100%     100%
31        Info                     sys Consulting  ...            100%     100%
32        Info                     sys Consulting  ...            100%     100%
33        Info                     sys Consulting  ...            100%     100%
34        Info                     sys Consulting  ...            100%     100%
35   Info\nCon  sys Consulting\nsultants Co., Ltd  ...            100%     100%
36        Infy                      Consulting Co  ...            100%     100%
37        Infy                      Consulting B.  ...            100%     100%
38        Info                     sys Consulting  ...          99.99%     100%
39         Lod                      estone Manage  ...            100%     100%
40        Info                     sys Consulting  ...            100%     100%
41  Info\n(Bel     sys Consulting\ngium) S.A.)(6)  ...          99.90%   99.90%
42         Pan                    aya Inc. (Panay  ...            100%     100%
43         Pan                        aya Ltd.(7)  ...            100%     100%
44         Pan                        aya GmbH(7)  ...            100%     100%

[45 rows x 9 columns]

<Page:275>

                  0                     1   ...          13     14
0      Name of subsi               diaries  ...  as at Marc  h 31,
1               None                  None  ...          20   2019
2       Panaya Japan        Co. Ltd(7)(31)  ...           –   100%
3   Brilliant Basics       Holdings Limite  ...          0%   100%
4   Brilliant Basics            Limited(8)  ...          0%   100%
5   Brilliant Basics          (MENA) DMCC(  ...          0%   100%
6     Infosys Consul    ting Pte Ltd. (Inf  ...          0%   100%
7     Infosys Middle        East FZ LLC(9)  ...          0%   100%
8   Fluido Oy(9)(14)                   NaN  ...          0%   100%
9      Fluido Sweden       AB (Extero)(15)  ...          0%   100%
10     Fluido Norway               A/S(15)  ...          0%   100%
11      Fluido Denma            rk A/S(15)  ...          0%   100%
12    Fluido Slovaki           a s.r.o(15)  ...          0%   100%
13      Fluido Newco                AB(15)  ...          0%   100%
14     Infosys Compa    z Pte Ltd (formerl  ...          0%    60%
15     Infosys South  Africa (Pty) Ltd(9)(  ...          0%      –
16       WongDoody H        olding Company  ...          0%   100%
17         WDW Commu    nications, Inc(12)  ...          0%   100%
18      WongDoody, I                nc(12)  ...          0%   100%
19     HIPUS Co., Lt  d(20) (formerly Hita  ...          1%      –
20   Stater N.V.(21)                   NaN  ...          5%      –
21    Stater Nederla           nd B.V.(22)  ...          5%      –
22   Stater Duitslan            d B.V.(22)  ...          5%      –
23    Stater XXL B.V                 .(22)  ...          5%      –
24      HypoCasso B.                V.(22)  ...          5%      –
25   Stater Particip       ations B.V.(22)  ...          5%      –
26    Stater Deutsch      land Verwaltungs  ...          5%      –
27    Stater Deutsch        land GmbH & Co  ...          5%      –
28    Stater Belgium         N.V./S.A.(24)  ...          9%      –
29     Outbox system     s Inc. dba Simplu  ...          0%      –
30     Simplus North      America Inc.(28)  ...          0%      –
31       Simplus ANZ          Pty Ltd.(28)  ...          0%      –
32     Simplus Austr      alia Pty Ltd(30)  ...          0%      –
33     Sqware Peg Di     gital Pty Ltd(30)  ...          0%      –
34    Simplus Philip       pines, Inc.(28)  ...          0%      –
35     Simplus Europ           e, Ltd.(28)  ...          0%      –
36     Simplus U.K.,              Ltd.(29)  ...          0%      –
37    Simplus Irelan           d, Ltd.(29)  ...          0%      –

[38 rows x 15 columns]

<Page:276>

                                                    0  ...                           10
0                                         Particulars  ...                          NaN
1                                        Infosys Limi  ...                      Infosys
2                                        Infosys Limi  ...                      Infosys
3                                        Infosys Limi  ...                      Infosys
4                                         Infosys BPM  ...                   Infosys BP
5                                         Infosys BPM  ...                   Infosys BP
6                                         EdgeVerve S  ...                    EdgeVerve
7                             EdgeVerve S\nFund Trust  ...                    EdgeVerve
8                                         Infosys Emp  ...                          NaN
9                                         Infosys Emp  ...                          NaN
10                                       Infosys Scie  ...                          NaN
11                                       Infosys Expa  ...                          NaN
12  efer to Note\n)  Registered o\nist of key m\nW...  ...  e KMP w\nas follows :\nin `
13    Nilanjan Ro\n(appointed as C\nOfficer effective  ...                         None
14  Jayesh Sang\n(appointed as In\nFinancial Offic...  ...                         None
15                                               None  ...                   ed March 3
16                                               None  ...                          0 2
17                                               None  ...                            8
18                                               None  ...                            8
19      M.D. Ranga\n(resigned as Chi\neffective Novem  ...                         None
20                                               None  ...                            6
21       Inderpreet S\nGroup General \nCompliance Off  ...                         None

[22 rows x 11 columns]

<Page:277>

                                       0  ...       9
0                                   None  ...  Amount
1                          fosys Limited  ...  15,309
2                          dian subsidia  ...     NaN
3                            Infosys BPM  ...     651
4                   EdgeVerve S\nLimited  ...     380
5                 Skava System\nLimited.  ...     (1)
6                           reign subsid  ...     NaN
7              Brilliant Basi\n(MENA) DM  ...       –
8           Brilliant Basi\nHoldings Lim  ...     (1)
9                Brilliant Basi\nLimited  ...       9
10                  Infosys Midd\nFZ LLC  ...      16
11               Infosys BPO \nSp Z.o.o.  ...       6
12                           Fluido Denm  ...       4
13                           Fluido Newc  ...       –
14                           Fluido Norw  ...       4
15                             Fluido Oy  ...       7
16                          Fluido Slova  ...       2
17                           Fluido Swed  ...     (8)
18                          Infosys Amer  ...       –
19                 Infosys Arab\nLimited  ...       –
20  Infosys Tech\n(Australia) P\nLimited  ...       –
21                     Infosys BPO \nLLC  ...     (2)
22   Infosys (Czec\nRepublic) Li\ns.r.o.  ...       6
23            Infosys Tecn\nDO Brasil LT  ...    (28)
24             Infosys Tech\n(China) Co.  ...       4
25                         Infosys Chile  ...       –
26                Infosys Luxe\nS.à.r.l.  ...     (1)
27           Infosys Tech\nS. de R. L. d  ...      41
28             Infosys Nova\nHoldings LL  ...       –
29   Infosys Tech\n(Shanghai) C\nLimited  ...   (121)
30             Infosys Tech\n(Sweden) AB  ...       9

[31 rows x 10 columns]

<Page:278>

                                                    0  ...       9
0                                                None  ...  Amount
1                     Infosys Public \nServices, Inc.  ...      80
2                                       Kallidus Inc.  ...    (29)
3                             Infosys Consult\nS.R.L.  ...       5
4            Infosys Manage\nConsulting Pty \nLimited  ...       5
5                              Infosys Austria \nGmbH  ...       2
6                       Infosys Consult\n(Belgium) NV  ...       2
7                              Infosys Consult\nLtda.  ...    (67)
8                     Infosys Consult\n(Shanghai) Co.  ...    (19)
9                             Infosys Consult\ns.r.o.  ...       –
10                               Infosys Consult\nSAS  ...       2
11                              Infosys Consult\nGmbH  ...      44
12                        Infosys Consult\nHolding AG  ...      93
13                                    Infy Consulting  ...       7
14                        Infosys Consult\nSp. z.o.o.  ...      17
15  Lodestone \nManagement \nConsultants Por\nUnip...  ...       2
16                     S.C. Infosys \nConsulting S.R.  ...       6
17                          Infosys Consult\nPte Ltd.  ...      40
18                                Infosys Consult\nAG  ...      39
19                      Infy Consulting\nCompany Ltd.  ...      25
20           Lodestone \nManagement \nConsultants Inc  ...       –
21                        Infosys McCami\nSystems LLC  ...     127
22                                     Noah Consultin  ...       –
23       Noah Informati\nManagement \nConsulting Inc.  ...       –
24                                        Panaya GmbH  ...     (1)
25                                        Panaya Inc.  ...       1
26                                    Panaya Japan Co  ...       1
27                                        Panaya Ltd.  ...    (43)
28                                Portland Group\nLtd  ...       5

[29 rows x 10 columns]

<Page:279>

                                         0  ...   11
0                            ame of entity  ...  NaN
1                                     None  ...    t
2                 Infosys Compaz Pte \nLtd  ...    4
3               WDW \nCommunications, Inc.  ...    )
4         WongDoody Holding \nCompany Inc.  ...    –
5                          WongDoody, Inc.  ...    9
6                           HIPUS Co., Ltd  ...    7
7                              Stater N.V.  ...    4
8                    Stater Nederland B.V.  ...    9
9                    Stater Duitsland B.V.  ...    –
10                         Stater XXL B.V.  ...    –
11                          HypoCasso B.V.  ...    6
12            Stater Participations \nB.V.  ...    –
13   Stater Deutschland \nVerwaltungs-GmbH  ...    –
14      Stater Deutschland \nGmbH & Co. KG  ...    –
15              Stater Belgium \nN.V./S.A.  ...    3
16  Outbox Systems Inc. \ndba Simplus (US)  ...    1
17             Simplus Australia \nPty Ltd  ...    –
18             Simplus Philippines, \nInc.  ...    –
19                      Simplus U.K., Ltd.  ...    –
20                   Simplus Ireland, Ltd.  ...    –
21                                  btotal  ...    1
22   justment arising out \n consolidation  ...    )
23                        ontrolled trusts  ...    3
24                                     NaN  ...    0
25                on-controlling \nterests  ...    )
26                                     tal  ...    2

[27 rows x 12 columns]

<Page:280>

                                          0  ...      11
0                           Particulars \nS  ...   Total
1                 Revenue from \noperations  ...  90,791
2                                       NaN  ...  82,675
3       Identifiable \noperating \nexpenses  ...  48,968
4                                       NaN  ...  44,598
5                      Allocated \nexpenses  ...  19,507
6                                       NaN  ...  17,170
7            Segmental \noperating \nincome  ...  22,316
8                                       NaN  ...  20,907
9                         Unallocable expen  ...   2,942
10                                      NaN  ...   2,027
11                        Other income, net  ...   2,803
12                                      NaN  ...   2,882
13                       Finance costs (Ref  ...   (170)
14                                      NaN  ...       –
15                       Reduction in the f  ...       –
16                                      NaN  ...   (270)
17  Adjustment in res\nreclassification fro  ...       –
18                                      NaN  ...   (451)
19                        Profit before tax  ...  22,007
20                                      NaN  ...  21,041

[21 rows x 12 columns]

<Page:281>

                                                    0  ...                              11
0                                         Particulars  ...                           Total
1                                      Income tax exp  ...                           5,368
2                                                 NaN  ...                           5,631
3                                          Net profit  ...                          16,639
4                                                 NaN  ...                          15,410
5                                      Depreciation a  ...                           2,893
6                                                 NaN  ...                           2,011
7                                       Non-cash expe  ...                              49
8                                                 NaN  ...                             740
9   )  Financial Servic\n)  Retail includes \n)  C...  ...  s effectiv\n1, 2019\nin ` cror
10                                        Particulars  ...                           h 31,
11                                               None  ...                            2019
12                                       Revenue from  ...                          82,675
13                                      Cost of sales  ...                          53,867
14                                       Gross profit  ...                          28,808
15                                      Operating exp  ...                             NaN
16                                        Selling and  ...                           4,473
17                                        General and  ...                           5,455
18                                    Total operating  ...                           9,928
19                                     Operating prof  ...                          18,880
20                                     Reduction in t  ...                           (270)
21                   Adjustment in \nreclassification  ...                           (451)
22                                      Other income,  ...                           2,882
23                                       Finance cost  ...                               –
24                                   Profit before ta  ...                          21,041
25                                        Tax expense  ...                             NaN
26                                        Current tax  ...                           5,727
27                                       Deferred tax  ...                            (96)
28                                   Profit for the p  ...                          15,410
29                                      Other compreh  ...                             NaN
30                                    Items that will  ...                             NaN
31                                         Remeasurem  ...                            (22)
32                                      Equity instru  ...                              70
33                                                NaN  ...                              48

[34 rows x 12 columns]

<Page:282>

       0  ...      10
0    NaN  ...   h 31,
1   None  ...    2019
2    NaN  ...     NaN
3    NaN  ...      21
4    NaN  ...      63
5    NaN  ...       2
6    NaN  ...      86
7    NaN  ...     134
8    NaN  ...  15,544
9    NaN  ...     NaN
10   NaN  ...  15,404
11   NaN  ...       6
12   NaN  ...  15,410
13   NaN  ...     NaN
14   NaN  ...  15,538
15   NaN  ...       6
16   NaN  ...  15,544
18   NaN  ...     NaN
20   NaN  ...     NaN
22     B  ...     NaN

[20 rows x 11 columns]

<Page:283>

            0  ...                   6
0        None  ...               1 1 5
2          2.  ...                 NaN
4          3.  ...           00, India
6          4.  ...                 NaN
8          5.  ...                 NaN
10         6.  ...                 NaN
12         7.  ...                ties
14         8.  ...                 NaN
15        NaN  ...                 NaN
16         9.  ...                None
17        NaN  ...                 NaN
18        NaN  ...                 NaN
19        NaN  ...                 NaN
21        10.  ...                 NaN
22  Secti\n1.  ...                 NaN
23       None  ...                 NaN
25         2.  ...                 NaN
27         3.  ...                 NaN
29         4.  ...  the three \ne 7 to
31       None  ...              eport,

[20 rows x 7 columns]

<Page:284>

      0  ...                                                 8
0    1.  ...                                              Yes.
1    2.  ...                 Yes. Refer to An\nReport, page 46
2    3.  ...                                  Yes. Less than 3
3  None  ...  BR policy / poli\n2 4 5 0\nRao\nting Officer and
4  None  ...                                               ble
5  None  ...                                             ewton
6  None  ...                                      ce President
7  None  ...                                              4243
8  None  ...                                    on@infosys.com

[9 rows x 9 columns]

<Page:285>

               0  ...                            16
0             S.  ...                            P9
1             1.  ...                           Yes
2             2.  ...                           Yes
3             3.  ...                           Yes
4             4.  ...                           Yes
5             5.  ...                           Yes
6             6.  ...  Available\non our \nintranet
7             7.  ...                           Yes
8             8.  ...                           Yes
9             9.  ...                           NaN
10          None  ...                           Yes
11             1  ...                           Yes
12      1) \nPri  ...                          None
13  P1 \nP2 \nP3  ...                          None

[14 rows x 17 columns]

<Page:286>

                                        0  ...                                             8
0                                S.No. Qu  ...                                           NaN
1                                  1. The  ...                                           NaN
2                        2. The\na p\nspe  ...                                          None
3                            3. The\nreso  ...                                          None
4                                4. It is  ...                                          None
5                                5. It is  ...                                          None
6                                  6. Any  ...                                          None
7                               . Governa  ...                                           NaN
8   Indicate the\nCEO assess\nannually, m  ...                                        ad the
9                Does the Co\nfor viewing  ...                                           NaN
11                             ection E :  ...                                           NaN
12                            Principle N  ...                                           NaN
13                            P1 – Busine  ...                                           NaN
14                                    1.1  ...  r Code \nbery and\ns and \nSupplier\n Policy
15                                    1.2  ...                    nities. \nsection \nin our

[15 rows x 9 columns]

<Page:287>

                   0  ...                                                  8
0      Principle No.  ...                                                NaN
1  P2 – Businesses s  ...                                                NaN
2                2.1  ...  nability \nconomic \nDB) initiat\nSPICe form\n...
3                2.2  ...                                  ital \nmance rela

[4 rows x 9 columns]

<Page:288>

                   0  ...                                                 11
0      Principle No.  ...                                                NaN
1                2.3  ...  d into thre\nevent the \ntheir conc\nle and Se...
2                2.4  ...                 ply chain \nrial aspect\n domestic
3                2.5  ...     generated \nle. We are\nisposal in \nwaste and
4  P3 – Businesses s  ...                                                NaN
5                3.1  ...                                                NaN
6                3.2  ...                                       inability Re
7                3.3  ...                                                NaN

[8 rows x 12 columns]

<Page:289>

                0  ...                             11
0   Principle No.  ...                            NaN
1             3.5  ...                     ce with th
2             3.6  ...                      dex.aspx.
3             3.7  ...                  pany, \nows :
4            None  ...                     grievances
5            None  ...                             88
6            None  ...                          1,165
7            None  ...                            423
8            None  ...                            486
9            None  ...                          2,162
10           None  ...                            NaN
11           None  ...                          1,163
12           None  ...                            988
13           None  ...                             11
14           None  ...                          2,151
15           None  ...  ases involvin\nhe disciplinar

[16 rows x 12 columns]

<Page:290>

              0  ...                                                 10
0   Description  ...                                                NaN
1           NaN  ...                                      t of Women at
2          None  ...                                                NaN
3          None  ...                                                NaN
4          None  ...                                                NaN
5          None  ...                                                NaN
6          None  ...                                                NaN
7          None  ...                                                NaN
8          None  ...                                                NaN
9          None  ...                                                NaN
10         None  ...  approx. 800 \nrough the year\n12 mailers \npro...
11         None  ...                  n, monetary \nnities, termination
12         None  ...                         laints received, involving
13         None  ...                                               None
14         None  ...                                               None
15         None  ...                                               None
16         None  ...                                               None

[17 rows x 11 columns]

<Page:291>

                   0  ...                                                  4
0      Principle No.  ...                                                NaN
1  P4 – Businesses s  ...                                      marginalized.
2                4.1  ...                                                NaN
3                4.2  ...                                       com/sustaina
4                4.3  ...                                      al Report and
5  P5 – Businesses s  ...                                                NaN
6                5.1  ...                                          e policy.
7                5.2  ...                                                NaN
8   P6 – Business sh  ...                                                NaN
9                6.1  ...  mmitment to\nntranet, throu\nn our sustaina\nc...

[10 rows x 5 columns]

<Page:292>

               0  ...                            11
0  Principle No.  ...                           NaN
1            6.2  ...                           NaN
2            6.3  ...  ent. \nant \nr \nw or\ngrate
3            6.4  ...                           NaN
4            6.5  ...                     MW. \n0 M
5            6.6  ...                           all

[6 rows x 12 columns]

<Page:293>

                  0  ...                                                 12
0     Principle No.  ...                                                NaN
1  P7 – Businesses,  ...                                                NaN
2               7.1  ...                    artnershi\nver as Ch\nhe US for
3              None  ...                                                NaN
4              None  ...                 r of Com\nds\nficient E\nouncil (I
5              None  ...                                                NaN
6              None  ...  rade Ass\ncil\n Forum \nIndustry\nIndustry\nAm...

[7 rows x 13 columns]

<Page:294>

                   0  ...                                                  7
0      Principle No.  ...                                                NaN
1  P8 – Businesses s  ...                                                NaN
2                8.1  ...  locations where we opera\nring the well-being ...
3                8.2  ...                                he community, visit
4                8.3  ...                                   www.infosys.org.
5                8.4  ...                          visit www.infosys.org and
6                8.5  ...  e engagement and are \n the local community an...
7  P9 – Businesses s  ...                                                NaN
8                9.1  ...                                                NaN

[9 rows x 8 columns]

<Page:295>

               0  ...                                                 11
0  Principle No.  ...                                                NaN
1            9.3  ...                        e, corruption\ne practices,
2            9.4  ...  on levels and\nThe feedback\norganization.\nre...

[3 rows x 12 columns]

<Page:296>

                            0    1
0                        Sd/-  NaN
1  Nandan M. Nileka\nChairman   ni

<Page:302>

                     0                1  ...                4              5
0  Members having vali            d PAN  ...  d by the Govern  ment of India
1   Members not having  PAN / valid PAN  ...  d by the Govern  ment of India

[2 rows x 6 columns]

<Page:304>

                                                   0  ...                                                  4
0  Type of Holder Process\nRegistering Email Addr...  ...                                                NaN
1                                               None  ...                                                NaN
2  Physical Send a request to the RTA of the  Sen...  ...  gies Private \n., Name of \nback), PAN \nlf-at...
3  Demat Please contact your DP and register your...  ...                                          our demat

[4 rows x 5 columns]

<Page:306>

                                      0  ...                                                  8
0                                    St  ...  t VC \noadband, \nE), with a \nt-in or USB \nt...
1                                    St  ...                                               None
2                                   NaN  ...                                        orizing its
3                                    St  ...                                                NaN
4                                    St  ...                                           exercise
5                                    St  ...                           erwise not \nlicking the
6  Ge\ni. \nii. \niii. \niv. \nv. \nIns  ...  applicable\nh VC will be\n \ntime of the\nng  ...

[7 rows x 9 columns]

<Page:310>

                                     0  ...                                                  6
0  Manner of holdin\n(NSDL or CDSL) or  ...                                                NaN
1      a) For Members w\ndemat account  ...                ID\nlient ID is 12******, then your
2      b) For Members w\ndemat account  ...                       ************, then your User
3   c) For Members h\nshares in Physic  ...  istered with the Company\n  and  EVEN  is  101...

[4 rows x 7 columns]

<Page:311>

                                 0  ...                                                  3
0                    Time and date  ...             4:00 p.m. IST, Saturday, June 27, 2020
1                             Mode  ...      Video conference and other audio-visual means
2                  Participation t  ...            https://epoch.onwingspan.com/InfosysAGM
3                    Helpline numb  ...              +91-80- 4156 5555 / +91-80- 4156 5777
4                   Webcast and tr  ...                 https://www.infosys.com/Investors/
5                   Final dividend  ...                              Monday, June 01, 2020
6                   Final dividend  ...                              Friday, July 03, 2020
7                   Information of  ...  https://www.infosys.com/investors/shareholder-...
8                  Cut-off date fo  ...                            Saturday, June 20, 2020
9                 E-voting start t  ...               9:00 a.m. IST, Monday, June 22, 2020
10                 E-voting end ti  ...              5:00 p.m. IST, Friday,  June 26, 2020
11                  E-voting websi  ...                      https://www.evoting.nsdl.com/
12  Name, address\ne-voting servic  ...  Contact name : \nAmit Vishal \nSenior Manager\...

[13 rows x 4 columns]

<Page:313>

In [ ]:
ls2=[]
for i in ls1:
  a=i-1
  ls2.append(a)

In [ ]:
import fitz
doc = fitz.open("infosys-ar-20.pdf")
doc.select(ls2)
doc.save("extracted3.pdf")

In [ ]:
#!pip install pdf2image
#!apt-get install poppler-utils

In [ ]:
pdffile = "/content/gdrive/My Drive/pdf/extracted3.pdf"
doc = fitz.open(pdffile)
newls=[]
for i in range(0,len(doc)):
  page = doc.loadPage(i)  # number of page
  pix = page.getPixmap()
  output = "checker.jpg"
  pix.writePNG(output)
  image = cv2.imread('/content/gdrive/My Drive/pdf/images/checker.jpg')
  gray = cv2.cvtColor(image,cv2.COLOR_BGR2GRAY)
  thresh = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY_INV + cv2.THRESH_OTSU)[1]
  horizontal_kernel = cv2.getStructuringElement(cv2.MORPH_RECT, (15,1))
  detected_lines = cv2.morphologyEx(thresh, cv2.MORPH_OPEN, horizontal_kernel, iterations=2)
  cnts = cv2.findContours(detected_lines, cv2.RETR_EXTERNAL, cv2.CHAIN_APPROX_SIMPLE)
  cnts = cnts[0] if len(cnts) == 2 else cnts[1]
  apple=0
  for i in cnts:
    apple=apple+1
  if apple <= 2:
    continue
  a=str(page)
  a=a.split(' ')
  a=a[1]
  a=int(a)
  if a in newls:
    continue
  newls.append(a)
doc.select(newls)
doc.save("new_extracted.pdf")